{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}アカウント設定{% endblock %}

{% block css %}
<link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
<link href="{% static 'assets/css/tinytools.progressbar.min.css' %}" rel="stylesheet">
{% endblock %}

{% block js %}
<script src="{% static 'assets/js/tinytools.progressbar.js' %}" type="text/javascript"></script>
<script>
	$(document).ready(function () {
		$("#db_progress_bar").progressBar({
			width: "300px",
			height: "30px",
			backSplitLineColor: "#548982",
			foreSplitLineColor: "#548982"
		});
    var percent = {{ percent }};
    $("#db_progress_bar").setDbUsage(200, {{ show_size }}); //Set DB size (This is customized functionn)
		$("#db_progress_bar").changePercent(percent);
	});
</script>
{% endblock %}

{% block content %}
	<div id="setting_menu">
    {% include 'common/account_setting.html' with selected_tab=1 %}
	</div>
	<div id="menu_bottom_line"></div>
	<div class="row setting_main">
		<p class="setting_title"><b>ユーザー情報</b></p>
		<div class="row setting_margin">
			<div class="col-md-5"><p>登録名</p></div>
			<div class="col-md-5"><p>{{ user.profile.last_name }}&nbsp;{{ user.profile.first_name }}</p></div>
		</div>
		<div class="row setting_margin">
			<div class="col-md-5"><p>ユーザーID</p></div>
			<div class="col-md-5"><p>{{ user.username }}</p></div>
		</div>
		<div class="row setting_margin">
			<div class="col-md-5"><p>会社名</p></div>
			<div class="col-md-5"><p>{{ profile.company_name }}</p></div>
		</div>
		<div class="row setting_margin">
			<div class="col-md-5"><p>会社名(カナ)</p></div>
			<div class="col-md-5"><p>{{ profile.company_name_kana }}</p></div>
		</div>
		<div class="row setting_margin">
			<div class="col-md-5"><p>部署名</p></div>
			<div class="col-md-5"><p>{{ profile.department }}</p></div>
		</div>
		<div class="row setting_margin">
			<div class="col-md-5"><p>役職名</p></div>
			<div class="col-md-5"><p>{{ profile.job_title }}</p></div>
		</div>
		<div class="row setting_margin">
			<div class="col-md-5"><p>役職名</p></div>
			<div class="col-md-5"><p>{{ profile.tel_number }}</p></div>
		</div>
		<div class="row setting_margin">
			<div class="col-md-5"><p>郵便番号</p></div>
			<div class="col-md-5"><p>{{ profile.post_code }}</p></div>
		</div>
		<div class="row setting_margin">
			<div class="col-md-5"><p>住所</p></div>
			<div class="col-md-5"><p>{{ profile.address }}</p></div>
		</div>
		<p class="setting_detail">アカウント情報変更は<a href="{% url 'dashboard:profile_change' %}">こちら</a></p>
		<div class="menu_bottom_line_2"></div>
		<p class="setting_title"><b>お支払情報</b></p>
		<div class="row setting_margin">
			<div class="col-md-5">
				<p>お支払方法</p>
			</div>
		</div>
		<div class="row setting_margin">
			<div class="col-md-5">
				<p>最終お支払日</p>
			</div>
			<div class="col-md-5">
        <p>ー</p>
        <!--<p>{{ payment.pay_date|date:"Y年m月d日" }}</p>-->
			</div>
		</div>
		<div class="row setting_margin">
			<div class="col-md-5">
				<p>次回お支払日</p>
			</div>
			<div class="col-md-5">
        <p>ー</p>
        <!--<p>{{ payment.pay_date|date:"Y年m月d日" }}</p>-->
			</div>
		</div>
    <p class="setting_detail">規約<!--・支払-->の詳細は<a href="{% url 'dashboard:agreement_payment' %}">こちら</a></p>
		<div class="menu_bottom_line_2"></div>
		<p class="setting_title"><b>今月のご利用状況</b></p>
		<div class="row setting_margin">
			<div class="col-md-5">
				<p>ストレージ容量</p>
			</div>
			<div class="col-md-5">
				<div id="db_progress_bar"></div>
			</div>
		</div>
		<div class="row setting_margin">
			<div class="col-md-5">
				<p>残りDL回数</p>
			</div>
			<div class="col-md-5">
				<p>ー</p>
			</div>
		</div>
		<div class="row setting_margin">
			<div class="col-md-5">
				<p>残り作成可能プロジェクト数</p>
			</div>
			<div class="col-md-5">
          <p>{{ remain_proj }}</p>
			</div>
		</div>
    <!--<p class="setting_detail">PigDataアップグレード（ダウングレード）は<a href="{% url 'dashboard:plan_change' %}">こちら</a></p>-->
		<p class="setting_detail">再ダウンロードは<a href="{% url 'dashboard:product_download' %}">こちら</a></p>
  </div>
{% endblock %}
