{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}規約{% endblock %}

{% block css %}
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
{% endblock %}

{% block js %}
    <script src="{% static 'assets/js/pig_web_common.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <div id="setting_menu">
        {% include 'common/account_setting.html' with selected_tab=3 %}
	  </div>
	  <div id="menu_bottom_line"></div>
	  <div class="row setting_main">
          <!--
    	  	<div class="payment_box">
    			<p>お支払方法：クレジット（変更する場合は<a href="plan_change.html">こちら</a>）</p>
    			<p>最終お支払日：</p>
    			<p>次回お支払予定日：</p>
    		</div>
    		<p class="pay_agree_title">支払履歴の確認・ダウンロード</p>
    		<div class="menu_bottom_line_2"></div>
    		<div class="payment_table">
    			<table>
    				<tr>
    					<td>請求書</td>
    					<td>領収書</td>
    					<td>名目</td>
    					<td>支払確定日</td>
    					<td>ステータス</td>
    				</tr>
    				<tr>
    					<td><input type="checkbox"></td>
    					<td><input type="checkbox"></td>
    					<td>2018年8月 ビジネスプラン利用</td>
    					<td>2018/7/20（予定）</td>
    					<td>未</td>
    				</tr>
    				<tr>
    					<td><input type="checkbox"></td>
    					<td><input type="checkbox"></td>
    					<td>2018年7月 ビジネスプラン利用</td>
    					<td>2018/6/20</td>
    					<td>支払完了</td>
    				</tr>
    			</table>
    		</div>
    		<div class="pay_change_btn"><button type="submit" class="btn  mypage payment_btn">チェックしたものを<br />ダウンロード</button></div>
          -->
        <p class="pay_agree_title">規約の確認・ダウンロード</p>
    		<div class="menu_bottom_line_2"></div>
    		<div class="agreement_download">
    		    <p class="agreement_title"><b>PigData利用規約</b></p>
    		    <ul class="ul_indent">
    		        <li><a href="https://services.sms-datatech.co.jp/pig-data/user-policy/" target="_blank">確認する</a></li>
                <li><a href="{% static 'assets/pdf/user_policy.pdf' %}" target="_blank">PDFファイルをダウンロードする</a></li>
            </ul>
    <!--
    			<p class="agreement_title"><b>料金規約</b></p>
    			<ul class="ul_indent">
    				<li><a href="#" target="_blank">確認する</a></li>
    				<li><a href="#">PDFファイルをダウンロードする</a></li>
    			</ul>
    -->
            <p class="agreement_title"><b>プライバシーポリシー</b></p>
    		    <ul class="ul_indent">
    		        <li><a href="https://services.sms-datatech.co.jp/pig-data/privacy-policy/" target="_blank">確認する</a></li>
    		    </ul>
    		    <p class="agreement_title"><b>セキュリティーポリシー</b></p>
    		    <ul class="ul_indent">
    		        <li><a href="https://services.sms-datatech.co.jp/pig-data/security-policy/" target="_blank">確認する</a></li>
    		    </ul>
        </div>
    <!--
    		<p class="pay_agree_title">支払方法の変更</p>
    		<div class="menu_bottom_line_2"></div>
    		<p class="payment_method">現在の支払方法：銀行振込</p>
    		<p class="payment_method">支払変更は<a href="plan_change.html">こちら</a></p>
    -->
    </div>
{% endblock %}
