{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/apple-icon.png'%}" />
    <link rel="icon" type="image/png" href="{% static 'assets/images/favicon.png'%}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{% block title %}{% endblock %}</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    {% block meta %}{% endblock %}
    <!-- Bootstrap core CSS     -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />
    <!--  Material Dashboard CSS    -->
    <link href="{% static 'assets/css/material-dashboard.css' %}" rel="stylesheet" />
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="{% static 'assets/css/demo.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/dropdown.css' %}" rel="stylesheet" />
    <!--  Button CSS  -->
    <link href="{% static 'assets/css/button.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/btnbutton.css' %}" rel="stylesheet" />
    <!--  Fonts and icons     -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
    {% block css %}{% endblock %}

</head>

<body style="background-color: #dcf5f5; height: 100%;">
  <div id="contents_wrapper">
    <div class="wrapper">
        <!-- Header -->
        <nav class="navbar navbar-inverse nav-justified" style="background: #339999; z-index: 10000; margin-bottom: 0;">
            <div class="container-fluid">
                <form id="language-changer" action="{% url 'set_language' %}" method="post" style="display: none;">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}" />
                    <input name="language" type="hidden" value="" />
                </form>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav nav-justified main-header">
                        <li style="width: 0.001%;"><a href="{% url 'dashboard:index' %}"><img src="{% static 'assets/images/pig_side.png' %}" width="80"></a></li>
                        <li><a href="{% url 'dashboard:index' %}">{% trans "Home" %}</a></li>
                        <li><a href="{% url 'dashboard:project_list' %}">{% trans "Project" %}</a></li>
                        <li><a href="{% url 'dashboard:data_order' %}">{% trans "Data Order" %}</a></li>
                        <li><a href="/saas/start/">{% trans "Demo" %}</a></li>
                        <li><a href="https://services.sms-datatech.co.jp/pig-data/faq/?b">{% trans "FAQ" %}</a></li>
                        <li style="width: 0.6%; vertical-align: middle;">
                            <a class="profile-link" style="">
                                <div class="profile"><i class="fa fa-user" aria-hidden="true"></i>{{ user.profile.last_name}}&nbsp;{{ user.profile.first_name }}&nbsp;様</div>
                            </a>
                            <div class="popup">
                                <div><a href="{% url 'dashboard:account_setting_basic' %}">{% trans "Account" %}</a></div>
                                <div>
                                    {% for language in languages %}
                                        {% if language.code != LANGUAGE_CODE %}
                                            <a href="#" onclick="postLanguageChanger('{{ language.code }}'); return false;">{{ language.name_local }}</a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                {% if request.session.isClientTool != 1 %}
                                    <div><a href="{% url 'accounts:logout' %}">{% trans "Logout" %}</a></div>
                                {% endif %}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Main Part -->
        {% block content %}{% endblock %}
    </div>
    <!-- Footer -->
    <footer class="footer footer_gray">
        <div class="container-fluid">
            <nav>
                <p class="policy_link">
                	<a href="https://services.sms-datatech.co.jp/pig-data/privacy-policy/"><u>Privacy Policy</u></a>｜
                	<a href="https://services.sms-datatech.co.jp/pig-data/security-policy/"><u>Security Policy</u></a>｜
                	<a href="https://services.sms-datatech.co.jp/pig-data/"><u>プロダクトページ</u></a>｜
                	<a href="https://www.sms-datatech.co.jp/"><u>運営会社HP</u></a>
                </p>
            </nav>
            <p class="copyright">
                ©
                <script>
                document.write(new Date().getFullYear())
                </script>
                SMS DataTech all right reserved.
            </p>
        </div>
    </footer>
  </div>
</body>
    <!--   Core JS Files   -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/js/material.min.js' %}" type="text/javascript"></script>
    <!--  Dynamic Elements plugin -->
    <script src="{% static 'assets/js/arrive.min.js' %}"></script>
    <!--  PerfectScrollbar Library -->
    <script src="{% static 'assets/js/perfect-scrollbar.jquery.min.js' %}"></script>
    <!--  Notifications Plugin    -->
    <script src="{% static 'assets/js/bootstrap-notify.js' %}"></script>
    <!-- Material Dashboard javascript methods -->
    <script src="{% static 'assets/js/material-dashboard.js' %}"></script>
    {% block js %}{% endblock %}
</html>
