{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}解約完了{% endblock %}

{% block css %}
<link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
{% endblock %}

{% block js %}
<script src="{% static 'assets/js/pig_web_common.js' %}" type="text/javascript"></script>
<script type="text/javascript">
    setTimeout(function(){
        window.location.href = "https://services.sms-datatech.co.jp/pig-data/";
    }, 5*1000);
</script>
{% endblock %}

{% block content %}
<div style="height: 87vh;">
	<div class="title">
		<h2>解約</h2>
	</div>
	<div class="plan_wrapper">
		<div class="plan_form_wrapper">
			<p style="font-size: 20px; text-align: center;">解約完了いたしました。<br />ご利用誠にありがとうございました。</p>
		</div>
		<div class="plan_form_wrapper">
			<p class="align_right" style="margin-top: 100px;"><a href="https://services.sms-datatech.co.jp/pig-data/">製品トップページへ戻る</a></p>
		</div>
	</div>


</div>
{% endblock %}
