{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}Data Order{% endblock %}

{% block content %}
        <div class="main-panel" style="width: 50%;">
            <div class="content">
                <div class="container-fluid">
                    <div class="card">
                        <div class="heading">
                            <h4 class="title">{% trans "Data Order Form" %}</h4>
                        </div>
                        <div class="card-content" style="margin: 40px 20px;">
                            <div class="table-responsive table-upgrade">
                                {% trans "Data order has been completed. The representative will contact you by 3 business days" %}<br><br>
                                {{ email }}{% trans "We sent a mail. Please confirm." %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
