{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}Data Order{% endblock %}

{% block content %}
        <div class="main-panel" style="width: 50%;">
            <div class="content">
                <div class="container-fluid">
                    <div class="card">
                        <div class="heading">
                            <h4 class="title">{% trans "Data Order Form" %}</h4>
                        </div>
                        <div class="card-content" style="padding: 5px 40px 35px;">
                            <div class="table-responsive table-upgrade">
                                <div class="row">
                                    <div class="col-md-3"><div class="form-group"><b>{% trans "Person in Charge" %}</b></div></div>
                                    <div class="col-md-4"><div class="form-group">{{ user.profile.last_name}}&nbsp;{{ user.profile.first_name }}&nbsp;様</div></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"><div class="form-group label-floating"><b>{% trans "URL" %}</b></div></div>
                                    <div class="col-md-7"><div class="form-group label-floating">{{ form.url_list.value }}</div></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"><div class="form-group label-floating"><b>{% trans "Data Details" %}</b></div></div>
                                    <div class="col-md-7"><div class="form-group label-floating">{{ form.data_details.value }}</div></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"><div class="form-group label-floating"><b>{% trans "Due Date" %}</b></div></div>
                                    <div class="col-md-7"><div class="form-group label-floating">{{ form.due_date.value }}</div></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"><div class="form-group label-floating"><b>{% trans "Purpose" %}</b></div></div>
                                    <div class="col-md-7"><div class="form-group label-floating">{{ form.purpose.value }}</div></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"><div class="form-group label-floating"><b>{% trans "Budget" %}</b></div></div>
                                    <div class="col-md-7"><div class="form-group label-floating">{{ form.budget.value }}{% trans "yen" %}</div></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"><div class="form-group label-floating"><b>{% trans "Company" %}</b></div></div>
                                    <div class="col-md-7"><div class="form-group label-floating">{{ form.company.value }}</div></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"><div class="form-group label-floating"><b>{% trans "Department" %}</b></div></div>
                                    <div class="col-md-7"><div class="form-group label-floating">{{ form.department.value }}</div></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"><div class="form-group label-floating"><b>{% trans "Phone Number" %}</b></div></div>
                                    <div class="col-md-7"><div class="form-group label-floating">{{ form.phone_number.value }}</div></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"><div class="form-group label-floating"><b>{% trans "Contact Email" %}</b></div></div>
                                    <div class="col-md-7"><div class="form-group label-floating">{{ form.email.value }}</div></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"><div class="form-group label-floating"><b>{% trans "Automatical Update" %}</b></div></div>
                                    <div class="col-md-7">
                                        <div class="form-group label-floating">
                                            {% if form.regular_order.value == "1" %}
                                                {% trans "Yes" %}
                                            {% else %}
                                                {% trans "No" %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <form method="post" action="{% url 'dashboard:data_order_confirm' %}">
                                    {% csrf_token %}
                                    {% for field in form %}
                                        {{ field.as_hidden }}
                                    {% endfor %}
                                    <button type="submit" class="btn btn-primary btn-fill btn-info" name="back">{% trans "Re-enter" %}</button>
                                    <button type="submit" class="btn btn-primary btn-fill btn-info" name="done">{% trans "Send Order" %}</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
