{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>{{ pname }}</title>
		<link rel="stylesheet" type="text/css" href="{% static 'assets/css/ex.css' %}"/>
		<script type="text/javascript" src="{% static 'assets/js/protovis-d3.3.js' %}"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script type="text/javascript">
			var project = {};
			var file = "http://192.168.20.161/testing/" + "{{pid}}";
			// console.log(file);
			function convert() {
				var json_var = "";
				$.ajax({
					async: false,
					url : file,
					type : "GET",
					success: function(data){
						json_var = JSON.parse(data);
					},
					error: function(error){
						console.log(error);
					}
				});
				return json_var;
			}

			function conversion(data) {
				if(data == "") {
					alert("Sorry, the data connot be retrieved.");
				}
				else{
					json_var = JSON.parse(data);
					info = {};

					temp = {};
					temp[json_var["project_name"]] = '';
					info["Project Name"] = temp;
					
					temp = {};
					temp[json_var["start_url"]] = '';
					info["Starting URL"]= temp;

					switch(json_var["project_type"]) {
						case 1:
							info["Project Type"] = {"Single Page Extraction": ''};
							break;
						case 2:
							info["Project Type"] = {"Table Extraction": ''};
							break;
						case 3:
							info["Project Type"] = {"Multi-level Extraction": ''};
							break;
						case 4:
							info["Project Type"] = {"URL_List Extraction": ''};
							break;
						case 5:
							info["Project Type"] = {"Product Compare Extraction": ''};
							break;
						default:
							info["Project Type"] = {"": ''};
					}
					
					project["Project Info"] = info;

					for (i = 0; i < json_var["page_list"].length; i++){
						curr_page = {};
						page = json_var["page_list"][i];
						
						temp = {};
						temp[page["current_page_url"]] = '';
						curr_page["Current Page URL"] = temp;

						if (page["pagination"] != ''){
							temp = {};
							var temp_str = page["num_pages"] + "  pages";
							temp[temp_str] = '';
							curr_page["Pagination"] = temp;
						}
						else{
							curr_page["Pagination"] = {"No pagination": ''};
						}

						curr_action = {};
						for(j = 0; j < page["action_list"].length; j++){
							action = page["action_list"][j];
							act_val = {};

							temp = {};
							temp[action["column_name"]] = '';
							act_val["Column Name"] = temp;

							switch(action["action_type"]) {
								case 1:
									temp = {};
									temp["Simple Text Extraction"] = '';
									if(action["row_column"].length != 0){
										temp_txt = "Row no. = " + action["row_column"][0] + ",  Column no. = " + action["row_column"][1];
										temp[temp_txt] = '';
									}
									act_val["Action Type"] = temp;
									break;
								case 2:
									temp = {};
									temp["URL Extraction"] = '';

									act_val["Action Type"] = temp;
									break;
								case 3:
									temp = {};
									temp["Image Extraction"] = '';

									act_val["Action Type"] = temp;
									break;
								case 4:
									act_val["Action Type"] = {"Similar Image Extraction": ''};
									break;
								case 5:
									act_val["Action Type"] = {"Similar Text Extraction": ''};
									break;
								case 6:
									act_val["Action Type"] = {"Similar URL Extraction": ''};
									break;
								case 7:
									act_val["Action Type"] = {"Whole table Extraction": ''};
									break;
								case 8:
									temp = {};
									temp["Column Table Extraction"] = '';

									var temp_table = "Columns to be extracted: ";
									for(k=0; k<action["column_list"].length; k++) {
										temp_table = temp_table + " " + action["column_list"][k];
									}
									temp[temp_table] = '';
									
									act_val["Action Type"] = temp;
									break;
								default:
									act_val["Action Type"] = {"": ''};
							}
							var act_str = 'Action ' + (j+1);
							curr_action[act_str] = act_val;
						}
						curr_page["List of Actions"] = curr_action;
						

						var str = 'Page ' + (i+1);
						project[str] = curr_page;
					}
				}
			}

		</script>
		<meta charset="utf-8"/>
	</head>
	<body>

		<script type="text/javascript+protovis">
			var xdata = convert();
			conversion(xdata);
			var root = pv.dom(project)
					.root("Project Tree Diagram");

			/* Recursively compute the package sizes. */
			// root.visitAfter(function(n) {
			// 	if (n.firstChild) {
			// 		n.nodeValue = pv.sum(n.childNodes, function(n) n.nodeValue);
			// 	}
			// });

			// Panel for page height, width and margin
			var vis = new pv.Panel()
				.width("760") 	
				.def("i", -1)										// Width of the whole structure
				.height(function() (root.nodes().length + 1) * 30)		// Height of the whole structure 
				.margin(5);												// Margin for the whole sturcture

			// layout b/w nodes
			var layout = vis.add(pv.Layout.Indent)
				.nodes(function() root.nodes())
				.depth(25)							// breadth from left to node
				.breadth(24);						// depth b/w nodes
			layout.link.add(pv.Line);

			var index = -1;
			var node = layout.node.add(pv.Panel)
				.top(function(n) n.y - 6)
				.height(20)
				.right(6)
				.strokeStyle(null)
				// .events("all")
				// .strokeStyle(function(n) n.toggled ? "#1f77b4" : n.firstChild ? "#aec7e8" : "#ff7f0e")
				// .lineWidth(1)
				// .fillStyle(function(n) n.toggled ? "#aec7e8" : n.firstChild ? "#aec7e8" : "#ff7f0e")
				// .title(function(n) n.toggled ? null: n.firstChild ? null : (n + ".hyh"))
				.event("mousedown", toggle);
				// .event("mouseover", onmouseover);

			node.title(function(n) n.toggled ? null: n.firstChild ? null : isUrl(n.nodeName) ? n.nodeName : null)
			.cursor(function(n) n.toggled ? null: n.firstChild ? null : isUrl(n.nodeName) ? "pointer" : null)
			// .width(function(n) n.toggled ? 600: n.firstChild ? 600 : isUrl(n.nodeName) ? calWidth(n.nodeName) : 500)
			.fillStyle(function(n) n.toggled ? (vis.i() == this.index ? "#9cb3d0" : "#aec7e8") : n.firstChild ? (vis.i() == this.index ? "#9cb3d0" : "#aec7e8") : (vis.i() == this.index ? "#f47200" : "#ff7f0e") )
			.event("mouseover", function() vis.i(this.index))
			.event("mouseout", function() vis.i(-1))
			.event("click", function(n) n.toggled ? null: n.firstChild ? null : isUrl(n.nodeName) ? self.location = n.nodeName : null);
			
			node.anchor("left").add(pv.Dot)
				// .strokeStyle("#1f77b4")
				.strokeStyle(null)
				.fillStyle(function(n) n.toggled ? "#aec7e8" : n.firstChild ? "#1f77b4" : null)
				.title(function t(d) d.parentNode ? (t(d.parentNode) + "." + d.nodeName) : d.nodeName)
				.anchor("right").add(pv.Label)
				.textDecoration(function(n) updateUrl(n, "underline", null))
				.textStyle(function(n) updateUrl(n, "#0000EE", "black"))
				.font(function(n) n.toggled ? "bold 14px sans-serif" : n.firstChild ? "bold 12px sans-serif" : "12px sans-serif")
				.text(function(n) limitText(n.nodeName));

			node.anchor("right").add(pv.Label)
				.right(100)
				.textStyle(function(n) n.firstChild || n.toggled ? "#aaa" : "#000")
				.text(function(n) (n.nodeValue));

			vis.render();

			/* Toggles the selected node, then updates the layout. */
			function toggle(n) {
				n.toggle(pv.event.altKey);
				return layout.reset().root;
			}

			function calWidth(n){
				return 500;	
			}

			function limitText(string){
				if(string.length < 104){
					return string;
				} else{
					return string.substring(0, 100) + "...";
				}

			}

			function updateUrl(n, value1, value2){
				if(n.toggled){
					return value2;
				} else {
					if(n.firstChild){
						return value2;
					} else {
						if(isUrl(n.nodeName)){
							return value1;
						}
						else{
							return value2;
						}
					}
				}
			}

			function isUrl(string){
				if(string.substring(0,4) == 'http'){
					return true;					
				}
				else{
					return false;
				}
			}
			// ALL extra statements
			// .textDecoration(function(n) n.toggled ? null: n.firstChild ? null : isUrl(n.nodeName) ? "underline" : null)
			// .textStyle(function(n) n.toggled ? "black": n.firstChild ? "black" : isUrl(n.nodeName) ? "#0000EE" : "black")


		</script>

	</body>
</html>
