{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}Home{% endblock %}

{% block css %}
    <link href="{% static 'assets/css/dashboard_index.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/tinytools.progressbar.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div >
    <div class="content">
        {% if request.session.isClientTool == 1 %}
		    <section id="banner"></section>
        {% else %}
		    <section id="banner" class="banner-server"></section>
        {% endif %}
        {% if request.session.isClientTool == 1 %}
        <div class="img-area">
            <a href="" onclick="myFunction()">
                <img src="{% static 'assets/images/create_project_btn.png' %}">
            </a>
		        <p id="demo"></p>
        </div>
        {% endif %}
		    <div>
		        <div class="highlights">
		            <section>
		                <div class="content">
		                    <header>
		                        <h3>{% trans "Blogs" %}</h3>
		                    </header>
                        <div class="table-responsive text-left">
                            <table class="table table-hover" id="project_table">
                                <thead>
                                    <th>{% trans "Date" %}</th>
                                    <th>{% trans "Blog" %}</th>
                                </thead>
                                <tbody>
                                    {% for blog in blog_info %}
                                    <tr>
                                        <td>{{ blog.2 }}</td>
                                        <td><a href="{{ blog.1 }}">{{ blog.0|truncatechars:20 }}</a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
		                </div>
		            </section>
		            <section>
		                <div class="content">
		                    <header>
		                        <h3>{% trans "Project History" %}</h3>
		                    </header>
                        <div class="table-responsive text-left">
                            <table class="table table-hover" id="project_table">
                                <thead>
                                    <th>{% trans "Date" %}</th>
                                    <th>{% trans "Project" %}</th>
                                </thead>
                                <tbody>
                                    {% for project in projects.values %}
                                    <tr>
                                        <td>{{ project.date_created|date:"Y/m/d" }}</td>
                                        <td>{{ project.name|truncatechars:21 }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
		                </div>
		            </section>
		            <section>
		                <div class="content">
		                    <header>
                            <h3>{% trans "Usage status of this month" %}</h3>
		                    </header>
                        <div class="graph-content">
                            <div style="text-align: left; margin: 3px 0;">
		                            <span>{% trans "Amount of Data" %}</span>：{{ show_size }}{{ unit }}
                            </div>
				                    <div id="db_progress_bar"></div>
                            <div style="text-align: left; margin: 3px 0;">
                                <span>{% trans "Amount of Projects" %}</span>：{{ totalprojects }}
                                <div class="boxWrap">
                                    {% for i in box_num %}
                                        {% if i <= storage_ratio %}
                                            <div class="box"></div>
                                        {% else %}
                                            <div class="box" style="background: #fff;"></div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <!--
                        <div class="text-right">
                            <button class="btn btn-up"><a href="{% url 'dashboard:upgrade' %}">{% trans "Upgrade here" %}</a></button>
                        </div>
                        -->
		                </div>
		            </section>
		        </div>
		    </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'assets/js/tinytools.progressbar.js' %}" type="text/javascript"></script>
<script type="text/javascript">
    //connect server with client
		function myFunction() {
	      var backend;
	      new QWebChannel(qt.webChannelTransport, function (channel) {
	          backend = channel.objects.backend;
	          column_type();
	      });
	      function column_type(){
	          backend.project_start(1);
	      }
		}

  //automatic graph
	$(document).ready(function () {
		$("#db_progress_bar").progressBar({
			width: "300px",
			height: "30px",
			backSplitLineColor: "#548982",
			foreSplitLineColor: "#548982"
		});
    var percent = {{ percent }};
    $("#db_progress_bar").setDbUsage(200, {{ show_size }}); //Set DB size (This is customized functionn)
		$("#db_progress_bar").changePercent(percent);
	});
</script>
{% endblock %}
