{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}登録情報詳細・変更{% endblock %}

{% block css %}
<link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
{% endblock %}

{% block js %}
<script src="{% static 'assets/js/pig_web_common.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
	  <div id="setting_menu">
        {% include 'common/account_setting.html' with selected_tab=2 %}
	  </div>
	  <div id="menu_bottom_line"></div>
	  <div class="row setting_main">
		    <p class="setting_title"><b>パスワードの変更</b></p>
		    <div class="profile_change_wrapper">
            <!--<p class="forget_pass">※パスワードを忘れた場合は<a href="#">こちら</a></p>-->
            {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.errors }}
                </div>
            {% endif %}
            <form action="" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            旧パスワード<sup>*</sup><br>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">{{ form.old_password }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            新パスワード<sup>*</sup><br>
                            <span style="font-size: 12px;">&nbsp;({% trans "Enter using more than eight letters" %})</span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">{{ form.new_password1 }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            新パスワード(確認)<sup>*</sup><br>
                            <span style="font-size: 12px;">&nbsp;({% trans "Enter using more than eight letters" %})</span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">{{ form.new_password2 }}</div>
                    </div>
                </div>
                <div class="pay_change_btn"><button type="submit" class="btn mypage">変更メールの送信</button></div>
            </form>
        </div>
    </div>
{% endblock %}
