{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}支払方法変更{% endblock %}

{% block css %}
<link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
{% endblock %}

{% block js %}
<script src="{% static 'assets/js/pig_web_common.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div style="height: 87vh;">
	<div id="setting_menu">
    {% include 'common/account_setting.html' with selected_tab=3 %}
	</div>
	<div id="menu_bottom_line"></div>
	<div class="row setting_main">
		<div class="payment_change_box">
			<h3 style="text-align: center;">クレジットカード支払から銀行振込へ変更</h3>
                        <div class="row">
                        	<div class="col-md-3">
                        		<div class="form-group"><p>請求書必要情報<sup>*</sup></p></div>
                        	</div>
                        </div>
                        <div class="row">
                        	<div class="col-md-3">
                        		<div class="form-group"><p><span>会社名</span></p></div>
                        	</div>
                        	<div class="col-md-8">
                        		<div class="form-group"><input type="text" style="width: 100%"></div>
                        	</div>
                        </div>
                        <div class="row">
                        	<div class="col-md-3">
                        		<div class="form-group"><p><span>郵便番号</span></p></div>
                        	</div>
                        	<div class="col-md-8">
	                        	<div class="form-group"><input type="text" style="width: 100%"></div>
	                        </div>
                        </div>
                        <div class="row">
                        	<div class="col-md-3">
                        		<div class="form-group"><p><span>電話番号</span></p></div>
                        	</div>
                        	<div class="col-md-8">
                        		<div class="form-group"><input type="text" style="width: 100%"></div>
                        	</div>
                        </div>
                        <div class="row">
                        	<div class="col-md-3">
                        		<div class="form-group"><p><span>送付先住所</span></p></div>
                        	</div>
                        	<div class="col-md-8">
	                        	<div class="form-group"><input type="text" style="width: 100%"></div>
	                        </div>
                        </div>
		</div>
		<div class="align_center"><a href="payment_change_finish.html"><button type="button" class="btn mypage">変更</button></a></div>
	</div>




<!--

		<span>プラン<sup>*</sup><br /><span class="small">詳しくは<a href="#" target="_blank">こちら</a>(別タブで開きます)</span></span>
		<div class="FreePlan mouse_over">
			<div class="table-left"><input type="radio" name="plan" id="payment_plan_free" value="free"></div>
			<div class="table-right">Freeプラン<br />
				<ul>
				<li>プロジェクト数5つまで</li>
				<li>ストレージ容量200MBまで</li>
				<li>1月あたりのダウンロード回数5回まで</li>
				</ul>
			</div>
		</div>

		<div class="BusinessPlan mouse_over">
			<div class="table-left"><input type="radio" name="plan" id="payment_plan_business" value="business"></div>
			<div class="table-right">Businessプラン<br />
				<ul>
				<li>プロジェクト数5つまで</li>
				<li>ストレージ容量200MBまで</li>
				<li>1月あたりのダウンロード回数5回まで</li>
				</ul>
			</div>
		</div>

		<div id="business_payment_outer">
			<span>お支払い方法<sup>*</sup><br /><span class="small">詳しくは<a href="#" target="_blank">こちら</a>(別タブで開きます)</span></span>
			<div class="card mouse_over">
				<div class="table-left"><input type="radio" name="payment" value="card" id="pay_method_card"></div>
				<div class="table-right">クレジットカード払い<br />
					<ul>
					<li>利用前月20日に支払確定</li>
					</ul>
				</div>
			</div>

			<div class="bank mouse_over">
				<div class="table-left"><input type="radio" name="payment" value="invoice" id="pay_method_innvoice"></div>
				<div class="table-right">銀行振込(請求書払い)<br />
					<ul>
					<li>利用月の翌月末日に銀行振込</li>
					<li>法人限定</li>
					</ul>
				</div>
			</div>

			<div class="payment_card_info">
				<p>クレジット情報の入力<sup>*</sup></p>
				<p><span>クレジットカード番号</span><input type="text"></p>
				<p><span>パスワード</span><input type="text"></p>
				<p class="small pass-info">弊社ではクレジットカード決済にサービス<a href="#" target="_blank">PAYJP</a>を利用しており、お客様のクレジット番号、暗証番号の情報は一切保有しておりません。</p>
			</div>

			<div class="payment_invoice_info">
				<p>請求書必要情報<sup>*</sup></p>
				<p><span>会社名</span><input type="text"></p>
				<p><span>郵便番号</span><input type="text"></p>
				<p><span>電話番号</span><input type="text"></p>
				<p><span>送付先住所</span><input type="text"></p>
			</div>
		</div>

		<table>
			<tr>
				<td><a href="#" target="_blank">PigData利用規約</a>へ同意しますか？<sup>*</sup></td>
				<td><input type="radio" name="agreement">はい<input type="radio" name="agreement" value="true">いいえ</td>
			</tr>
			<tr>
				<td><a href="#" target="_blank">プライバシーポリシー</a>へ同意しますか？<sup>*</sup></td>
				<td><input type="radio" name="privacy">はい<input type="radio" name="privacy" value="true">いいえ</td>
			</tr>
			<tr>
				<td><a href="#" target="_blank">セキュリティーポリシー</a>へ同意しますか？<sup>*</sup></td>
				<td><input type="radio" name="security">はい<input type="radio" name="security" value="true">いいえ</td>
			</tr>
		</table>
		<p class="confirm"><a id="data_submit" href="#">入力情報確認</a></p>
	</div>
-->
</div>
{% endblock %}
