{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}登録情報変更完了{% endblock %}

{% block meta %}
<meta http-equiv="refresh" content="10;URL={% url 'accounts:account_setting_basic' %}">
{% endblock %}

{% block css %}
<link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
{% endblock %}

{% block js %}
<script src="{% static 'assets/js/pig_web_common.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div style="height: 87vh;">
	<div id="setting_menu">
    {% include 'common/account_setting.html' with selected_tab=3 %}
	</div>
	<div id="menu_bottom_line"></div>
	<div class="row setting_main">
		<div class="change_finish">
			<h3 class="align_center" style="margin: 50px 0;">支払方法の変更が完了しました。</h3>
			<p>10秒後に<a href="account_setting_basic.html">アカウント設定ページ</a>へ自動的に移行します。</p>
		</div>
	</div>
<!--

		<span>プラン<br /><span class="small">詳しくは<a href="#" target="_blank">こちら</a>(別タブで開きます)</span></span>
		<div class="FreePlan mouse_over">
			<div class="table-left"><input type="radio" name="plan" id="payment_plan_free" value="free"></div>
			<div class="table-right">Freeプラン<br />
				<ul>
				<li>プロジェクト数5つまで</li>
				<li>ストレージ容量200MBまで</li>
				<li>1月あたりのダウンロード回数5回まで</li>
				</ul>
			</div>
		</div>

		<div class="BusinessPlan mouse_over">
			<div class="table-left"><input type="radio" name="plan" id="payment_plan_business" value="business"></div>
			<div class="table-right">Businessプラン<br />
				<ul>
				<li>プロジェクト数5つまで</li>
				<li>ストレージ容量200MBまで</li>
				<li>1月あたりのダウンロード回数5回まで</li>
				</ul>
			</div>
		</div>

		<div id="business_payment_outer">
			<span>お支払い方法<br /><span class="small">詳しくは<a href="#" target="_blank">こちら</a>(別タブで開きます)</span></span>
			<div class="card mouse_over">
				<div class="table-left"><input type="radio" name="payment" value="card" id="pay_method_card"></div>
				<div class="table-right">クレジットカード払い<br />
					<ul>
					<li>利用前月20日に支払確定</li>
					</ul>
				</div>
			</div>

			<div class="bank mouse_over">
				<div class="table-left"><input type="radio" name="payment" value="invoice" id="pay_method_innvoice"></div>
				<div class="table-right">銀行振込(請求書払い)<br />
					<ul>
					<li>利用月の翌月末日に銀行振込</li>
					<li>法人限定</li>
					</ul>
				</div>
			</div>

			<div class="payment_card_info">
				<p>クレジット情報の入力</p>
				<p><span>クレジットカード番号</span><input type="text"></p>
				<p><span>パスワード</span><input type="text"></p>
				<p class="small pass-info">弊社ではクレジットカード決済にサービス<a href="#" target="_blank">PAYJP</a>を利用しており、お客様のクレジット番号、暗証番号の情報は一切保有しておりません。</p>
			</div>

			<div class="payment_invoice_info">
				<p>請求書必要情報</p>
				<p><span>会社名</span><input type="text"></p>
				<p><span>郵便番号</span><input type="text"></p>
				<p><span>電話番号</span><input type="text"></p>
				<p><span>送付先住所</span><input type="text"></p>
			</div>
		</div>

		<table>
			<tr>
				<td><a href="#" target="_blank">PigData利用規約</a>へ同意しますか？</td>
				<td><input type="radio" name="agreement">はい<input type="radio" name="agreement" value="true">いいえ</td>
			</tr>
			<tr>
				<td><a href="#" target="_blank">プライバシーポリシー</a>へ同意しますか？</td>
				<td><input type="radio" name="privacy">はい<input type="radio" name="privacy" value="true">いいえ</td>
			</tr>
			<tr>
				<td><a href="#" target="_blank">セキュリティーポリシー</a>へ同意しますか？</td>
				<td><input type="radio" name="security">はい<input type="radio" name="security" value="true">いいえ</td>
			</tr>
		</table>
		<p class="confirm"><a id="data_submit" href="#">入力情報確認</a></p>
	</div>
-->
</div>
{% endblock %}
