{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}プラン変更確認{% endblock %}

{% block css %}
<link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
{% endblock %}

{% block js %}
<script src="{% static 'assets/js/pig_web_common.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div>
    <form method="post" id="submit_form" action="{% url 'dashboard:plan_change_finish' %}">
    {% csrf_token %}
    <div class="title">
        <h2>プラン変更</h2>
    </div>
    <div class="plan_wrapper">
    <h3 class="align_center">Businessプランにアップグレードします。</h3>
    <div class="plan_table_wrapper">
      <div class="plan_box plan_gray">
        <p>変更前</p>
        <div class="plan_detail">
        <div class="row">
          <div class="col-md-6"><p>プラン</p></div>
          <div class="col-md-1"><p>：</p></div>
          <div class="col-md-4"><p>Free</p></div>
        </div>
        <div class="row">
          <div class="col-md-6"><p>プロジェクト上限</p></div>
          <div class="col-md-1"><p>：</p></div>
          <div class="col-md-4"><p>5</p></div>
        </div>
        <div class="row">
          <div class="col-md-6"><p>ストレージ上限</p></div>
          <div class="col-md-1"><p>：</p></div>
          <div class="col-md-4"><p>200GB</p></div>
        </div>
        <div class="row">
          <div class="col-md-6"><p>ダウンロード回数</p></div>
          <div class="col-md-1"><p>：</p></div>
          <div class="col-md-4"><p>5回</p></div>
        </div>
        <div class="row">
          <div class="col-md-6"><p>支払金額</p></div>
          <div class="col-md-1"><p>：</p></div>
          <div class="col-md-4"><p>月額0円</p></div>
        </div>
      </div>
      </div>
      <div class="plan_box plan_green">
        <p>変更後</p>
        <div class="plan_detail">
        <div class="row">
          <div class="col-md-6"><p>プラン</p></div>
          <div class="col-md-1"><p>：</p></div>
          <div class="col-md-4"><p>Business</p></div>
        </div>
        <div class="row">
          <div class="col-md-6"><p>プロジェクト上限</p></div>
          <div class="col-md-1"><p>：</p></div>
          <div class="col-md-4"><p>10</p></div>
        </div>
        <div class="row">
          <div class="col-md-6"><p>ストレージ上限</p></div>
          <div class="col-md-1"><p>：</p></div>
          <div class="col-md-4"><p>400GB</p></div>
        </div>
        <div class="row">
          <div class="col-md-6"><p>ダウンロード回数</p></div>
          <div class="col-md-1"><p>：</p></div>
          <div class="col-md-4"><p>10回</p></div>
        </div>
        <div class="row">
          <div class="col-md-6"><p>支払金額</p></div>
          <div class="col-md-1"><p>：</p></div>
          <div class="col-md-4"><p>月額5000円</p></div>
        </div>
        <div class="row">
          <div class="col-md-6"><p>支払方法</p></div>
          <div class="col-md-1"><p>：</p></div>
          <div class="col-md-4"><p>クレジットカード</p></div>
        </div>
        <div class="row">
          <div class="col-md-6"><p>プラン適用開始日</p></div>
          <div class="col-md-1"><p>：</p></div>
          <div class="col-md-4"><p>○月○日</p></div>
        </div>
        </div>
      </div>
    </div>
    <div class="align_center"><a href="plan_change_finish.html"><button type="button" class="btn mypage">変更手続きへ</button></a></div>
  </div>
  </form>
</div>
{% endblock %}
