{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}プラン変更完了{% endblock %}

{% block meta %}
<meta http-equiv="refresh" content="10;URL={% url 'accounts:account_setting_basic' %}">
{% endblock %}

{% block css %}
<link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
{% endblock %}

{% block js %}
<script src="{% static 'assets/js/pig_web_common.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div style="height: 87vh;">
    <div class="title" style="margin-top: 50px;">
    <h2>プラン変更</h2>
    </div>
    <div class="plan_wrapper">
		<h3 class="align_center" style="margin: 50px 0;">Businessプランにアップグレードしました。</h3>
		<p class="align_center">10秒後に<a href="{% url 'accounts:account_setting_basic' %}">アカウント設定ページ</a>へ自動的に移行します。</p>
    </div>
</div>
{% endblock %}
