{% extends "base-global.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Profile Change" %}{% endblock %}

{% block css %}
<link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div id="setting_menu">
    {% include 'common/account_setting.html' with selected_tab=2 %}
</div>
<div id="menu_bottom_line"></div>
<div class="row setting_main">
		<p class="setting_title"><b class="border_bottom">{% trans "Profile Change" %}</b></p>
		<div class="profile_change_wrapper">
        <p class="caution"><sup>*</sup>{% trans "Mandatory fields" %}</p>
        {% if messages %}
            <div class="alert alert-info" role="alert" style="width: 800px; text-align: center; font-size: 18px;">
                {% trans "You changed the member information successfully." %}
            </div>
        {% endif %}

        {% if profile_form.errors %}
            <div class="alert alert-danger" role="alert">
                {{ profile_form.errors }}
            </div>
        {% endif %}
        <form method="post" id="submit_form" action="{% url 'dashboard:profile_change' %}">
            {% csrf_token %}
            <div class="row">
	                <div class="col-md-4">
                      <div class="form-group"><b>{% trans "User ID" %}</b></div>
	                </div>
	                <div class="col-md-6">
                      <div class="form-group">{{ user.username }}</div>
	                </div>
	            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group"><b>{% trans "Your Name" %}</b><sup>*</sup></div>
                </div>
                <div class="col-md-1">
                    <div class="form-group" style="margin: 45px 0 0 0;">{% trans "Last Name" %}</div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">{{ profile_form.last_name }}</div>
                </div>
                <div class="col-md-1">
                    <div class="form-group" style="margin: 45px 0 0 0;">{% trans "First Name" %}</div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">{{ profile_form.first_name }}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group"><b>{% trans "Your Name (kana)" %}</b><sup>*</sup></div>
                </div>
                <div class="col-md-1">
                    <div class="form-group" style="margin: 45px 0 0 0;">{% trans "Last Name (kana)" %}</div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">{{ profile_form.last_name_kana }}</div>
                </div>
                <div class="col-md-1">
                    <div class="form-group" style="margin: 45px 0 0 0;">{% trans "First Name (kana)" %}</div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">{{ profile_form.first_name_kana }}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group"><b>{% trans "Company Name" %}</b><sup>*</sup></div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">{{ profile_form.company_name }}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group"><b>{% trans "Company (kana)" %}</b><sup>*</sup></div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">{{ profile_form.company_name_kana }}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group"><b>{% trans "Department" %}</b></div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">{{ profile_form.department }}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group"><b>{% trans "Position" %}</b></div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">{{ profile_form.job_title }}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group"><b>{% trans "Phone Number" %}</b><span style="font-size: 11px;">&nbsp;({% trans "without dash" %})</span></div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">{{ profile_form.tel_number }}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group"><b>{% trans "Postal Code" %}</b><span style="font-size: 11px;">&nbsp;({% trans "without dash" %})</span><br />
                        <span class="font_small">{% trans "It is mandatory when paying with invoice" %}</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">{{ profile_form.post_code }}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group"><b>{% trans "Address" %}</b><br /><span class="font_small">{% trans "It is mandatory when paying with invoice" %}</span></div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">{{ profile_form.address }}</div>
                </div>
            </div>
            <div class="pay_change_btn"><button type="submit" id="btn_profile" class="btn mypage">{% trans "Send Email" %}</button></div>
        </form>
		</div>
		<div class="menu_bottom_line_2"></div>
		<p class="setting_title">
        <b class="border_bottom">{% trans "Change Password" %}</b>
    </p>
		<div class="profile_change_wrapper">
			  <p class="align_right">{% trans "Change Password is" %}<a href="{% url 'dashboard:password_change' %}">{% trans "Here" %}</a></p>
		</div>

    <!-- Email changing form -->
		<p class="setting_title">
        <b class="border_bottom">{% trans "Change Email" %}</b>
    </p>
    <div class="profile_change_wrapper">
          <p class="align_right">{% trans "Change Email is" %}<a id="change_email_btn">{% trans "Here" %}</a></p>
    </div>
    <form id="change_email_form">
        {% csrf_token %}
        <tr>
            <td><b>{% trans "New email address" %}:</b></td>
            <td><input type="email" name="email" id='new_email' class="form-control"></td>
        </tr>
        <tr>
            <td><b>{% trans "Re-enter new email address" %}:</b></td>
            <td><input type="email" name="confirm_email" id='confirm_email' class="form-control"></td>
        </tr>
        <button type="submit" id="submit" class="btn mypage" style="margin-bottom:10px; margin-left: 30px;">{% trans "Change Your email" %}</button>
    </form>

		<p class="setting_title">
        <b class="border_bottom">{% trans "Cancellation of PigData" %}</b>
    </p>
		<div class="profile_change_wrapper">
		    <p class="align_right" style="margin-bottom:100px;">{% trans "Cancellation of PigData is" %}<a href="{% url 'dashboard:cancel' %}">{% trans "Here" %}</a></p>
		</div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'assets/js/jquery.autoKana.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/js/jquery.jpostal.js' %}" type="text/javascript"></script>
<script type="text/javascript">
    $(function() {
        $.fn.autoKana('#id_last_name', '#id_last_name_kana', {
        	  katakana : true
        });
    });
    $(function() {
        $.fn.autoKana('#id_first_name', '#id_first_name_kana', {
            katakana : true
        });
    });
    $(function() {
        $.fn.autoKana('#id_company_name', '#id_company_name_kana', {
            katakana : true
        });
    });
    $(document).ready(function () {
        $('#id_post_code').jpostal({
            postcode : [
                '#id_post_code'
            ],
            address : {
                '#id_address' : '%3%4%5'
            },
            url : {
                'http'  : '/json/',
                'https' : '/json/'
            }
        });
    });

    //activate form button when user input form content
    $("#btn_profile").prop("disabled", true);
    $(function() {
        $('input[type="text"]').change(function() {
            $("#btn_profile").prop("disabled", false);
        });
    });
</script>

<!-- custom script for email_change toggling -->
<!--script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script-->
<script type="text/javascript">
    $(document).ready(function(){
        $("#change_email_btn").click(function(){
            $("#change_email_form").toggle();
        });
    });

    $("#change_email_form").on("submit", function(){
        if($("#new_email").val() != $("#confirm_email").val()) {
            alert("Emails doesn't match!");
            return;
        }

        formData = {};
        $('#change_email_form').find("input[name]").each(function (index, node) {
            formData[node.name] = node.value;
        });

        //check user.id
        formData['uid'] = {{ user.id }};

        message = ''
        $.ajax({
            url : "{% url 'dashboard:email_change' %}",
            type : "POST",
            data : formData,

            // handle a successful response
            success : function(json) {
                message = 'Activation email sent to your new email-address. Please follow those instructions to complete your email verification.';
            },
            // handle a non-successful response
            error : function(xhr, errmsg, err) {
                message = errmsg;
            }
        });

        $("#change_email_form").toggle();
    });
</script>
{% endblock %}
