{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}Project{% endblock %}

{% block css %}
    <!--  Modal Window  -->
    <link href="{% static 'assets/css/modal.css' %}" rel="stylesheet" />
    <!-- Calendar CSS -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% block content %}
            <div class="main-panel">
                <div class="content">
                    {% if request.session.isClientTool == 1 %}
                    <div class="create-btn">
                        <a href="" onclick="myFunction()">
                            <img src="{% static 'assets/images/create_project_btn.png' %}" width="9%" style="max-width: 105px;">
                        </a>
                    </div>
                    {% endif %}
                    <hr class="style-one">
                    <span><b>{% trans "Your Project" %}</b></span>
                    <div class="text-right" style="display:inline-block; vertical-align: middle; width: 85%; margin: 10px 0;">
                        <form action="" method="POST" id="sort_form">
                            {% csrf_token %}
                            <input type="hidden" id="sort" name="sort">
                            <input type="hidden" id="mode" name="mode" value="{{ currentMode }}">
                            <span class="dropdown">
                                <button class="dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    {% trans "Display Format" %}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                                    <!--<li onclick="$('#mode').val('{% if currentMode == 'projectMode' %}category{% else %}project{% endif %}'); $('#sort_form').submit();"><a>{{ currentMode }}</a></li>-->
                                    <li onclick="$('#mode').val('categoryMode'); $('#sort_form').submit();"><a>{% trans "category" %}</a></li>
                                    <li onclick="$('#mode').val('projectMode'); $('#sort_form').submit();"><a>{% trans "project" %}</a></li>
                                </ul>
                            </span>
                            <span class="dropdown">
                                <button class="dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    {% trans "Sort" %}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                                    <li onclick="$('#sort').val('-date_created'); $('#sort_form').submit();"><a>{% trans "Date" %}</a></li>
                                    <li onclick="$('#sort').val('name'); $('#sort_form').submit();"><a>{% trans "Name" %}</a></li>
                                    {% if currentMode == "projectMode" %}
                                    <li onclick="$('#sort').val('category'); $('#sort_form').submit();"><a>{% trans "Category" %}</a></li>
                                    {% endif %}
                                </ul>
                            </span>
                            <span>
                                <input class="search-box fa" type="text" placeholder="&#xf002;{% trans "input keyword" %}" />
                            </span>
                        </form>
                    </div>
                    <hr class="style-one">
                    <div id="all_project" class="col-md-12" value="{{ currentMode }}">
                        {% if num_proj != 0 %}
                            {% for category in categorys %}
                                <div class="card proj_table">
                                    {% if currentMode == "categoryMode" and category != "No Category"%}
                                        <div class="card-header" data-background-color="green">
                                            <table>
                                                <tr>
                                                    <td width="1%" style="text-align: left;"><span class="modal-open"><i class="fa fa-plus" aria-hidden="true"></i></span><span><i class="fa fa-minus" aria-hidden="true"></i></span></td>
                                                    <td width="10%"><h6 class="title">{% trans "Category Name" %}：{{ category }}</h6></td>
                                                    <td width="1%" style="text-align: right; font-size: 23px;">
                                                        <span class="trash" onclick="if(confirm('{% trans 'Category' %}: {{ category }}\n{% trans 'Are you sure you want to delete above category?' %}')){location.href='{% url 'dashboard:delete_category' category %}';};">
                                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                                        </span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    {% endif %}
                                    <div class="card-content table-responsive">
                                        <table class="table table-hover" id="project_table">
                                            {% if currentMode == "categoryMode" and category == "No Category" or currentMode == "projectMode" %}
                                            <thead>
                                                <th>{% trans "Project Name" %}</th>
                                                <th>{% trans "Created Date" %}</th>
                                                <th>{% trans "Latest Execution" %}</th>
                                                {% if currentMode == "projectMode" %}
                                                <th>{% trans "Category" %}</th>
                                                {% endif %}
                                                <th>{% trans "Schedule" %}</th>
                                                <th></th>
                                            </thead>
                                            {% endif %}
                                            <tbody>
                                                {% for project in projects.values %}
                                                    {% if currentMode == "categoryMode" and category == project.category or currentMode == "projectMode" %}
                                                        <tr>
                                                            <td width='35%'><p class="proj_name">{{ project.name }}</p></td>
                                                            <td width='10%'><span class="proj_date">{{ project.date_created|date:"Y/m/d　G:i" }}</span></td>
                                                            <td width='10%'><span class="exec_date">{% for execution in project.executions %}{% if forloop.first %}{{ execution.date_executed|date:"Y/m/d　G:i" }}{% endif %}{% endfor %}</span></td>
                                                            {% if currentMode == "projectMode" %}
                                                            <td width='10%'>{{ project.category }}</td>
                                                            {% endif %}
                                                            {% if currentMode == "projectMode" %}
                                                            <td width='10%'>
                                                            {% else %}
                                                            <td width='10%'>
                                                            {% endif %}
                                                            {% trans project.schedule_str %}
                                                            </td>
                                                            <td width="5%">
							                                                  <span class="dropdown modal-dropdown">
								                                                    <span data-toggle="dropdown">
                                                                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                                                    </span>
                                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                                                                        <li><a class="modal-setting" value="{{ project.id }}"><span><i class="fa fa-cog" aria-hidden="true"></i>&nbsp;&nbsp;{% trans "Setting" %}</span></a></li>
                                                                        <li><a class="modal-download" value="{{ project.id }}"><span><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;{% trans "Download" %}</span></a></li>
                                                                        <li><a class="modal-history" value="{{ project.id }}"><span><i class="fa fa-history" aria-hidden="true"></i>&nbsp;&nbsp;{% trans "History" %}</span></a></li>
                                                                        <li>
                                                                            <a onclick="if(confirm('{% trans 'Project' %}: {{ project.name }}\n{% trans 'Are you sure you want to delete above project?' %}')){location.href='{% url 'dashboard:delete_project' project.id %}';};">
                                                                                <span><i class="fa fa-trash" aria-hidden="true"></i>&nbsp;&nbsp;{% trans "Trash" %}</span>
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </span>
                                                            </td>
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    {% for project in projects.values %}
                                        {% if currentMode == "categoryMode" %}
                                            {% if category == project.category %}
                                                {% include 'common/popup.html' %}
                                            {% endif %}
                                        {% elif currentMode == "projectMode" %}
                                            {% include 'common/popup.html' %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        {% elif request.session.isClientTool != 1 %}
                            <div class="card-content table-responsive">{% trans "You do not have created any project yet. To create a project download our tool" %} <a href="{% url 'accounts:downloadtool' %}" download>{% trans "Here" %}</a></div>
                        {% else %}
                            <div class="card-content table-responsive">{% trans "Please create new project from menubar. To know how to create project check our tutorials" %} <a href="{% url 'accounts:downloadtool' %}" download>{% trans "Here" %}</a></div>
                        {% endif %}
                    </div>
                </div>
            </div>
{% endblock %}

{% block js %}
<!-- Calendar JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>

<script type="text/javascript">
    //Auto Refresh
    autoRefresh();
    var no_update_count = 0;
    var eids = [];
    $(".running").each(function() {
        eids.push($(this).attr("value"));
    });
    function autoRefresh() {
        timer = setTimeout(function(){
            $.ajax({
                type: "GET",
                url: "{% url 'dashboard:auto_refresh' %}",
                data: {'eids': eids},
                cache: false,
                dataType: "json",
                success: function (data) {
                    if (data['id']) {
                        for (var i=0; i<Object.keys(data['id']).length; i++) {
                            $("img[class='running'][value='"+data['id'][i]+"']").each(function() {
                                eid = $(this).attr("value");
                                pid = $(this).parent().attr("value");
                                if(data['status'][i] == 1){
                                    $(this).attr('src', "{% static 'assets/img/tick.png' %}");
                                    $(this).parent().next().css('display','none');
                                    $(this).parent().parent().append(`
                                    <td>
                                        <form name="searchForm" id="searchForm" method="post" action="{% url 'dashboard:product_type' %}">
                                            <input id="ftype" name="filetype" type="hidden">
                                            <div class="dropdown">
                                                <button class="btn btn-primary dropdown-toggle dbtn" data-toggle="dropdown" value="#{{user.id}}#`+pid+`#`+eid+`">Download
                                                    <span class="caret"></span></button>
                                                <ul class="dropdown-menu" value="0">
                                                </ul>
                                            </div>
                                        </form>
                                    </td>`);
                                }else if(data['error'][i] == 1){
                                    $(this).attr('src', "{% static 'assets/img/cross.png' %}");
                                    $(this).parent().next().text("{% trans 'Error' %}");
                                }
                                var idx = eids.indexOf(eid);
                                if(idx >= 0){
                                    eids.splice(idx, 1);
                                }
                            });
                            console.log("-- Auto Refreshed --");
                        }
                    }else{
                        if(no_update_count >= 10){
                            clearTimeout(timer);
                        }
                        no_update_count++;
                        console.log("--- Auto Refresh No update Count "+no_update_count+" ---");
                    }
                },
                error: function (){
                    console.log("--- Auto Refresh Fail ---");
                }
            });
            autoRefresh();
        }, 30*1000);
    }

 
    //popup date
    $(function(){
        var today = new Date();
        var mm = today.getMonth() + 1;
        var dd = today.getDate();
        var dayNames = ['月', '火', '水', '木', '金', '土', '日'];

        $Month = "<select name='month' class='month'>";
        for(var i=1; i<=31; i++){
            if(i == dd){
                $Month +="<option value=\""+ i +"\" selected >"+ i +"</option>";
            }else{
                $Month +="<option value=\""+ i +"\" >"+ i +"</option>";
            }
        }
        $Month += "</select>";
        $('.month').html($Month);

        $Day = "<select name='day' class='day'>";
        console.log(today);
        for(var i=1; i<=6; i++ ){
            if(i == 1){
                $Day +="<option value=\""+ i +"\" selected >"+ i +"</option>";
            }else{
                $Day +="<option value=\""+ i +"\" >"+ i +"</option>";
            }
        }
        $Day += "</select>";
        $('.day').html($Day);

        $dayName = "<select name='day-name' class='day-name'>";
        for(var i=0; i<=6; i++ ){
            if(i == 0){
                $dayName +="<option value=\""+ dayNames[i] +"\" selected >"+ dayNames[i] +"</option>";
            }else{
                $dayName +="<option value=\""+ dayNames[i] +"\">"+ dayNames[i] +"</option>";
            }
        }
        $dayName += "</select>";
        $('.day-name').html($dayName);
	  });
    $('form[id="setting"]').bind('submit', function () {
        scheduleType = $("input[name='scheduleType']:checked").val();
        $(this).find("select").prop('disabled', true);
        if(scheduleType == 1) {
            $(this).find("select[name='day']").prop('disabled', false);
        }else if(scheduleType == 2) {
            $(this).find("select[name='day-name']").prop('disabled', false);
        }else if(scheduleType == 3) {
            $(this).find("select[name='month']").prop('disabled', false);
        }
    });
	  $('#setting').click(function(){
        $("#select_input").prop('disabled', true);
	  });

    //show and hide project
    var currentMode = $("#all_project").attr("value");
    //if(currentMode == "categoryMode"){
    //    $('.card-content table:not(:first)').hide();
    //}
    $('.modal-open + span').hide();
	  $('.card-header').click(function(){
        $($(this).parent().find('.card-content table')).toggle();
        $($(this).find('.modal-open, .modal-open + span')).toggle();
	  });

    //modal screen
    $(".modal-popup-content > .input-group").hide();
	  $(".check-click").click(function(){
        $(".input-group").toggle();
    });

    //refine search
    $(function(){
        searchWord = function(){
            var searchText = $(this).val();
            var targetText;
            $('.card-content > #project_table > tbody > tr > td:first-child').each(function() {
                targetText = $(this).text();
                if (targetText.indexOf(searchText) != -1) {
                    $(this).parent().removeClass('hidden');
                } else {
                    $(this).parent().addClass('hidden');
                }
            });
        };
        $('.search-box').on('input', searchWord);
    });

    //button popup
	  $('.modal-setting, .modal-history, .modal-project, .modal-category').click(function(){
        var button_name = $(this).attr("class");
        var index = $("."+ button_name).index(this);
        var class_name = "."+ button_name + "-content:nth("+ index +")";

        modal(class_name);
    });
    //override
	  $('.modal-setting, .modal-category').click(function(){
        var pid = $(this).attr("value");
        //setting-popup: move category
        $("input[name='projectId']").attr("value", pid);
        //setting-popup: show and hide category_type
        $('.create-category').show();
        $('.move-category').hide();
	      $("input[name='categoryType']").click(function(){
            var category_type = $(this).attr("value");
            if (category_type == "create") {
                $('.create-category').show();
                $('.move-category').hide();
            } else if (category_type == "move") {
                $('.create-category').hide();
                $('.move-category').show();
            }
        });
        //category-popup: rename category
        $("input[name='category-rename-origin']").attr("value", pid);
    });

    //display category's name when we select a location where to move category
    $(function(){
        $('.dropdown-menu .dropdown-item').click(function(){
            var visibleItem = $('.dropdown-toggle', $(this).closest('.dropdown'));
            visibleItem.text($(this).attr('value'));
        });
    });

    //test tool
    //$(function() {
    //    modal(".modal-setting-content");
    //});

    //connection with client
		function myFunction() {
	      var backend;
	      new QWebChannel(qt.webChannelTransport, function (channel) {
	          backend = channel.objects.backend;
	          column_type();
	      });
	      function column_type(){
	          backend.project_start(1);
	      }
		}

    //show Calendar
	  $(".modal-download").click(function(){
        var pid;
        var button_name = $(this).attr("class");
        var index = $("."+ button_name).index(this);
        var class_name = "."+ button_name + "-content:nth("+ index +")";
        pid = $(this).attr("value");
        //project Date Range
        var proj_date = $(this).parents("td").prevAll().find('.proj_date').text();
        var min_year = proj_date.slice(0, 4); //"2018"
        var min_month = proj_date.slice(5, 7); //"08"
        //execution Date
        var exec_date = $(this).parents("td").prevAll().find('.exec_date').text();
        $("#date_"+pid).datepicker({
            dateFormat: 'yy/mm/dd',
            minDate: new Date(parseInt(min_year), parseInt(min_month)-1, 1),
            maxDate: '+0d',
            onSelect: function(dateText, inst) {
                $("tr.date_val_"+pid).css("display", "none");
                $("tr.date_val_"+pid+">td:nth-child(1):contains('"+dateText+"')").parent().css("display", "table-row");
            },
            beforeShowDay: function(date) {
                var dateStr = createDateStr(date);
                if ($(".dateList_"+pid).val().indexOf(dateStr) != -1) {
                    return [true,"ui-datepicker-date-exist"];
                }
                else {
                    return [false];
                }
            }
        });
        $("#date_"+pid).datepicker("setDate", exec_date);
        modal(class_name);
    });
    function createDateStr(date) {
        var year = date.getYear();
        var month = date.getMonth() + 1;
        var day = date.getDate();
        if (year < 2000) { year += 1900 };
        if (month < 10)  { month = "0" + month };
        if (day < 10)    { day = "0" + day };
        var dateStr = year + "/" + month + "/" + day;
        return dateStr;
    }
	  $(".ui-datepicker-date-exist").click(function(){
        $(".ui-datepicker-date-exist").show();
    });

    //popup
    function modal(className){
        $(function(){
            //open
            $(this).blur();
           	if($("#modal-overlay")[0]) return false ;
           	$("body").append('<div id="modal-overlay"></div>');
           	$("#modal-overlay").fadeIn("slow");
           	centeringModalSyncer(className);
           	$(className).animate({
                opacity: '1',
                right: '+=' + ($(className).outerWidth() + 50) + 'px'
            }, 600);
            //close
            $("#modal-overlay, #modal-close").unbind().click(function() {
                modalClose(className);
            });
            //Esc close
            $(window).keyup(function(e){
                if(e.keyCode == 27){
                   	modalClose(className);
                }
            });
        });
    }
    function modalClose(className){
        $(className).animate({
            opacity: '0',
            right: '-=' + ($(className).outerWidth() + 50) + 'px'
        }, 600);
        $(className).fadeOut(100, function(){
            $('#modal-overlay').remove();
            $(className).css('display', 'inline-block');
        });
    }
    //modal centering function
    $(window).resize(centeringModalSyncer);
    function centeringModalSyncer(className) {
        var w = $( window ).width();
        var h = $( window ).height();

        var cw = $(className).outerWidth();
        var ch = $(className).outerHeight();

        $(className).css({
            "right": -cw + "px",
            "top": ((h - ch) / 2) + "px"
        });
   	}

    //edit project name
    $(".editprojname").click(function(){
        var el = $(this).siblings('.editme');
        var pid = el.attr("value");
        var input = $('<input class = "editme" onblur="blurFoo.call(this)" value='+pid+'>').val(el.text());
        el.replaceWith( input );
        input.focus();
    });
    function blurFoo(){
        var el = $(this);
        var text = $(this).val();
        var  pid = $(this).attr("value");

        $.ajax({
            url: "{% url 'dashboard:edit_project' %}",
            data: { 'pid': pid, 'pname': text},
            cache: false,
            dataType: "json",
            success: function (data){
                if (data.changed == 1){
                    var input = $('<span class = "editme" contenteditable="false" value='+pid+'>'+text+'</span>')
                    el.replaceWith(input);
               }
            },
            error: function(){
                console.log("blurFoo fail");
            }
        });
    }

    //edit keywords
    $(".editkwname").click(function(){
        var el = $(this).siblings('.editme1');
        var pid = el.attr("value");
        var input = $('<input class = "editme1" onblur="keywordChangeAjax.call(this)" value='+pid+'>').val(el.text());
        el.replaceWith( input );
        input.focus();
    });
    function keywordChangeAjax(){
        var el = $(this);
        var text = $(this).val();
        var  pid = $(this).attr("value");

        $.ajax({
            url: "{% url 'dashboard:edit_keyword' %}",
            data: { 'pid': pid, 'kwname': text},
            cache: false,
            dataType: "json",
            success: function (data){
                if (data.changed == 1){
                    var input = $('<span class = "editme1" contenteditable="false" value='+pid+'>'+text+'</span>')
                    el.replaceWith(input);
               }
            },
            error: function(){
                console.log("keywordChangeAjax fail");
            }
        });
    } 


    $(document).on("click",".dbtn", function() {
        var res = $(this).attr("value").split("#");
        var uid = res[1];
        var pid = res[2];
        var eid = res[3];
        var ch = $(this).next().attr("value");
        var ch_obj = $(this).next();
        $.ajax({
            url: "{% url 'dashboard:managefiletype' %}",
            data: { 'uid': uid, 'pid': pid , 'eid': eid},
            cache: false,
            dataType: "json",
            success: function (data){
                //type: text
                if(data.mediatype == 0){
                    if(ch === "0"){
                        ch_obj.append("<li onclick=\"$('#ftype').val('"+uid+"#"+pid+"#"+eid+"#1'); $('#searchForm').submit()\"><a>Excel</a></li>");
                        ch_obj.append("<li onclick=\"$('#ftype').val('"+uid+"#"+pid+"#"+eid+"#2'); $('#searchForm').submit()\"><a>CSV</a></li>");
                        ch_obj.append("<li onclick=\"$('#ftype').val('"+uid+"#"+pid+"#"+eid+"#3'); $('#searchForm').submit()\"><a>TXT</a></li>");
                        ch_obj.attr("value","1");
                    }
                }
                //type: media
                else if(data.mediatype == 1){
                    if(ch === "0"){
                       ch_obj.append("<li onclick=\"$('#ftype').val('"+uid+"#"+pid+"#"+eid+"#4'); $('#searchForm').submit()\"><a>MEDIA</a></li>");
                       ch_obj.attr("value","1");
                    }
                }
                //type: text and media
                else if(data.mediatype == 2){
                    if(ch === "0"){
                        ch_obj.append("<li onclick=\"$('#ftype').val('"+uid+"#"+pid+"#"+eid+"#1'); $('#searchForm').submit()\"><a>Excel</a></li>");
                        ch_obj.append("<li onclick=\"$('#ftype').val('"+uid+"#"+pid+"#"+eid+"#2'); $('#searchForm').submit()\"><a>CSV</a></li>");
                        ch_obj.append("<li onclick=\"$('#ftype').val('"+uid+"#"+pid+"#"+eid+"#3'); $('#searchForm').submit()\"><a>TXT</a></li>");
                        ch_obj.append("<li onclick=\"$('#ftype').val('"+uid+"#"+pid+"#"+eid+"#4'); $('#searchForm').submit()\"><a>MEDIA</a></li>");
                        ch_obj.attr("value","1");
                    }
                }
                //type: other
                else if(data.mediatype == -1){
                    if(ch === "0"){
                        ch_obj.append("<li>No Data. Please run again.</li>");
                        ch_obj.attr("value","1");
                    }
                }
                //error
                else {
                    if(ch === "0"){
                        ch_obj.append("<li>Error</li>");
                        ch_obj.attr("value","1");
                    }
                }
            },
            error: function(){
                console.log("managefiletype fail");
            }
        });
    });
</script>
{% endblock %}
