{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
<!DOCTYPE HTML>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/material-dashboard.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/dropdown.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/button.css' %}" rel="stylesheet" />
    <link rel="icon" type="image/png" href="{% static 'assets/images/favicon.png'%}" />
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/style_sp.css' %}" rel="stylesheet" />
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/js/jquery.autoKana.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/js/jquery.jpostal.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/js/pig_web_common.js' %}" type="text/javascript"></script>
    <script type="text/javascript" src="https://js.pay.jp/"></script>
    <script>
    function postLanguageChanger(code){
        var form = document.getElementById('language-changer');
        form.language.value = code;
        form.submit();
    }


    //for sp
    $(function(){
        fade('.toggleWrap');
    });
    function fade(elm){
        var $fade = $(elm),
            $body = $('body');
        $fade.addClass('hide');
        $('#toggle').on('click', function(){
            $fade.toggleClass('hide').addClass('animation');
            $('.trigger').toggleClass('active');
            if ($fade.hasClass('hide')) {
                $body.removeClass('no-scroll').off('.noScroll');
            } else {
                $body.addClass('no-scroll').on('touchmove.noScroll', function(e){
                    e.preventDefault();
                });
            }
        });
    }
    </script>
</head>
<body style="background-color: #dcf5f5; ">
  <div >
    <div class="">
        <!-- Header -->
        <nav class="navbar navbar-inverse nav-justified" style="background: #339999; z-index: 10000; margin-bottom: 0;">
            <div class="container-fluid">
                <form id="language-changer" action="{% url 'set_language' %}" method="post" style="display: none;">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}" />
                    <input name="language" type="hidden" value="" />
                </form>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav nav-justified main-header">
                        <li style="width: 0.001%;"><a href="{% url 'dashboard:index' %}"><img src="{% static 'assets/images/pig_side.png' %}" width="80"></a></li>
                        <li><a href="{% url 'dashboard:index' %}">{% trans "Home" %}</a></li>
                        <li><a href="{% url 'dashboard:project_list' %}">{% trans "Project" %}</a></li>
                        <li><a href="{% url 'dashboard:data_order' %}">{% trans "Data Order" %}</a></li>
                        <li><a href="https://services.sms-datatech.co.jp/pig-data/faq/">{% trans "FAQ" %}</a></li>
                        <li style="width: 0.6%; vertical-align: middle;">
                            <a class="profile-link" style="">
                                <div class="profile"><i class="fa fa-user" aria-hidden="true"></i>{{ user.profile.last_name}}&nbsp;{{ user.profile.first_name }}&nbsp;様</div>
                            </a>
                            <div class="popup">
                                <div><a href="{% url 'dashboard:account_setting_basic' %}">{% trans "Account" %}</a></div>
                                <div>
                                    {% for language in languages %}
                                        {% if language.code != LANGUAGE_CODE %}
                                            <a href="#" onclick="postLanguageChanger('{{ language.code }}'); return false;">{{ language.name_local }}</a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                {% if request.session.isClientTool != 1 %}
                                    <div><a href="{% url 'accounts:logout' %}">{% trans "Logout" %}</a></div>
                                {% endif %}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
  </div>
    <div class="title">
        <h2>{% trans "Pigdata Subscription" %}</h2>
    </div>
    <div class="subscribe_wrapper">
        <div class="content">
            <p class="caution"><sup>*</sup>{% trans "Mandatory fields" %}</p>
            <div class="container-fluid">
                <div class="form-content">

                    {% if payment_form.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ payment_form.errors }}
                        </div>
                    {% endif %}
                    {% if subscription_form.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ subscription_form.errors }}
                        </div>
                    {% endif %}
                    {% csrf_token %}
                    <form method="post" id="submit_form" action="{% url 'dashboard:upgrade' %}">
                        {% csrf_token %}
                          <hr />
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group font_bold">{% trans "Plan" %}<sup>*</sup></div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-6">
                                <div class="form-group choice_group mouse_over" id="business_plan">
                                    <div class="choice_group_cell radio_width">
                                        {{ subscription_form.plan_type.1 }}
		                                </div>
		                                <div class="choice_group_cell">
                                        <ul>
                                            <li>プロジェクト数５つまで</li>
                                            <li>ストレージ容量200MBまで</li>
                                            <li>１月あたりのダウンロード回数５回まで</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div id="business_payment_outer">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group font_bold">{% trans "Payment Method" %}</div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group choice_group mouse_over" id="pay_method_card">
                                        <div class="choice_group_cell radio_width">
                                            <p>{{ payment_form.pay_method.0 }}</p>
		                                    </div>
		                                    <div class="choice_group_cell">
                                            <ul>
                                                <li>利用前月20日に支払確定</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-6">
                                    <div class="form-group choice_group mouse_over" id="pay_method_invoice">
                                        <div class="choice_group_cell radio_width">
                                            <p>{{ payment_form.pay_method.1 }}</p>
		                                    </div>
		                                    <div class="choice_group_cell">
                                            <ul>
                                                <li>利用月の翌月末日に銀行振込</li>
                                                <li>法人限定</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
	                    	    <hr />
                            <div class="payment_card_info">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group font_bold"><p>{% trans "Input Credit Information" %}<sup>*</sup></p></div>
                                    </div>
                                    <div class="col-md-6"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group font_bold"><p class="indent_1em"><span>{% trans "Credit Number" %}</span></p></div>
                                    </div>
                                    <div class="col-md-6">
                                         <div class="form-group"><input type="text" id="temp_card_number"></div>
                                   </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group font_bold"><p class="indent_1em"><span>Month, Year</span></p></div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group"><input type="text" id="temp_month"></div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group"><input type="text" id="temp_year"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group font_bold"><p class="indent_1em">{% trans "Password" %}<br /><span class="font_small">カード裏面の3桁の数字です。</span></p></div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="form-group"><input type="text" id="temp_security_no">
                                            <p class="font_small pass-info">弊社ではクレジットカード決済にサービス<a href="#" target="_blank">PAYJP</a>を利用しており、お客様のクレジット番号、セキュリティコードの情報は一切保有しません。</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-group">{{ payment_form.pay_card_token }}</div>
                                </div>
                            </div>
                            <div class="payment_invoice_info">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group font_bold"><p>{% trans "Invoice Required Information" %}<sup>*</sup></p></div>
                                    </div>
	                        	<div class="col-md-6">
	                        		<div class="form-group"></div>
	                        	</div>
	                        </div>
	                        <div class="row">
		                        <div class="col-md-4"></div>
		                        <input type="checkbox" id="copy_comapny_address" style="margin-left: 30px; vertical-align: top;"><span class="font_small">　上記の会社情報と同じ場合はこちらをチェック</span></input>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group font_bold"><p class="indent_2em"><span>{% trans "Company Name" %}</span></p></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">{{ payment_form.pay_company_name }}</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group font_bold"><p class="indent_2em"><span>{% trans "Postal Code" %}</span></p></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">{{ payment_form.pay_post_code }}</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group font_bold"><p class="indent_2em"><span>{% trans "Phone Number" %}</span></p></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">{{ payment_form.pay_tel_number }}</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group font_bold"><p class="indent_2em"><span>{% trans "Delivery address" %}</span></p></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">{{ payment_form.pay_company_address }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="confirm-section">
                            <button id="submit_button" class="btn confirm">{% trans "Confirm" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


<!-- Footer -->
<footer class="footer footer_gray">
    <div class="container-fluid">
        <nav>
            <p class="policy_link">
            	<a href="https://services.sms-datatech.co.jp/pig-data/privacy-policy/"><u>Privacy Policy</u></a>｜
            	<a href="https://services.sms-datatech.co.jp/pig-data/security-policy/"><u>Security Policy</u></a>｜
            	<a href="https://www.sms-datatech.co.jp/"><u>運営会社HP</u></a>
            </p>
        </nav>
        <p class="copyright">
            ©
            <script>
            document.write(new Date().getFullYear())
            </script>
            SMS DataTech all right reserved.
        </p>
    </div>
</footer>
</div>

</body>
</html>