{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "System Error" %}{% endblock %}

{% block css %}
<link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
{% endblock %}

{% block js %}
<script src="{% static 'assets/js/jquery.autoKana.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/js/jquery.jpostal.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/js/pig_web_common.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/js/signup.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div class="title">
    <h2>{% trans "System Error" %}</h2>
</div>
<div class="main-panel">
    <div class="background_wrapper">
        <div class="content">
            <hr />
            <div class="container-fluid align_center">
                <div class="alert alert-danger" role="alert">
                    {% trans "A system error has occurred. Again, please confirm your input content and register." %}
                </div>
                <a href="{{ back }}">{% trans "Back" %}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
