{% extends "product_site_base.html" %}
{% load static %}
{% load i18n %}
{% block content%}
<div class="navbar">
	<a href="{% url 'accounts:home' %}" >Home</a>
	<a href="{% url 'accounts:product' %}" >{% trans "Products" %}</a>
	<a href="{% url 'accounts:learn' %}">{% trans "Learn" %}</a>
	<a href="{% url 'accounts:pricing' %}">{% trans "Pricing" %}</a>
	<a href="{% url 'accounts:about' %}" class="active">{% trans "About Us" %}</a>
	<a href="{% url 'accounts:contact' %}">{% trans "Contacts" %}</a>
	<a href="{% url 'accounts:login' %}" >{% trans "Login" %}</a>

	<!--div class="dropdown">
		<button class="dropbtn">en
			<i class="fa fa-caret-down"></i>
		</button>
		<div class="dropdown-content">
			<form>
			<a href="#">ja</a>
			</form>
		</div>
	</div-->
</div>
			<h2 class="major">{% trans "About Us" %}</h2>
			<!--span class="image main"><img src="{% static 'assets/images/pic03.jpg' %}" alt="" /></span-->
			<p>We are a Japanese company specailization in data analysis. Our product PigData helps
				to scrape information related to stocks, merchandise, jobs, news etc from different websites. We
				supports you to analyze your data with our tools to increase your sale or business.
			</p>

			<h2 class="major">{% trans "Our Team" %}</h2>
				<h3 class="major">{% trans "Technical" %}</h3>
					<p>
						- Praneeth Reddy </br>
						- Tsuda</br>
						- Sriram Boinpalli</br>
						- Nitish Rajoria</br>
						- Haruse


					</p>
				<h3 class="major">{% trans "Marketing" %}</h3>
					<p>
						- Dera </br>
						- Okura </br>
						- Kamo </br>
						- Toru</br>
					</p>
				<h3 class="major">{% trans "Consultant" %}</h3>
					<p>
						- Totsuka (Technical)</br>
						- Tetsuro Matsubara (Business)
					</p>



{% endblock%}
