{% extends "base-global.html" %}
{% load static %}
{% load i18n %}

{% block title %}本登録完了{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
{% endblock %}

{% block content %}
<div class="main-panel" style="height: 95vh;">
    <div class="title">
        <h2>新規アカウント作成</h2>
    </div>
    <div class="background_wrapper">
        <div class="progress_icon">

        </div>
        <div class="content">
            <hr />
            <div class="align_center">
                <h3 style="margin: 50px 0;">本登録が完了しました。</h3>
                <a href="{% url 'accounts:global_login' %}">Login Here</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
