{% extends "base-global.html" %}
{% load static %}
{% load i18n %}

{% block title %}Sign up{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
<!--<script src="{% static 'assets/js/bootstrap.min.js' %}" type="text/javascript"></script>-->
{% endblock %}

{% block content %}
<section id="intro" class="clearfix">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center">
        <div class="col-md-6 intro-info order-md-first order-last">
          <div>
            <h3 class="align_center" style="margin: 50px 0;">{% trans "Registration Finished." %}</h3>
            <p class="align_left">
                {% trans "To verify your e-mail address an activation link has been sent to the registered e-mail address." %}<br />
            </p>
            <br><br><br>
          </div>
        </div>
      </div>
    </div>
</section>

{% endblock %}
