{% extends "product_site_base.html" %}
{% load static %}
{% load i18n %}
{% block content%}
<div class="navbar">
	<a href="{% url 'accounts:home' %}" >Home</a>
	<a href="{% url 'accounts:product' %}" >{% trans "Products" %}</a>
	<a href="{% url 'accounts:learn' %}">{% trans "Learn" %}</a>
	<a href="{% url 'accounts:pricing' %}">{% trans "Pricing" %}</a>
	<a href="{% url 'accounts:about' %}">{% trans "About Us" %}</a>
	<a href="{% url 'accounts:contact' %}" class="active">{% trans "Contacts" %}</a>
	<a href="{% url 'accounts:login' %}" >{% trans "Login" %}</a>

	<!--div class="dropdown">
		<button class="dropbtn">en
			<i class="fa fa-caret-down"></i>
		</button>
		<div class="dropdown-content">
			<form>
			<a href="#" >ja</a>
			</form>
		</div>
	</div-->
</div>
<h2 class="major">{% trans "Contact" %}</h2>
			<form method="post" action="#">
				<div class="field half first">
					<label for="name">{% trans "Name" %}</label>
					<input type="text" name="name" id="name" />
				</div>
				<div class="field half">
					<label for="email">{% trans "Email" %}</label>
					<input type="text" name="email" id="email" />
				</div>
				<div class="field">
					<label for="message">{% trans "Message" %}</label>
					<textarea name="message" id="message" rows="4"></textarea>
				</div>
				<ul class="actions">
					<input type="submit" value="Send Message" class="special" />
					<input type="reset" value="Reset" />
				</ul>
			</form>

{% endblock%}
