{% extends "product_site_base.html" %}
{% load static %}
{% load i18n %}

{% block title %}ERROR{% endblock %}

{% block css %}
<link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
{% endblock %}

{% block js %}
<script src="{% static 'assets/js/jquery.autoKana.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/js/jquery.jpostal.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/js/pig_web_common.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/js/signup.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div class="main-panel">
    <div class="title">
        <h2>{% trans "System Error" %}</h2>
    </div>
    <div class="background_wrapper">
        <div class="progress_icon">
            <p>
                <img src="{% static 'assets/images/progress-on_01.png' %}" alt="基本情報入力">
                <img src="{% static 'assets/images/progress-arrow.png' %}" alt="arrow">
                <img src="{% static 'assets/images/progress-off02.png' %}" alt="仮登録完了">
                <img src="{% static 'assets/images/progress-arrow.png' %}" alt="arrow">
                <img src="{% static 'assets/images/progress-off03.png' %}" alt="本登録完了">
            </p>
        </div>
        <div class="content">
            <hr />
            <div class="container-fluid">
                <div class="alert alert-danger" role="alert">
                    システムエラーが発生しました。再度、ご入力内容をお確かめの上、ご登録をお願い致します。
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
