{% extends "base-global.html" %}
{% load static %}
{% load i18n %}
{% block content%}
<!-- Header -->
  <!--<header class="masthead bg-primary text-white text-center">-->
    <!--<div class="container">-->
      <!--<img class="img-fluid mb-5 d-block mx-auto" src="{% static 'global/img/pigdata/title_pig.png' %}" alt="">-->
      <!--<h1 class="text-uppercase mb-0">PigData</h1>-->
      <!--<hr class="star-light">-->
      <!--<h2 class="font-weight-light mb-0">-->
        <!--<br>-->
        <!--<div class="row justify-content-center" >-->
          <!--<div class="text-center col-md-3" style="padding=30px;" >-->
            <!--<img src="https://www.import.io/wp-content/uploads/2018/12/icon-identify.png" alt="Identify">-->
            <!--<br> Extract Data-->
          <!--</div>-->
          <!--<div class="text-center col-md-3">-->
            <!--<img src="https://www.import.io/wp-content/uploads/2018/12/icon-extract.png" alt="Identify">-->
            <!--<br> Analyze-->
          <!--</div>-->
          <!--<div class="text-center col-md-3">-->
            <!--<img src="https://www.import.io/wp-content/uploads/2018/12/icon-prepare.png" alt="Identify">-->
            <!--<br> Make Decision-->
          <!--</div>-->
          <!--<div class="text-center col-md-3">-->
            <!--<img src="https://www.import.io/wp-content/uploads/2018/12/icon-integrate.png" alt="Identify">-->
            <!--<br> Grow Business-->
          <!--</div>-->
        <!--</div>-->
      <!--</h2>-->
    <!--</div>-->
  <!--</header>-->
<section id="intro" class="clearfix">
    <!--<div class="container d-flex h-100">-->
      <!--<div class="row justify-content-center align-self-center">-->
        <!--<div class="col-md-6 intro-info order-md-first order-last">-->
          <!--<h2>Rapid Solutions for Your Business!</h2>-->
          <!--<div>-->
            <!--<a href="#about" class="btn-get-started scrollto">Get Started</a>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="col-md-6 intro-img order-md-last order-first">-->

        <!--</div>-->
      <!--</div>-->

    <!--</div>-->
    <div class="row">
        <div class="col-lg-2">
            <div class="card-body"></div>
        </div>
        <div class="col-lg-7" align="center">
            <h2>Rapid Solutions for Data Scraping</h2>
            </br></br>
            <img src="{% static 'global/img/title_pig.png' %}" width="200px"; height="200px";/>
            <h1 align="center">PIGDATA</h1>
            </br></br>
            <div class="row">
                <div class="col-lg-6">
                    <a href="{% url 'accounts:global_login' %}"><img style="width:100%" src="{% static 'global/img/dashboard_scraping.png' %}"></a>
                </div>
                <div class="col-lg-6">
                    <a href="{% url 'global_dashboard:data_order' %}"><img style="width:100%" src="{% static 'global/img/dashboard_dataorder.png' %}"></a>
                </div>
            </div>
        </div>
    </div>
</section>

  <!-- Portfolio Grid Section -->
  <!--<section class="portfolio" id="portfolio">-->
    <!--<div class="container">-->
      <!--<h3 class="text-center text-uppercase text-secondary mb-0">Why to choose us?</h3>-->
      <!--<hr class="star-dark mb-5">-->
      <!--<div class="row">-->
        <!--<div class="text-center col-md-4">-->
          <!--<h5 class="text-center text-secondary mb-2">-->
            <!--Trustworthy-->
          <!--</h5>-->
          <!--<a class="portfolio-item d-block mx-auto" href="">-->
            <!--&lt;!&ndash;<div class="portfolio-item-caption d-flex position-absolute h-100 w-100">&ndash;&gt;-->
              <!--&lt;!&ndash;<div class="portfolio-item-caption-content my-auto w-100 text-center text-white">&ndash;&gt;-->
                <!--&lt;!&ndash;<i class="fas fa-search-plus fa-3x"></i>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->

            <!--<img class="img-fluid" src="{% static 'global/img/pigdata/whats1.png' %}" alt="">-->
          <!--</a>-->
          <!--<h class="text-center text-secondary mb-2">-->
            <!--Our server runs 24 hours and user can schedule his project any time.-->
          <!--</h>-->
        <!--</div>-->
        <!--<div class="text-center col-md-4">-->
          <!--<h5 class="text-center text-secondary mb-2">-->
            <!--Challenge your competitors-->
          <!--</h5>-->
          <!--<a class="portfolio-item d-block mx-auto" href="">-->
            <!--&lt;!&ndash;<div class="portfolio-item-caption d-flex position-absolute h-100 w-100">&ndash;&gt;-->
              <!--&lt;!&ndash;<div class="portfolio-item-caption-content my-auto w-100 text-center text-white">&ndash;&gt;-->
                <!--&lt;!&ndash;<i class="fas fa-search-plus fa-3x"></i>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--<img class="img-fluid" src="{% static 'global/img/pigdata/whats2.png' %}" alt="">-->
          <!--</a>-->
          <!--<h class="text-center text-secondary mb-2">-->
            <!--PigData let you see insight of your competitors. Have BigData with PigData.-->
          <!--</h>-->
        <!--</div>-->
        <!--<div class="text-center col-md-4 mb-5">-->
          <!--<h5 class="text-center text-secondary mb-2">-->
           <!--Automate-->
          <!--</h5>-->
          <!--<a class="portfolio-item d-block mx-auto" href="">-->
            <!--&lt;!&ndash;<div class="portfolio-item-caption d-flex position-absolute h-100 w-100">&ndash;&gt;-->
              <!--&lt;!&ndash;<div class="portfolio-item-caption-content my-auto w-100 text-center text-white">&ndash;&gt;-->
                <!--&lt;!&ndash;<i class="fas fa-search-plus fa-3x"></i>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--<img class="img-fluid" src="{% static 'global/img/pigdata/whats3.png' %}" alt="">-->
          <!--</a>-->
          <!--<h class="text-center text-secondary mb-2">-->
             <!--Automate your data extraction, save your 90% time and focus on your business.-->
          <!--</h>-->
        <!--</div>-->

        <!--<br><br>-->

        <!--<div class="text-center col-md-4">-->
          <!--<h5 class="text-center text-secondary mb-2">-->
            <!--Increase Sales-->
          <!--</h5>-->
          <!--<a class="portfolio-item d-block mx-auto" href="">-->
            <!--&lt;!&ndash;<div class="portfolio-item-caption d-flex position-absolute h-100 w-100">&ndash;&gt;-->
              <!--&lt;!&ndash;<div class="portfolio-item-caption-content my-auto w-100 text-center text-white">&ndash;&gt;-->
                <!--&lt;!&ndash;<i class="fas fa-search-plus fa-3x"></i>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--<img class="img-fluid" src="{% static 'global/img/pigdata/whats4.png' %}" alt="">-->
          <!--</a>-->
          <!--<h class="text-center text-secondary mb-2">-->
            <!--We analyze your data and let you help in making decision.-->
          <!--</h>-->
        <!--</div>-->

        <!--<div class="text-center col-md-4">-->
          <!--<h5 class="text-center text-secondary mb-2">-->
            <!--Safe and Secure-->
          <!--</h5>-->
          <!--<a class="portfolio-item d-block mx-auto" href="">-->
            <!--&lt;!&ndash;<div class="portfolio-item-caption d-flex position-absolute h-100 w-100">&ndash;&gt;-->
              <!--&lt;!&ndash;<div class="portfolio-item-caption-content my-auto w-100 text-center text-white">&ndash;&gt;-->
                <!--&lt;!&ndash;<i class="fas fa-search-plus fa-3x"></i>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--<img class="img-fluid" src="{% static 'global/img/pigdata/whats5.png' %}" alt="">-->
          <!--</a>-->
          <!--<h class="text-center text-secondary mb-2">-->
            <!--Data is key and we keep our customers data with highly secured.-->
          <!--</h>-->
        <!--</div>-->
        <!--<div class="text-center col-md-4">-->
          <!--<h5 class="text-center text-secondary mb-2">-->
            <!--Low Price-->
          <!--</h5>-->
          <!--&lt;!&ndash;<a class="portfolio-item d-block mx-auto" href="#portfolio-modal-6">&ndash;&gt;-->
          <!--<a class="portfolio-item d-block mx-auto" href="">-->
            <!--&lt;!&ndash;<div class="portfolio-item-caption d-flex position-absolute h-100 w-100">&ndash;&gt;-->
              <!--&lt;!&ndash;<div class="portfolio-item-caption-content my-auto w-100 text-center text-white">&ndash;&gt;-->
                <!--&lt;!&ndash;<i class="fas fa-search-plus fa-3x"></i>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--<img class="img-fluid" src="{% static 'global/img/pigdata/whats6.png' %}" alt="">-->
          <!--</a>-->
          <!--<h class="text-center text-secondary mb-2">-->
            <!--We provide a low price to have long term relations with our customers.-->
          <!--</h>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</section>-->


  <!--&lt;!&ndash; Use Case Section &ndash;&gt;-->
<!--<section id="UseCases" class="bg-primary text-white mb-0">-->
    <!--<div class="container">-->
        <!--<h3 class="text-center text-uppercase text-white">PigData in Digital Marketing</h3>-->
        <!--<hr class="star-light mb-5">-->
        <!--<ol>-->
            <!--<li><a href="#"></a>-->
        <!--<p class="number">5</p>-->
        <!--<div class="case_image" style="background-image:url(/home/nitish/without_payment/web-rpa/server/static/global/img/pigdata/usecase_compareprice.png)"></div>-->
        <!--<h3>特定商品の価格比較</h3>-->
        <!--<p>新製品や一押しの商品をいくつかの競合サイトで比較し、価格の最適化をすることができます。</p>-->
 <!--</li>-->
      <!--<li><a href="#"></a>-->
        <!--<p class="number">2</p>-->
        <!--<div class="case_image" style="background-image:url(/pig-data/wp-content/themes/mydesign/common/img/usecase_ranking.png)"></div>-->
        <!--<h3>商品ランキングの取得</h3>-->
        <!--<p>ランキングサイトを毎日監視することで市場の変化に早く気付くことができます。</p>-->
      <!--</li>-->
     <!--<li><a href="#"></a>-->
        <!--<div class="case_image" style="background-image:url({% static '/pig-data/wp-content/themes/mydesign/common/img/usecase_customerlist.png)"></div>-->
        <!--<h3>営業先企業リストの作成</h3>-->
        <!--<p>1000社以上の営業先リストをたった数分で作成することができます。</p>-->
   <!--</li>-->

    <!--</ol>-->
        <!--<p class="btn"><a href="usecase/">ユースケースの詳細</a></p>-->
    <!--</div>-->
<!--</section>-->


<!--<section class="features" id="features">-->
    <!--<div class="container">-->
      <!--<div class="section-heading text-center">-->
        <!--<h2>Unlimited Features, Unlimited Fun</h2>-->
        <!--<p class="text-muted">Check out what you can do with this app theme!</p>-->
        <!--<hr>-->
      <!--</div>-->
      <!--<div class="row">-->
        <!--<div class="col-lg-4 my-auto">-->
          <!--<div class="device-container">-->
            <!--<div class="device-mockup iphone6_plus portrait white">-->
              <!--<div class="device">-->
                <!--<div class="screen">-->
                  <!--&lt;!&ndash; Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! &ndash;&gt;-->
                  <!--<img src="img/demo-screen-1.jpg" class="img-fluid" alt="">-->
                <!--</div>-->
                <!--<div class="button">-->
                  <!--&lt;!&ndash; You can hook the "home button" to some JavaScript events or just remove it &ndash;&gt;-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="col-lg-8 my-auto">-->
          <!--<div class="container-fluid">-->
            <!--<div class="row">-->
              <!--<div class="col-lg-6">-->
                <!--<div class="feature-item">-->
                  <!--<i class="icon-screen-smartphone text-primary"></i>-->
                  <!--<h3>Device Mockups</h3>-->
                  <!--<p class="text-muted">Ready to use HTML/CSS device mockups, no Photoshop required!</p>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="col-lg-6">-->
                <!--<div class="feature-item">-->
                  <!--<i class="icon-camera text-primary"></i>-->
                  <!--<h3>Flexible Use</h3>-->
                  <!--<p class="text-muted">Put an image, video, animation, or anything else in the screen!</p>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="row">-->
              <!--<div class="col-lg-6">-->
                <!--<div class="feature-item">-->
                  <!--<i class="icon-present text-primary"></i>-->
                  <!--<h3>Free to Use</h3>-->
                  <!--<p class="text-muted">As always, this theme is free to download and use for any purpose!</p>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="col-lg-6">-->
                <!--<div class="feature-item">-->
                  <!--<i class="icon-lock-open text-primary"></i>-->
                  <!--<h3>Open Source</h3>-->
                  <!--<p class="text-muted">Since this theme is MIT licensed, you can use it commercially!</p>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</section>-->
  <!-- Portfolio Grid Section -->
  <!--<section class="portfolio" id="portfolio">-->
    <!--<div class="container">-->
      <!--&lt;!&ndash;<h2 class="text-center text-uppercase text-secondary mb-0">Home</h2>&ndash;&gt;-->
      <!--&lt;!&ndash;<hr class="star-dark mb-5">&ndash;&gt;-->
      <!--<div class="row">-->
        <!--<div class="col-md-6 col-lg-4">-->
          <!--<a class="portfolio-item d-block mx-auto" href="#portfolio-modal-1">-->
            <!--<div class="portfolio-item-caption d-flex position-absolute h-100 w-100">-->
              <!--<div class="portfolio-item-caption-content my-auto w-100 text-center text-white">-->
                <!--<i class="fas fa-search-plus fa-3x"></i>-->
              <!--</div>-->
            <!--</div>-->
            <!--<img class="img-fluid" src="{% static 'global/img/portfolio/pig1.png' %}" alt="">-->
          <!--</a>-->
        <!--</div>-->
        <!--<div class="col-md-6 col-lg-4">-->
          <!--<a class="portfolio-item d-block mx-auto" href="#portfolio-modal-2">-->
            <!--<div class="portfolio-item-caption d-flex position-absolute h-100 w-100">-->
              <!--<div class="portfolio-item-caption-content my-auto w-100 text-center text-white">-->
                <!--<i class="fas fa-search-plus fa-3x"></i>-->
              <!--</div>-->
            <!--</div>-->
            <!--<img class="img-fluid" src="{% static 'global/img/portfolio/pig2.png' %}" alt="">-->
          <!--</a>-->
        <!--</div>-->
        <!--<div class="col-md-6 col-lg-4">-->
          <!--<a class="portfolio-item d-block mx-auto" href="#portfolio-modal-3">-->
            <!--<div class="portfolio-item-caption d-flex position-absolute h-100 w-100">-->
              <!--<div class="portfolio-item-caption-content my-auto w-100 text-center text-white">-->
                <!--<i class="fas fa-search-plus fa-3x"></i>-->
              <!--</div>-->
            <!--</div>-->
            <!--<img class="img-fluid" src="{% static 'global/img/portfolio/pig3.png' %}" alt="">-->
          <!--</a>-->
        <!--</div>-->
        <!--<div class="col-md-6 col-lg-4">-->
          <!--<a class="portfolio-item d-block mx-auto" href="#portfolio-modal-4">-->
            <!--<div class="portfolio-item-caption d-flex position-absolute h-100 w-100">-->
              <!--<div class="portfolio-item-caption-content my-auto w-100 text-center text-white">-->
                <!--<i class="fas fa-search-plus fa-3x"></i>-->
              <!--</div>-->
            <!--</div>-->
            <!--<img class="img-fluid" src="{% static 'global/img/portfolio/pig4.png' %}" alt="">-->
          <!--</a>-->
        <!--</div>-->
        <!--<div class="col-md-6 col-lg-4">-->
          <!--<a class="portfolio-item d-block mx-auto" href="#portfolio-modal-5">-->
            <!--<div class="portfolio-item-caption d-flex position-absolute h-100 w-100">-->
              <!--<div class="portfolio-item-caption-content my-auto w-100 text-center text-white">-->
                <!--<i class="fas fa-search-plus fa-3x"></i>-->
              <!--</div>-->
            <!--</div>-->
            <!--<img class="img-fluid" src="{% static 'global/img/portfolio/pig5.png' %}" alt="">-->
          <!--</a>-->
        <!--</div>-->
        <!--<div class="col-md-6 col-lg-4">-->
          <!--<a class="portfolio-item d-block mx-auto" href="#portfolio-modal-6">-->
            <!--<div class="portfolio-item-caption d-flex position-absolute h-100 w-100">-->
              <!--<div class="portfolio-item-caption-content my-auto w-100 text-center text-white">-->
                <!--<i class="fas fa-search-plus fa-3x"></i>-->
              <!--</div>-->
            <!--</div>-->
            <!--<img class="img-fluid" src="{% static 'global/img/portfolio/pig6.png' %}" alt="">-->
          <!--</a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</section>-->
  <!-- About Section -->
  <!--<section class="bg-primary text-white mb-0" id="about">-->
    <!--<div class="container">-->
      <!--<h2 class="text-center text-uppercase text-white">About Us</h2>-->
      <!--<hr class="star-light mb-5">-->
    <!--<h5>-->
    <!--<p>Information on the Internet continues to grow exponentially, and 90% of online data worldwide is said to have been generated during the past two years.-->
      <!--We are a Japan based company, provide service that can solve customers' issues smartly in a highly competitive business world, and realize a solid solution that supports the next generation growth strategy.<br><br>-->
    <!--</p>-->
    <!--</h5>-->
    <!--<table>-->
      <!--<tbody><tr>-->
        <!--<th>会社名</th>-->
        <!--<td>株式会社SMSデータテック<br><a href="https://www.sms-datatech.co.jp/">(https://www.sms-datatech.co.jp)</a></td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<th>設立</th>-->
        <!--<td>2001年6月</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<th>代表取締役社長</th>-->
        <!--<td>松原五夫</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<th>従業員</th>-->

          <!--<td>443名(2018年4月1日現在)</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<th>事業内容</th>-->
        <!--<td>AIソリューション事業</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<th>本社所在地</th>-->
        <!--<td>東京都中央区湊3－5－10 VORT新富町ビル3F</td>-->
      <!--</tr>-->
    <!--</tbody></table>-->

    <!--&lt;!&ndash;<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.299653000748!2d139.7759923152585!3d35.66962298019706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188966d26de5cb%3A0xbd320d085137dc34!2z5qCq5byP5Lya56S-U01T44OH44O844K_44OG44OD44Kv!5e0!3m2!1sja!2sjp!4v1524471590677" style="border:0" allowfullscreen="" width="600" height="450" frameborder="0"></iframe>&ndash;&gt;-->
  <!--</div>-->
<!--</section>-->
{% endblock%}
