{% extends "base-global.html" %}
{% load static %}
{% load i18n %}

{% block meta%}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
{% endblock%}

{% block title%}
  Login
{% endblock%}

{% block css%}
  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">
{% endblock%}

{% block content%}
    <!-- Outer Row -->
<section class="signup" id="signup">
    <div class="container">

    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">

        {% if social_login_error %}
          <div class="alert alert-danger" id="error_msg" role="alert">
            {{ social_login_error }}
          </div>
        {% endif %}

        {% if user_form.errors or profile_form.errors%}
        <div class="alert alert-danger" role="alert">
            {% for form in user_form %}
                {% if form.errors %}<b>{% trans form.label %}</b>{{ form.errors }}{% endif %}
            {% endfor %}
            {% for form in profile_form %}
                {% if form.errors %}<b>{% trans form.label %}</b>{{ form.errors }}{% endif %}
            {% endfor %}
        </div>
        {% endif %}
        {% csrf_token %}
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">{% trans "Create an Account" %}</h1>
              </div>
              <form class="user" method="post" action="{% url 'accounts:global_signup' %}">
                {% csrf_token %}
                <div class="form-group row">

                  <div class="col-sm-6">
                    {{ profile_form.last_name }}
                    <!-- <input type="text" class="form-control form-control-user" id="exampleLastName" placeholder="Last Name">
                    -->
                  </div>
                    <div class="col-sm-6 mb-3 mb-sm-0">
                    {{ profile_form.first_name }}
                    <!--<input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="First Name">-->
                  </div>
                </div>
                <div class="form-group">
                  {{ user_form.email }}
                  <!-- <input type="email" class="form-control form-control-user" id="exampleInputEmail" placeholder="Email Address">
                  -->
                </div>
                <div class="form-group row">
                  <!--<div class="col-sm-6 mb-3 mb-sm-0">-->
                  <div class="col-lg-12 ">
                    {{ user_form.password1 }}
                    <!-- <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">
                    -->
                  </div>

                  <div class="col-lg-12 mt-3 ">
                    <!--<br>-->
                      {{ user_form.password2 }}
                    <!-- <input type="password" class="form-control form-control-user" id="exampleRepeatPassword" placeholder="Repeat Password">
                    -->
                  </div>
                </div>
                <div class="confirm-section">
                    <button id="submit_button" class="btn btn btn-primary btn-user btn-block confirm">
                        {% trans "Register Account" %}
                    </button>
                </div>
                <!--<hr>-->
                <!--<a href="index.html" class="btn btn-google btn-user btn-block">-->
                  <!--<i class="fab fa-google fa-fw"></i> Register with Google-->
                <!--</a>-->
                <!--<a href="index.html" class="btn btn-facebook btn-user btn-block">-->
                  <!--<i class="fab fa-facebook-f fa-fw"></i> Register with Facebook-->
                <!--</a>-->
              </form>
              <!--<hr>-->
              <div class="text-center">
                <a class="small" href="{% url 'accounts:global_login' %}">{% trans "Already have an account? Login" %}</a>
              </div>
            </div>
          </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
</section>
{% endblock%}
