{% extends "base-global.html" %}
{% load static %}
{% load i18n %}

{% block meta%}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
{% endblock%}

{% block title%}
  {% trans "Login" %}
{% endblock%}

{% block css%}
  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">
{% endblock%}

{% block content%}
    <!-- Outer Row -->
<section class="login" id="login">
    <div class="container">
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                      <h1 class="h4 text-gray-900 mb-4">{% trans "Welcome" %}</h1>
                  </div>
                  {% if form.non_field_errors %}
                    <ul class='form-errors'>
                      {% for error in form.non_field_errors.as_data %}

                        <li>{{ error.messages|first }}</li>
                          {% if error.code == "inactive" %}
                              <a class="small" href="{% url 'accounts:resend_link' %}">Resend activation email?</a>
                          {% endif %}
                      {% endfor %}
                    </ul>
                  {% endif %}
                  <form class="form-signin" method="post" action="{% url 'accounts:login' %}">
                    {% csrf_token %}
                    <div class="form-group">
                       <input type="text" class="form-control inputUsername" name="username" maxlength="254" required id="id_username" placeholder="Email" autofocus>
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control inputPassword" name="password" required id="id_password" placeholder="Password">
                    </div>
                    <div class="form-group">
                      <div class="custom-control custom-checkbox small">
                        <input type="checkbox" class="custom-control-input" id="customCheck">
                        <label class="custom-control-label" for="customCheck">{% trans "Remember Me" %}</label>
                      </div>
                    </div>
                    <!--<a href="index.html" class="btn btn-primary btn-user btn-block">-->
                      <!--Login-->
                    <!--</a>-->
                    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">{% trans "Login" %}</button>
                    <hr>
                    <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-google btn-user btn-block">
                      <i class="fab fa-google fa-fw"></i> {% trans "Login with Google" %}
                    </a>
                    <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-facebook btn-user btn-block">
                      <i class="fab fa-facebook-f fa-fw"></i> {% trans "Login with Facebook" %}
                    </a>
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="{% url 'accounts:password_reset' %}">{% trans "Forgot Password?" %}</a>
                  </div>
                    <br><a class="small" href="{% url 'accounts:global_signup' %}">{% trans "Create an Account" %}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
    <!--</div>-->
</section>
<br>
<br><br><br><br><br>
{% endblock%}
