{% extends "product_site_base.html" %}
{% load static %}
{% load i18n %}

{% block title %}Login{% endblock %}

{% block css %}
<link href="{% static 'assets/css/login.css' %}" rel="stylesheet" />
{% endblock %}

{% block js %}
{% endblock %}

{% block content %}
<div class="main-panel">
    <div class="background_wrapper">
        <div class="content">
            <div class="container">
                <div class="card card-container">
                {% if form.non_field_errors %}
                <ul class='form-errors'>
                    {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                    <div>
                        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
                    </div>
                    <p id="profile-name" class="profile-name-card"></p>
                    <form class="form-signin" method="post">
                        {% csrf_token %}
                        <input type="text" class="form-control inputUsername" name="username" maxlength="254" required id="id_username" placeholder="Enter Email Address..." autofocus>
                        <input type="password" class="form-control inputPassword" name="password" required id="id_password" placeholder="Password">
                        <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">{% trans "Login" %}</button>
                    </form>
                    <div>
                        <a class="forgot-password" href="{% url 'accounts:password_reset' %}">
                            {% trans 'Forget Password' %}
                        </a>
                    </div>
                    <div class="register">
                        <a href="{% url 'accounts:signup' %}">
                            {% trans 'Register' %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
