{% extends "product_site_base.html" %}
{% load static %}
{% load i18n %}
{% block content%}


<div class="content">
	<div class="inner">
		<h1>Upgrade</h1>
	<div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="card">
                                <div class="card-header text-center" data-background-color="purple">
                                    <h4 class="title">{% trans "PIGDATA PLANS" %}</h4>
                                        <p class="category">{% trans "Are you looking for more components?" %}</p>
                                </div>
                                <div class="card-content">
                                    <div class="table-responsive table-upgrade">
                                        <table class="table">
                                            <thead>
                                                <th></th>
                                                <th class="text-center">{% trans "Free" %}</th>
                                                <th class="text-center">{% trans "Monthly" %}</th>
                                                <th class="text-center">{% trans "Quaterly" %}</th>
                                                <th class="text-center">{% trans "Yearly" %}</th>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>{% trans "Number of Projects" %}</td>
                                                    <td class="text-center">5</td>
                                                    <td class="text-center">50</td>
                                                    <td class="text-center">100</td>
                                                    <td class="text-center">{% trans "Unlimited" %}</td>
                                                </tr>
                                                <tr>
                                                    <td>{% trans "Data Download for" %}</td>
                                                    <td class="text-center">{% trans "2 days" %}</td>
                                                    <td class="text-center">{% trans "30 days" %}</td>
                                                    <td class="text-center">{% trans "120 days" %}</td>
                                                    <td class="text-center">{% trans "365 days" %}</td>
                                                </tr>
                                                <tr>
                                                    <td>{% trans "Example Pages" %}</td>
                                                    <td class="text-center">3</td>
                                                    <td class="text-center">27</td>
                                                    <td class="text-center">27</td>
                                                    <td class="text-center">27</td>

                                                </tr>
                                                <tr>
                                                    <td>{% trans "Mini Sidebar" %}</td>
                                                    <td class="text-center"><i class="fa fa-times text-danger"></i></td>
                                                    <td class="text-center"><i class="fa fa-check text-success"></i></td>
                                                    <td class="text-center"><i class="fa fa-check text-success"></i></td>
                                                    <td class="text-center"><i class="fa fa-check text-success"></i></td>
                                                </tr>
                                                <tr>
                                                    <td>{% trans "Premium Support" %}</td>
                                                    <td class="text-center"><i class="fa fa-times text-danger"></i></td>
                                                    <td class="text-center"><i class="fa fa-check text-success"></i></td>
                                                    <td class="text-center"><i class="fa fa-check text-success"></i></td>
                                                    <td class="text-center"><i class="fa fa-check text-success"></i></td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td class="text-center">{% trans "Free" %}</td>
                                                    <td class="text-center">{% trans "Just $100" %}</td>
                                                    <td class="text-center">{% trans "Just $380" %}</td>
                                                    <td class="text-center">{% trans "Just $1100" %}</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center"></td>
                                                    <td class="text-center">
                                                        <a href="#" class="btn btn-round btn-fill btn-default disabled">{% trans "Current Version" %}</a>
                                                    </td>
                                                    <td class="text-center">
                                                        <a href=""  class="btn btn-round btn-fill btn-info">{% trans "Best" %}</a>
                                                    </td>
                                                    <td class="text-center">
                                                        <a href="" class="btn btn-round btn-fill btn-info">{% trans "Popular" %}</a>
                                                    </td>
                                                    <td class="text-center">
                                                        <a href="" class="btn btn-round btn-fill btn-info">{% trans "Advantage" %}</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div id="paypal-button"></div>
                                                    </td>
                                                    <td></td><td></td><td></td><td></td>
                                                </tr>

                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
	</div>
</div>

{% endblock%}
