{% extends "product_site_base.html" %}
{% load static %}
{% load i18n %}
{% block content%}


<div class="content">
	<div class="inner">
		<h1>Products</h1>
	</div>
</div>

{% endblock%}
