{% extends "product_site_base.html" %}
{% load static %}
{% load i18n %}

{% block title %}Sign up{% endblock %}

{% block css %}
<link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
{% endblock %}

{% block js %}
<script src="{% static 'assets/js/jquery.autoKana.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/js/jquery.jpostal.js' %}" type="text/javascript"></script>
<!--<script src="{% static 'assets/js/pig_web_common.js' %}" type="text/javascript"></script>-->
<script src="{% static 'assets/js/signup.js' %}" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        if ($("#id_is_agree_user_pol_0").prop("checked") == true &&
            $("#id_is_agree_privacy_pol_0").prop("checked") == true &&
            $("#id_is_agree_security_pol_0").prop("checked") == true
        ){
            $('#submit_button').prop('disabled', false);
        } else {
            $('#submit_button').prop('disabled', true);
        }
        $("input[name='is_agree_user_pol'], input[name='is_agree_privacy_pol'], input[name='is_agree_security_pol']").click(function () {
            if ($("#id_is_agree_user_pol_0").prop("checked") == true &&
                $("#id_is_agree_privacy_pol_0").prop("checked") == true &&
                $("#id_is_agree_security_pol_0").prop("checked") == true
            ){
                $('#submit_button').prop('disabled', false);
            } else {
                $('#submit_button').prop('disabled', true);
            }
        })
    })
</script>
<script type="text/javascript" src="https://js.pay.jp/"></script>
{% endblock %}

{% block content %}
<div class="main-panel">
    <div class="title">
        <h2>{% trans "Create Your Account" %}</h2>
    </div>
    <div class="background_wrapper">
        <div class="progress_icon">
            <p>
                <img src="{% static 'assets/images/progress-on_01.png' %}" alt="基本情報入力">
                <img src="{% static 'assets/images/progress-arrow.png' %}" alt="arrow">
                <img src="{% static 'assets/images/progress-off02.png' %}" alt="仮登録完了">
                <img src="{% static 'assets/images/progress-arrow.png' %}" alt="arrow">
                <img src="{% static 'assets/images/progress-off03.png' %}" alt="本登録完了">
            </p>
        </div>
        <div class="content">
            <hr />
            <p class="caution"><sup>*</sup>{% trans "Mandatory fields" %}</p>
            <div class="container-fluid">
                <div class="form-content">
                    {% if user_form.errors or profile_form.errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for form in user_form %}
                            {% if form.errors %}<b>{% trans form.label %}</b>{{ form.errors }}{% endif %}
                        {% endfor %}
                        {% for form in profile_form %}
                            {% if form.errors %}<b>{% trans form.label %}</b>{{ form.errors }}{% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% csrf_token %}
                    <form method="post" id="submit_form" action="{% url 'accounts:signupConfirm' %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group font_bold">{% trans "E-mail" %}<sup>*</sup></div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">{{ user_form.email }}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group font_bold">{% trans "Your Name" %}<sup>*</sup></div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group font_bold" style="margin: 45px 0 0 0;">{% trans "Last Name" %}</div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">{{ profile_form.last_name }}</div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group font_bold" style="margin: 45px 0 0 0;">{% trans "First Name" %}</div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">{{ profile_form.first_name }}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group font_bold">{% trans "Your Name (kana)" %}<sup>*</sup></div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group font_bold" style="margin: 45px 0 0 0;">{% trans "Last Name (kana)" %}</div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">{{ profile_form.last_name_kana }}</div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group font_bold" style="margin: 45px 0 0 0;">{% trans "First Name (kana)" %}</div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">{{ profile_form.first_name_kana }}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group font_bold">{% trans "Company Name" %}<sup>*</sup></div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">{{ profile_form.company_name }}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group font_bold">{% trans "Company (kana)" %}<sup>*</sup></div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">{{ profile_form.company_name_kana }}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group font_bold">{% trans "Department" %}</div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">{{ profile_form.department }}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group font_bold">{% trans "Position" %}</div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">{{ profile_form.job_title }}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <span class="font_bold">{% trans "Phone Number" %}</span><br>
                                    <span style="font-size: 12px;">&nbsp;({% trans "without dash" %})</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">{{ profile_form.tel_number }}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <span class="font_bold">{% trans "Postal Code" %}</span><br>
                                    <span style="font-size: 12px;">&nbsp;({% trans "without dash" %})</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">{{ profile_form.post_code }}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group font_bold">{% trans "Address" %}</div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">{{ profile_form.address }}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <span class="font_bold">{% trans "Password" %}<sup>*</sup></span><br>
                                    <span style="font-size: 12px;">&nbsp;({% trans "Enter using more than eight letters" %})</span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">{{ user_form.password1 }}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <span class="font_bold">{% trans "Password Confirm" %}<sup>*</sup></span><br>
                                    <span style="font-size: 12px;">&nbsp;({% trans "Enter using more than eight letters" %})</span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">{{ user_form.password2 }}</div>
                            </div>
                        </div>
	                      <hr />


                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group font_bold"><a href="https://services.sms-datatech.co.jp/pig-data/privacy-policy/" target="_blank">{% trans "the privacy policy " %}</a>{% trans "Do you agree?" %}<sup>*</sup></div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">{{ profile_form.is_agree_user_pol.0 }}</div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">{{ profile_form.is_agree_user_pol.1 }}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group font_bold"><a href="https://services.sms-datatech.co.jp/pig-data/security-policy/" target="_blank">{% trans "Security Policy " %}</a>{% trans "Do you agree?" %}<sup>*</sup></div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">{{ profile_form.is_agree_privacy_pol.0 }}</div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">{{ profile_form.is_agree_privacy_pol.1 }}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group font_bold"><a href="https://services.sms-datatech.co.jp/pig-data/user-policy/" target="_blank">{% trans "Terms of Service " %}</a>{% trans "Do you agree?" %}<sup>*</sup></div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">{{ profile_form.is_agree_security_pol.0 }}</div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">{{ profile_form.is_agree_security_pol.1 }}</div>
                            </div>
                        </div>
                        <div class="confirm-section">
                            <button id="submit_button" class="btn confirm">{% trans "Confirm" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
