{% extends "product_site_base.html" %}
{% load static %}
{% load i18n %}

{% block title %}Sign up{% endblock %}

{% block css %}
<link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
{% endblock %}

{% block js %}
{% endblock %}

{% block content %}
<div class="main-panel">
    <div class="title">
        <h2>{% trans "Create Your Account" %}</h2>
    </div>
    <div class="background_wrapper">
        <div class="progress_icon">
            <p>
                <img src="{% static 'assets/images/progress-on_01.png' %}" alt="基本情報入力">
                <img src="{% static 'assets/images/progress-arrow.png' %}" alt="arrow">
                <img src="{% static 'assets/images/progress-off02.png' %}" alt="仮登録完了">
                <img src="{% static 'assets/images/progress-arrow.png' %}" alt="arrow">
                <img src="{% static 'assets/images/progress-off03.png' %}" alt="本登録完了">
            </p>
        </div>
        <div class="content">
            <p class="caution"><sup>*</sup>{% trans "Mandatory fields" %}</p>
            <div class="container-fluid">
                <div class="form-content confirm_content">
                    <!--div class="row">
                            <div class="col-md-4">
                                <div class="form-group">{% trans "UserName" %}<sup>*</sup></div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">{{ user_form.username.value }}</div>
                            </div>
                        </div-->
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group font_bold">{% trans "User Name (E-mail)" %}<sup>*</sup></div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">{{ user_form.email.value }}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group font_bold">{% trans "Your Name" %}<sup>*</sup></div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group" style="margin: 45px 0 0 0;">{% trans "Last Name" %}</div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">{{ profile_form.last_name.value }}</div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group" style="margin: 45px 0 0 0;">{% trans "First Name" %}</div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">{{ profile_form.first_name.value }}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group font_bold">{% trans "Your Name (kana)" %}<sup>*</sup></div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group" style="margin: 45px 0 0 0;">{% trans "Last Name (kana)" %}</div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">{{ profile_form.last_name_kana.value }}</div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group" style="margin: 45px 0 0 0;">{% trans "First Name (kana)" %}</div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">{{ profile_form.first_name_kana.value }}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group font_bold">{% trans "Company Name" %}<sup>*</sup></div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">{{ profile_form.company_name.value }}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group font_bold">{% trans "Company (kana)" %}<sup>*</sup></div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">{{ profile_form.company_name_kana.value }}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group font_bold">{% trans "Department" %}</div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">{{ profile_form.department.value }}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group font_bold">{% trans "Position" %}</div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">{{ profile_form.job_title.value }}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group font_bold">{% trans "Phone Number" %}</div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">{{ profile_form.tel_number.value }}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group font_bold">{% trans "Postal Code" %}</div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">{{ profile_form.post_code.value }}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group font_bold">{% trans "Address" %}</div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">{{ profile_form.address.value }}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group font_bold">{% trans "Plan" %}<sup>*</sup></div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    {% if subscription_form.plan_type.value == "2" %}{% trans "Business Plan" %}
                                    {% else %}{% trans "Free Plan" %}{% endif %}
                                </div>
                            </div>
                        </div>
                        {% if subscription_form.plan_type.value == "2" %}
                            {% if payment_form.pay_method.value == "1" %}
                                <div class="row">
                                    <div class="col-md-4"><div class="form-group">{% trans "Payment Method" %}</div></div>
                                    <div class="col-md-3"><div class="form-group">{% trans "Credit" %}</div></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4"><div class="form-group">{% trans "Credit Number" %}：{{ payment_form.pay_card_token.value }}</div></div>
                                    <div class="col-md-4"><div class="form-group">{% trans "Password" %}：{{ payment_form.pay_card_password.value }}</div></div>
                                </div>
                            {% elif payment_form.pay_method.value == "2" %}
                                <div class="row">
                                    <div class="col-md-4"><div class="form-group">{% trans "Payment Method" %}</div></div>
                                    <div class="col-md-3"><div class="form-group">{% trans "Bank Transfer" %}</div></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2"><div class="form-group">{% trans "Company Name" %}：{{ payment_form.pay_company_name.value }}</div></div>
                                    <div class="col-md-2"><div class="form-group">{% trans "Postal Code" %}：{{ payment_form.pay_post_code.value }}</div></div>
                                    <div class="col-md-2"><div class="form-group">{% trans "Phone Number" %}：{{ payment_form.pay_tel_number.value }}</div></div>
                                    <div class="col-md-2"><div class="form-group">{% trans "Delivery address" %}：{{ payment_form.pay_company_address.value }}</div></div>
                                </div>
                            {% endif %}
                        {% endif %}
                    <form method="post" action="{% url 'accounts:signup' %}">
                        {% csrf_token %}
                        {% for field in user_form %}{{ field.as_hidden }}{% endfor %}
                        {% for field in profile_form %}{{ field.as_hidden }}{% endfor %}
                        {% for field in payment_form %}{{ field.as_hidden }}{% endfor %}
                        {% for field in subscription_form %}{{ field.as_hidden }}{% endfor %}
                        <div class="confirm-section btn_two">
                            <div class="confirm_table"><button type="submit" class="btn confirm_btn" name="edit">{% trans "Edit Input Information" %}</button></div>
                            <div class="confirm_table"><button type="submit" class="btn confirm_btn" name="signup" style="padding:0.5em 4.5em;">{% trans "Sign Up" %}</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
