<!-- account setting tab -->
<a href="{% if selected_tab != 1 %}{% url 'dashboard:account_setting_basic' %}{% endif %}"><div class="{% if selected_tab == 1 %}selected_menu{% endif %} menu_item menu_left">アカウント情報</div></a>
<a href="{% if selected_tab != 2 %}{% url 'dashboard:profile_change' %}{% endif %}"><div class="{% if selected_tab == 2 %}selected_menu{% endif %} menu_item">アカウント情報変更</div></a>
<a href="{% if selected_tab != 3 %}{% url 'dashboard:agreement_payment' %}{% endif %}"><div class="{% if selected_tab == 3 %}selected_menu{% endif %} menu_item">規約<!--・支払--></div></a>
