{% load static %}
{% load i18n %}
<div class="modal-setting-content">
    <a id="modal-close" class="button-link"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
    <div class="modal-title">
        <span>{% trans "Setting Details" %}</span>
    </div>
    <div class="modal-popup-content">
        <div class="modal-subtitle" style="display:inline-block;">
            <b style="margin-right: 10px;">{% trans "Project Name" %}：</b>
            <span class = "editme" contenteditable="false" onblur="blurFoo.call(this)" value="{{project.id}}">{{ project.name }}</span>
            <button  type="button" class="btn btn-info editprojname" id="editpname" style="background: transparent;box-shadow: none; margin-left: -2px;  margin-top: -2px;">
                <i class="fa fa-pencil" style="color:black"></i></span></button>
        </div>
        <form action="" method="POST" id="setting">
            {% csrf_token %}
            <div class="modal-subtitle">
                <b>{% trans "Schedule" %}</b><br>
                <div class="btn-group btn-group-vertical" data-toggle="radiobuttons">
                    <input type="hidden" name="pid" value="{{ project.id }}">
                    <span>
                    <label style="font-size: 1.2rem;">
                        <input type="radio" name='scheduleType' value="1" {% for schedule in project.schedule %}{% if schedule.schedule_type == 1 %}checked{% endif %}{% endfor %}>&nbsp;<span>{% trans "Every " %}<span class="day"></span>{% trans "days" %}</span>
                    </label>
                </span><br>
                    <label style="font-size: 1.2rem;">
                        <input type="radio" name='scheduleType' value="2" style="" {% for schedule in project.schedule %}{% if schedule.schedule_type == 2 %}checked{% endif %}{% endfor %}>&nbsp;<span>{% trans "Every week" %}<span class="day-name"></span></span>
                    </label><br>
                    <label style="font-size: 1.2rem;">
                        <input type="radio" name='scheduleType' value="3" {% for schedule in project.schedule %}{% if schedule.schedule_type == 3 %}checked{% endif %}{% endfor %}>&nbsp;<span>{% trans "Every month" %}<span class="month"></span>{% trans "th" %}</span>
                    </label><br>
                    <label style="font-size: 1.2rem;">
                        <input type="radio" name='scheduleType' value="0" {% for schedule in project.schedule %}{% if schedule.schedule_type == 0 or not schedule %}checked{% endif %}{% endfor %}>&nbsp;<span>{% trans "No scheduling" %}</span>
                    </label>
                </div>
            </div>
            <div class="modal-subtitle">
                <b>{% trans "Category" %}</b><br>
                <div class="btn-group btn-group-vertical" data-toggle="radiobuttons" style="margin: 0;">
                    <label style="font-size: 1.2rem;">
                        <input type="radio" name='categoryType' value="create" checked>&nbsp;<span>{% trans "Create Category" %}</span>
                    </label><br>
                    <label style="font-size: 1.2rem;">
                        <input type="radio" name='categoryType' value="move">&nbsp;<span>{% trans "Move Category" %}</span>
                    </label>
                </div>
            </div>
            <div class="modal-subtitle create-category">
                <input type="hidden" name="projectId">
                <input type="hidden" id ="category-move-target" name="category-move-target" class="category-move-target">
                <div class="form-group" style="margin: 0 0 0 24px;">
                    <input type="text" name="category-create" class="form-control">
                </div>
            </div>
            {% if category_list.1 %}
            <div class="modal-subtitle move-category">
                <input type="hidden" id ="projectId" name="projectId">
                <input type="hidden" id ="category-move-target" name="category-move-target" class="category-move-target">
                <div class="dropdown" style="margin: 2px 0 0 8px;">
                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="margin: 2px 0 0 20px;"><span class="dropdown-name">{% trans "Select Category"%}</span><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        {% for category in category_list %}
                        {% if category != project.category %}
                        <li onclick="$('.category-move-target').val('{{ category }}'); $('.dropdown-name').text('{% if category == "No Category" %}未分類{% else %}{{ category }}{% endif %}');">
                            <a>{% if category == "No Category" %}未分類{% else %}{{ category }}{% endif %}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
            
            <div class="modal-subtitle">
                <b>{% trans "Notifications" %}</b>
                <div data-toggle="buttons">
                    <label class="btn">
                        <input type="checkbox" name="notification" value="1" {% if project.mail_alert %}checked="yes"{% endif %}><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i><span>{% trans "After finishing project excution"%}</span>
                    </label>
                </div>
                <div data-toggle="buttons">
                    <label class="btn">
                        <input type="checkbox" name="notification" value="2" {% if project.data_alert %}checked="yes"{% endif %}><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i><span>{% trans "last two data have defference"%}</span>
                    </label>
                </div>
                <div data-toggle="buttons" style="display: none;" >
                    <label class="btn">
                        <input type="checkbox" name="notification" value="3" checked="checked"><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i><span>{% trans "include specific word"%}</span>
                    </label>
                </div>
                <div>
                    <b style="margin-right: 10px;">{% trans "Keywords" %}：</b>
                    <span class = "editme1" contenteditable="false" onblur="keywordChangeAjax.call(this)" value="{{project.id}}">{{ project.keyword }}</span>
                    <button  type="button" class="btn btn-info editkwname" id="editkname" style="background: transparent;box-shadow: none; margin-left: -2px;  margin-top: -2px;"><i class="fa fa-pencil" style="color:black"></i></span></button>
                </div>
            </div>
            
            <div style="float: right;">
                <input type="submit" value="{% trans "Save" %}" class="btn btn-info">
            </div>
        </form>
    </div>
</div>
<div class="modal-download-content">
    <a id="modal-close" class="button-link"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
    <div class="modal-title">
        <span>{% trans "Download Option" %}</span>
        <button class="btn btn-primary btn-fill btn-info" type='button' onclick="location.href='{% url 'dashboard:run' project.id %}';"> {% trans "Run Now" %}</button>
    </div>
    <div class="modal-popup-content">
        <div class="modal-subtitle">
            <b>{% trans "Project Name" %}</b>：{{ project.name }}
        </div>
        <div class="modal-subtitle">
            <b>{% trans "Select Format" %}</b><br>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="btn-group btn-group-vertical" data-toggle="buttons">
                    <!--
                    <label class="btn">
                        <input type="radio" name='radio2' checked><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i><span>{% trans "Newest Data" %}</span>
                    </label>
                    <label class="btn">
                        <input type="radio" name='radio2'><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i><span>{% trans "Difference in Last Two days" %}</span>
                    </label>
                    -->
                    <label class="btn">
                        <input type="radio" name='radio2' checked><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i><span>{% trans "Specific Date Data" %}</span>
                    </label>
                </div>
            </form>
        </div>
        <div class="modal-subtitle">
            <b>{% trans "Select data acquisition" %}</b>
            <ul style="width: 700px; padding: 10px 0 0 10px;">
                <li class="modal-calendar">
                    <div id="date_{{ project.id }}" class="datepicker"></div>
                    <input type="hidden" class="dateList_{{ project.id }}" value="{% for execution in project.executions %}{{ execution.date_executed|date:"Y/m/d" }}{% endfor %}">
                </li>
                <li class="modal-calendar" style="width: 315px;">
                    <div class="table-responsive">
                        <table class="table table-hover" id="project_table">
                            <thead>
                            <th>{% trans "Date" %}</th>
                            <th>{% trans "Status" %}</th>
                            <th>{% trans "Data" %}</th>
                            <th></th>
                            <th></th>
                            </thead>
                            <tbody>
                            {% for execution in project.executions %}
                            {% if forloop.first %}
                            <tr class="date_val_{{ project.id }}" value="{{ execution.date_created|date:"Y/m/d" }}">
                            {% else %}
                            <tr class="date_val_{{ project.id }} display-none" value="{{ execution.date_created|date:"Y/m/d" }}">
                            {% endif %}
                            <td width='110'>{{ execution.date_executed|date:"Y/m/d" }}</td>
                            {% if execution.status == 1 %}
                            <td  width="60"><img src="{% static 'assets/img/tick.png' %}"></td>
                            <td>
                                <form name="searchForm" id="searchForm" method="post" action="{% url 'dashboard:product_type' %}">
                                    <input id="ftype" name="filetype" type="hidden">
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle dbtn" data-toggle="dropdown" value= "#{{user.id}}#{{project.id}}#{{execution.id}}">
                                            Download<span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" value="0">
                                        </ul>
                                    </div>
                                </form>
                            </td>
                            {% elif execution.error == 1 %}
                            <td width="60"><img src="{% static 'assets/img/cross.png' %}" alt="Error"/></td>
                            <td>{% trans "Error" %}</td>
                            {% else %}
                            <td width="60" value="{{project.id}}"><img src="{% static 'assets/img/wait.gif' %}" alt="Running" class="running" value="{{execution.id}}"/></td>
                            <td>{% trans "Running" %}</td>
                            {% endif %}
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="modal-history-content">
    <a id="modal-close" class="button-link"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
    <div class="modal-title">
        <span>{% trans "Execution History"%}</span>
    </div>
    <div class="modal-popup-content">
        <div class="modal-subtitle">
            <b>{% trans "Project Name" %}</b>：{{ project.name }}
            <button class="btn btn-primary btn-fill btn-info" type='button' onclick="location.href='{% url 'dashboard:run' project.id %}';"> {% trans "Run Now" %}</button>

        </div>
        <input type="hidden" name="history" value="">
        <div class="table-responsive">
            <table class="table table-hover" id="project_table">
                <thead>
                <th>{% trans "Date" %}</th>
                <th>{% trans "Status" %}</th>
                <th>{% trans "Data" %}</th>
                </thead>
                <tbody>
                {% for execution in project.executions %}
                <tr>
                    <td width='110'>{{ execution.date_executed|date:"Y/m/d" }}</td>
                    {% if execution.status == 1 %}
                    <td width="60"><img src="{% static 'assets/img/tick.png' %}"></td>
                    <td>{% trans "Done" %}</td>
                    {% elif execution.error == 1 %}
                    <td width="60"><img src="{% static 'assets/img/cross.png' %}" alt="Error"/></td>
                    <td>{% trans "Error" %}</td>
                    {% else %}
                    <td width="60"><img src="{% static 'assets/img/wait.gif' %}" alt="Running"/></td>
                    <td>{% trans "Running" %}</td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal-category-content">
    <a id="modal-close" class="button-link"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
    <div class="modal-title">
        <span>{% trans "Category Setting"%}</span>
    </div>
    <div class="modal-popup-content">
        <div class="modal-subtitle">
            <b>{% trans "Rename Project Category" %}</b>
        </div>
        <input class="check-click" type="checkbox">
        <input id="lefile" type="file" style="display:none">
        <div class="input-group">
            <form action="" method="POST">
                {% csrf_token %}
                <input type="hidden" name="category-rename-origin" value="">
                <input type="text" id="photoCover" class="form-control" name="category-rename-target" placeholder="New Category Name...">
                <input type="submit" value="{% trans "Save"%}" class="btn btn-info">
            </form>
        </div>
    </div>
</div>
