{% extends "product_site_base.html" %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}

{% block content %}
<div class="main-panel" style="height: 90vh;">
    <div class="title">
        <h2>パスワードリセット</h2>
    </div>
    <div class="background_wrapper">
        <div class="content">
            <div class="breadcrumbs">
            <a href="{% url 'accounts:home' %}">{% trans 'Home' %}</a>
            &rsaquo; {% trans 'Password reset' %}
            </div>
            <hr />
            <h3 class="align_center" style="margin: 50px 0;">パスワードリセットが完了しました。</h3>
            <p class="align_center">
               <a href="{% url 'accounts:login' %}">{% trans 'Click here' %}</a> to login.
            </p>
        </div>
    </div>
</div>


{% endblock %}
