{% extends "product_site_base.html" %}
{% load i18n %}
{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> / {% endif %}{% trans 'Change password' %} / <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>{% endblock %}
{% block breadcrumbs %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}
</br></br></br></br>
<div class="breadcrumbs">
<a href="{% url 'accounts:home' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset' %}
</div>
</br></br>

<p>{% trans 'Your password was changed.' %}</p>
{% endblock %}
