{% extends "base-global.html" %}
{% load i18n %}


{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}
<div class="main-panel" style="height: 90vh;">
    <div class="title">
        <h2>パスワードリセット</h2>
    </div>
    <div class="background_wrapper">
        <div class="content">
            <div class="breadcrumbs">
            <a href="{% url 'accounts:global_home' %}">{% trans 'Home' %}</a>
            &rsaquo; {% trans 'Resent activation link' %}
            </div>
            <hr />
            <h3 class="align_center" style="margin: 50px 0;">パスワードリセットのメールを送信しました。</h3>
            <p class="align_center">
                {% trans "We've resent your activation link, if an account exists with the email you entered." %}<br>
                {% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}
            </p>
        </div>
    </div>
</div>
{% endblock %}
