{% load staticfiles %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:'en' }}">
<head>
<meta charset="UTF-8">
<title>{% block title %}{% endblock title %} | akiyoko blog</title>
{%block headextra %}{% endblock headextra%}
</head>
<body>
{% for message in messages %}
    <li class="{{ message.tags }}">
    {% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}
    </li>
{% endfor %}
<div class="container">
{% block content %}{% endblock content %}
</div>
</body>
</html>
