<!-- Header -->
{% load static %}
{% load i18n %}
<style>
.navbar .navbar-collapse, .navbar .navbar-form {
    border-top: none;
    box-shadow: none;
}

.navbar.navbar-inverse {
}

.nav-justified > li {
    float: none;
}

.navbar .navbar-nav>li>a {
    color: #fff;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 100;
    font-size: 15px;
    border-radius: 3px;
}

.nav-justified > li > a {
    vertical-align: middle;
    display: block;
    width: 100%;
    height: 100%;
}

.main-header li {
    width: 0.07%;
}

hr.style-one {
    border: 0;
    height: 0;
    margin: 0;
    border: 1px solid rgba(51, 153, 153, 0.5);
}

#dropdownMenu {
    border-color: #fff;
    background: #fff;
    border: solid 2px rgba(51, 153, 153, 0.5);
    margin: 0 30px 0 0;
}

#dropdownMenu > .caret {
    color: rgba(51, 153, 153, 1);
}

.dropdown-name {
    margin-right: 3px;
}
</style>

<nav class="navbar navbar-inverse navbar-fixed-top nav-justified" style="background: #339999; z-index: 10000;">
    <div class="container-fluid">
        <form id="language-changer" action="{% url 'set_language' %}" method="post" style="display: none;">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}" />
            <input name="language" type="hidden" value="" />
        </form>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav nav-justified main-header">
                <li style="width: 0.001%;"><a href="{% url 'dashboard:index2' %}"><img src="{% static 'assets/images/pig_side.png' %}" width="80"></a></li>
                <li><a href="{% url 'dashboard:index2' %}">{% trans "Home" %}</a></li>
                <li><a href="{% url 'dashboard:project_data2' %}">{% trans "Project" %}</a></li>
                <li><a href="{% url 'dashboard:data_order' %}">{% trans "Data Order" %}</a></li>
                <li><a href="#">{% trans "FAQ" %}</a></li>
                <li style="width: 0.6%; vertical-align: middle;">
                    <a class="profile-link" style="">
                        <div class="profile"><i class="fa fa-user" aria-hidden="true"></i>{{ user.profile.last_name}}&nbsp;{{ user.profile.first_name }}&nbsp;様</div>
                    </a>
                    <div class="popup">
                        <div><a href="{% url 'dashboard:notification_setting' %}">{% trans "Account" %}</a></div>
                        <div>
                            {% for language in languages %}
                                {% if language.code != LANGUAGE_CODE %}
                                    <a href="#" onclick="postLanguageChanger('{{ language.code }}'); return false;">{{ language.name_local }}</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% if request.session.isClientTool != 1 %}
                            <div><a href="{% url 'accounts:logout' %}">{% trans "Logout" %}</a></div>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
