{% load static %}
{% load i18n %}
{% language 'en' %}
<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/apple-icon.png'%}" />
    <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.png'%}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{% block title %}Welcome-PigData{% endblock %}</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!-- Bootstrap core CSS     -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />
    <!--  Material Dashboard CSS    -->
    <link href="{% static 'assets/css/material-dashboard.css' %}" rel="stylesheet" />
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="{% static 'assets/css/demo.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/dropdown.css' %}" rel="stylesheet" />
        <!--  Button CSS  -->
    <link href="{% static 'assets/css/button.css' %}" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
</head>

<body>
<div class="wrapper">
<div class="sidebar" data-color="purple" data-image="{% static 'assets/img/sidebar-1.jpg' %}">
    <!--
Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

Tip 2: you can also add an image using data-image tag
-->
    <div class="logo"><a href="http://www.sms-datatech.co.jp" class="simple-text">PigData</a></div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li>
                <a href="{% url 'dashboard:index' %}">
                    <i class="material-icons">dashboard</i>
                    <p>{% trans "Dashboard" %}</p>
                </a>
            </li>

            <li class="active">
                <a href="">
                    <i class="material-icons">content_paste</i>
                    <p>{% trans "Project Data" %}</p>
                </a>
            </li>
            <!--
            <li>
                <a href="{% url 'dashboard:project_schedule' %}">
                    <i class="material-icons">library_books</i>
                    <p>{% trans "Project Schedule" %}</p>
                </a>
            </li>
            -->
            <li>
                <a href="{% url 'dashboard:setting' %}">
                    <i class="material-icons">bubble_chart</i>
                    <p>{% trans "Setting" %}</p>
                </a>
            </li>
            <li> </li>
            <li>
                <a href="{% url 'dashboard:upgrade' %}">
                    <i class="material-icons">unarchive</i>
                    <p>{% trans "Upgrade" %}</p>
                </a>
            </li>
        </ul>
    </div>
</div>
<nav class="navbar navbar-transparent navbar-absolute">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--div class="navbar-brand" href="">Welcome {{ user.username}} </div-->
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right" >
                <li>

                    {% if request.session.isClientTool != 1 %}
                    <span class="material-input"><a href="{% url 'accounts:logout' %}" class="dropdown-toggle">{% trans "Logout" %} </a></span>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="main-panel">



    <div class="content">

        <div class="container-fluid">
            <!--div align="left">
            <button class="button_base b01_simple_rollover" type='button' value=""> Refresh</button>
            <button class="button_base b01_simple_rollover" type='button' value=""> Delete </button>
            <button class="button_base b01_simple_rollover" type='button' value=""> Zip All Data</button>
            <button class="button_base b01_simple_rollover" type='button' value=""> Run Now</button>

            </div-->
            {% if num_proj != 0 %}
            {% for project in projects.values %}
            <div class="card card-plain">
                <div class="card-header" data-background-color="purple">
                    <table >
                        <!--tr>
                            <td width="20%">
                            <input type="checkbox" name="checkbox" id={{ project.id }} value="value">
                            <label for={{ project.id }}></label>
                            </td>
                            <td></td>
                        </tr-->
                        <tr>
                            <td width="40%"><h4 class="title">{% trans "Name"%}: {{ project.name }}</h4></td>
                            <td>
                                <button class="btn btn-round btn-fill btn-info" type='button' onclick="location.href='{% url 'dashboard:run' project.id %}'; download"> {% trans "Run Now" %} </button>
                                <button class="btn btn-round btn-fill btn-info" type='button' onclick="location.href='{% url 'dashboard:delete_project' project.id %}';"> {% trans "Delete Project" %}</button>
                                <button class="btn btn-round btn-fill btn-info" type='button' onclick="location.href='{% url 'dashboard:zip_data' project.id %}';" download> {% trans "Zip All Data" %}</button>
                                <button class="btn btn-round btn-fill btn-info" type='button' onclick="location.href='{% url 'dashboard:project_details' project.id %}';" download> {% trans "Project Details" %}</button>
                                <!--button class="button_base b01_simple_rollover" type='button' value="{{ project.id }}" Schedule </button-->
                            </td>
                        </tr>
                        <tr>
                            <td width="40%"><p class="category">{% trans "Created On" %}: {{ project.date_created }}</p></td>
                            <td></td>
                        </tr>

                    </table>
                </div>
                <div class="card-content table-responsive">

                    <table class="table table-hover">
                        <thead>
                        <th>{% trans "Execution Date" %}</th>
                        <th>{% trans "Status" %}</th>
                        <th>{% trans "Data" %}</th>
                        </thead>
                        <tbody>
                        {% for execution in project.executions %}
                        <tr>
                            <td>{{ execution.date_executed }}</td>
                            {% if execution.status == 1 %}
                            <td width="1"><img src="{% static 'assets/img/tick.png' %}"></td>
                            <td>
                            <form method="post" action="{% url 'dashboard:product_type' %}">
		                        {% csrf_token %}
                                <div class="styled-select blue rounded">
                                <select  id="ftype" name="filetype" onchange = "this.form.submit()">
                                    <option value={{user.id}}#{{project.id}}#{{execution.id}}#10>Download</option>
                                    <option value={{user.id}}#{{project.id}}#{{execution.id}}#1>.xls</option>
                                    <option value={{user.id}}#{{project.id}}#{{execution.id}}#2>.csv</option>
                                    <option value={{user.id}}#{{project.id}}#{{execution.id}}#3>.txt</option>
                                    <!--option value="{{user.id}}" pid="{{project.id}}" eid="{{execution.id}}" ft="2" }>.csv</option-->

                                </select>
                                    </div>
                             </form>
                            </td>
                            {% else %}
                            <td width="1"><img src="{% static 'assets/img/wait.gif' %}" alt="Running"/></td>
                            <td>{% trans "Running" %}</td>
                            {% endif %}

                        </tr>

                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="card-content table-responsive">{% trans "You do not have created any project yet. To create a project download our tool" %} <a href="{% url 'accounts:downloadtool' %}" download>PIGDATA</a></div>
            {% endif %}
        </div>
    </div>
    </div>
    <footer class="footer">
        <div class="container-fluid">
            <nav class="pull-left">
                <ul>
                    <li>
                        <a href="#">
                            {% trans "Home" %}
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            {% trans "Company" %}
                        </a>
                    </li>
                    <li>
                        <a href="#"> {% trans "Contacts" %}</a>
                    </li>
                    <li>
                        <a href="#">
                            {% trans "Blog" %}
                        </a>
                    </li>
                </ul>
            </nav>
            <p class="copyright pull-right">
                &copy;
                <script>
                            document.write(new Date().getFullYear())
                        </script>
                <a href="http://www.sms-datatech.co.jp"> SMS DATA TECH CO.</a>
            </p>
        </div>
    </footer>
</div>
</div>
</body>
<!--   Core JS Files   -->
<script src="{% static 'assets/js/jquery-3.2.1.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/js/material.min.js' %}" type="text/javascript"></script>
<!--  Charts Plugin -->
<script src="{% static 'assets/js/chartist.min.js' %}"></script>
<!--  Dynamic Elements plugin -->
<script src="{% static 'assets/js/arrive.min.js' %}"></script>
<!--  PerfectScrollbar Library -->
<script src="{% static 'assets/js/perfect-scrollbar.jquery.min.js' %}"></script>
<!--  Notifications Plugin    -->
<script src="{% static 'assets/js/bootstrap-notify.js' %}"></script>
<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Material Dashboard javascript methods -->
<script src="{% static 'assets/js/material-dashboard.js' %}"></script>
<!-- Material Dashboard DEMO methods, don't include it in your project! -->
<script src="{% static 'assets/js/demo.js' %}"></script>
</html>
{% endlanguage %}
