.btn{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid #000 transparent;
    border-radius: 4px;
}

.btn-up{
    background-color: #ffd700;
    box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
}

.btn-up a, .btn-up a:hover{
    color: #000;
}

.btn-up:hover{
    background-color: #ffff00;
}
 .btn-up:focus, .btn-up:active{
    background-color: #ffd700 !important;
}
.btn.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    box-shadow: 0px 0px;
    text-transform: capitalize;
}
.btn.btn-primary.dropdown-toggle:hover, .open > .btn.btn-primary.dropdown-toggle, .open > .btn.btn-primary.dropdown-toggle:focus{
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
.dropdown-menu li a:hover, .dropdown-menu li a:focus, .dropdown-menu li a:active {
    color: #fff;
    background-color: #37aab7;
    cursor: pointer;
}
.dropdown-menu li a{
    font-size: 14px;
    text-align: left;
    list-style: none;
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

/* radiobutton, checkbox */
label.btn {
    background: transparent ;
}

label.btn span {
    font-size: 1.5em ;
}

label input[type="radio"] ~ i.fa.fa-circle-o{
    color: #c8c8c8;
    display: inline;
    margin: 0 8px 0 0;
}
label input[type="radio"] ~ i.fa.fa-dot-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o{
    color: #7AA3CC;
    display: inline;
    margin: 0 8px 0 0;
}
label:hover input[type="radio"] ~ i.fa {
    color: #7AA3CC;
}

label input[type="checkbox"] ~ i.fa.fa-square-o{
    color: #c8c8c8;
    display: inline;
    margin: 0 8px 0 0;
}
label input[type="checkbox"] ~ i.fa.fa-check-square-o{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-square-o{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-check-square-o{
    color: #7AA3CC;
    display: inline;
    margin: 0 5px 0 0;
}
label:hover input[type="checkbox"] ~ i.fa {
    color: #7AA3CC;
}

div[data-toggle="buttons"] label.active{
    color: #7AA3CC;
}

div[data-toggle="buttons"] label, div[data-toggle="radiobuttons"] label{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 8px;
    line-height: 2em;
    text-align: left;
    white-space: nowrap;
    vertical-align: top;
    cursor: pointer;
    background-color: none;
    border: 0px solid #c8c8c8;
    border-radius: 3px;
    color: #000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

div[data-toggle="radiobuttons"] label span:hover{
    color: #7AA3CC;
}

div[data-toggle="buttons"] label:hover {
    color: #7AA3CC;
}

div[data-toggle="buttons"] label:active, div[data-toggle="buttons"] label.active {
    -webkit-box-shadow: none;
    box-shadow: none;
}
/* End radiobutton, checkbox */
