body {
	margin: 0;
	display: table;
	height: 100%;
	width: 100%;
	/*font: 20px Helvetica Neue, sans-serif;*/
}

#center {
	display: table-cell;
	vertical-align: middle;
}

#fig {
	position: relative;
	margin: auto;
}
