/* Header */
div.navbar > ul {
  float: right;
  width: 1200px;
	text-align: right;
	height: 100%
}

div.navbar > p {
	position: absolute;
	right: 30px;
	top: 0;
}

div.navbar > h1 {
	margin: 0;
	position: absolute;
	left: 10px;
	top: 0;
	text-indent:-9999px;
}

div.navbar > h1 > a {
	display: block;
	width: 120px;
	height: 47px;
	background-image: url(../images/Logo_blackback.png);
	background-size: 115%;
	background-repeat: no-repeat;
	background-position: center;
	padding: 0;
}

div.navbar > ul > li {
	display: inline-block;
	margin-left: 60px;
	height: 100%;
	font-size: 13px;
}

div.navbar > ul > li.login_list {
    text-align: right;
    margin-left: 208px;
    margin-right: 30px;
}

.navbar {
  margin-bottom: 0;
	height: 47px;
  min-height: 0;
	background-color: #000;
	font-family: Arial, Helvetica, sans-serif;
	z-index: 200;
	width: 100%;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  line-height: 44px;
}

a.navItem {
    color: transparent;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    color: #dcdcdc;
}

/* Footer */
footer.footer {
	background-color: #57adba;
	color: #FFF;
	height: 74px;
	text-align: center;
}

footer.position_bottom {
	bottom: 0;
	position: absolute;
	width: 100%;
}

footer {
    padding: 15px 0;
}

footer ul {
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}

footer ul li {
    display: inline-block;
}

footer ul li a {
    color: inherit;
    padding: 15px;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 3px;
    text-decoration: none;
    position: relative;
    display: block;
}

footer ul li a:hover {
    text-decoration: none;
}

footer .copyright {
    margin: 0;
}

footer .copyright .material-icons {
    font-size: 18px;
    position: relative;
    top: 3px;
}

footer .btn {
    margin-top: 0;
    margin-bottom: 0;
}

footer.footer_gray {
	background-color: #c0c0c0;
	padding: 15px 0;
	margin-top: 50px;
}

p.policy_link > a, p.copyright > a {
	color: white;
}
