/* register */

body{
    width: 100%;
    font-size: 15px;
    font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
    color: #333;
    background-color: #f8f8f8;
}

div.header{
    background-color: black;
    height: 30px;
}

.main-panel{
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    -webkit-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -moz-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -o-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -ms-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    max-height: 100%;
}

.content{
    margin:10px auto;
    width: 70%;
    min-width: 1400px;
    padding: 30px 150px;
    border-radius: 3px;
}

a {
	color: #48919c;
	text-decoration: none;
}

a:hover {
	color: #62c6d6;
	text-decoration: none;
}

.form-content{
    padding: 15px 40px 35px;
}

.form-group{
    margin: 40px 0 0 0;
}

div.top{
    background-color: #CCFFFF;
    padding: 50px 0 50px 30px;
}

div.main{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

table{
    margin-left: auto;
    margin-right: auto;
}

p.caution{
    text-align: right;
}

sup{
    color: red;
    font-size: 100%;
}

td{
    padding: 20px;
    vertical-align: top;
    text-align: center;
    background-color: #f8f8f8;
}

table {
	border-collapse: separate;
	border-spacing: 2px;
}

div.FreePlan, div.BusinessPlan, div.bank, div.card{
    display: table;
    background-color: #DEDDDD;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 5px;
}

div.table-right{
    display: table-cell;
}

div.table-left{
    display: table-cell;
    vertical-align: middle;
}

ul{
    margin: 0;
    padding: 0 0 0 1em;
    list-style: none;
}

.alert {
   counter-reset: number;
 }

.alert b::before {
    counter-increment: number;
    content: counter(number) ".";
    padding-right: 8px;
}

input{
    margin: 0 10px;
}

input.name{
    width: 80px;
}

td.text-right{
    text-align: right;
    padding-right: 30px;
}

td.name{
    padding-left: 10px;
}

.confirm-section{
    padding: 0 45%;
    margin: 80px auto 0;
    display: table;
    border-collapse: separate;
    border-spacing: 10px 0;
}

.btn_two {
	padding: 0;
	text-align: left;
	margin: 100px 0 0;
}

button.confirm{
    background-color: #F5A9A9;
    padding: 0.5em 3em;
    border-radius: 6px;
    color: #FFF;
    font-size: 18px;
}

button.mypage{
    background-color: #00bcd4;
    padding: 0.5em 3em;
    border-radius: 6px;
    color: #FFF;
    font-size: 18px;
}

button.mypage:hover {
	background-color: #2ac0d4;
	color: white;
}

div.navbar {
	border-radius: 0;
}

button.dl{
    background-color: #ffd700 ;
    padding: 0.5em 3em;
    border-radius: 6px;
    color: #000;
    font-size: 18px;
}

.align_left {
	text-align: left;
}

button.dl:hover {
	background-color: #ffff00;
}

button.confirm:hover {
	background-color: #f9b6b6;
	color: #FFF;
}

.font_bold {
	font-weight: bold;
}

.confirm_btn {
    display: inline-block;
    padding: 0.5em 3em;
    text-decoration: none;
    color: #F5A9A9;
    background-color: white;
    border: solid 2px #F5A9A9;
    border-radius: 3px;
    transition: .4s;
    font-size: 18px;
}

.policy_confirm {
    margin-left: 10px;
}

div.confirm_content {
	  padding-left: 30%;
}

.confirm_btn:hover {
    background: #F5A9A9;
    color: white;
}

div.confirm_table{
    display: table-cell;
}

.small{
    font-size: 0.8em;
}

p.pass-info{
    margin-left: 10px;
    margin-top: 10px;
    width: 300px;
}


.choice {
    list-style: none;
}

.choice:hover {
    cursor: pointer;
}

#id_privacy {
    list-style: none;
}

/* register End */

/* register_confirm */
h2{
    text-align: center;
    padding-top: 20px;
}

div.main-confirm > td{
    text-align: right;
}

div.main-confirm{
    background-color: #DEDDDD;
    width: 1000px;
    margin: auto;
}

div.bottun-wrapper{
    display: table;
    margin: auto;
}

div.bottun-wrapper > p{
    display: table-cell;
    padding: 0.5em 2em;
    margin-right: 100px;
    width: 8em;
    text-align: center;
    background-color: #F5A5A5;
}

div.payment_card_info {
    display: none;
}

div.payment_invoice_info {
    display: none;
}


div.title {
	height: 190px;
	background-image: url(../images/title_bg.png);
	background-size: cover;
	background-position: center;
	box-sizing: border-box;
	padding-top: 60px;
	position: relative;
}

div.title > h2 {
	margin:0 auto 0;
	font-size: 50px;
	word-wrap: break-word;
	max-width: 1000px;
	display: block;
	font-weight: normal;
	padding: 0;
	text-align: left;
}

div.title:after {
	content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 50%;
    width: 300px;
    height: 100%;
    background-image: url(../images/title_pig.png);
    background-repeat: no-repeat;
    background-size: auto 60%;
    background-position: center left 40px;
    transform: scale(-1, 1);
    margin-right: -500px;
}


div.background_wrapper {
	padding-top: 50px;
}

div.nav_wrapper {
	text-align: right;
}

a.login_btn {
  font-weight: bold;
  display: inline-block;
  background-color: #FAAC58;
  color: #FFF;
  line-height: 1;
  text-decoration: none;
  margin-top: 0.4em;
  padding: 0.6em 2em;
  border-radius: 3px;
    cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);/*影*/
  -webkit-tap-highlight-color: transparent;
  transition: .3s ease-out;
}

a.login_btn:hover {
    background: #f7b874;
    color: #000;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 13px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 63px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.active {
  color: #dcdcdc;
}

.setting_main {
	margin: 0 auto;
	padding: 2px;
	width: 1000px;
}

#setting_menu {
	display: flex;
	margin-top: 10px;
}

.menu_item {
	margin: 15px 0 15px 5px;
	background-color: #FFF;
	border: solid 1px #d3d3d3;
	color: black;
	padding: 5px 20px 5px 20px;
}

.menu_item a {
	color: black;
	font-weight: bold;
}

.selected_menu {
	background-color: #a9a9a9;
}

#menu_bottom_line {
	width:100%;
	margin-top: -15px;
	border: solid 0.25px #d3d3d3;
}

.menu_bottom_line_2 {
	width:100%;
	border: solid 1px #d3d3d3;
}

#content_outer {
	display: flex;
	justify-content: space-around;
	padding: 0 40px;
}

#content_left {
	width: 45%;
}

#content_right {
	width: 45%;
}

.left_box {
	width: 100%;
	height: 170px;
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: #F2F2F2;
	padding: 10px;
}

.right_box {
	width: 100%;
	height: 340px;
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: #D4F4F8;
	padding: 10px;
}

.contents_title {
	font-weight: bold;
	font-size: 1.2em;
}

div.progress_icon {
	height: 100px;
	text-align: center;
}

div.progress_icon img{
	width: 150px;
}

div.choice_group_cell > ul >li {
	list-style-type: none
}

.font_small {
	font-size: 12px;
	font-weight: normal;
}

div.operating_environment {
	border: solid 1px;
	width: 500px;
	margin: 30px auto 50px;
	padding: 20px;
}

div.choice_group {
	display: table;
	background-color: #f8f8f8;
	padding: 10px;
	width: 100%;
	cursor: pointer;
}

li {
	font-weight: 500;
}

input.choice_margin {
	margin-right: 20px;
}

div.choice_group_cell {
	/*display: table-cell;*/
	vertical-align: top;
}
.choice_plan {
  color: #000;
}

p.indent_1em {
	padding-left: 1em;
}

p.indent_2em {
	padding-left: 2em;
}

label {
	font-weight: 500;
}

div.radio_width {
	/*width:32px;*/
}

div.download_button {
	margin: auto;
	width: 200px;
}

div.menu_left {
	margin-left: 50px;
}

p.copyright {
	font-size: 12px;
}


p.setting_title {
	font-size: 17px;
	margin-top: 30px;
}

div.setting_margin {
	margin-left: 20px;
	margin-bottom: 10px;
}

p.setting_detail {
	text-align: right;
}



div.payment_box {
	margin: 20px auto 0 30px;
	padding: 10px;
}

p.pay_agree_title {
	font-weight: 700;
	font-size: 17px;
	margin-top: 30px;
}

div.payment_table {
	margin: 20px auto 10px 40px;
}

div.payment_cell {
	text-align: center;
	margin: 5px;
	padding: 5px 0;
	vertical-align: middle;
	background-color: rgb(222, 221, 221);
}

div.payment_cell > p {
	margin: 0;
}

.payment_btn {
	margin-left: 30px;
}

div.agreement_download {
	margin-left: 30px;
}

p.agreement_title {
	margin-top: 30px;
}

ul.ul_indent {
	margin-left: 10px;
}

p.payment_method {
	margin-left: 30px;
	margin-top: 30px;
}

div.pay_change_btn {
	text-align: center;
	margin-top: 30px;
}

div.payment_change_box {
	width: 50%;
	margin: 80px auto 30px;
	padding: 30px;
}	

div.profile_change_wrapper {
	width: 70%;
	margin: 0 auto 30px;
}

#change_email_form{
  margin: 10px 80px 10px;
  padding: 10px 150px 10px 40px;
  border: 2px solid #A9A9A9;
  background: #F0F8FF;
  border-radius: 10px;
  display: none;
}

#change_email_form > .form-group{
    margin: 10px 0 0 0;
}

#change_email_btn {
    cursor: pointer;
}

p.forget_pass {
	text-align: right;
}

div.change_finish {
	margin-top: 100px;
	text-align: center;
}

div.plan_header {
	margin-top: 50px;
	padding-top: 50px;
	padding-left: 50px;
	height: 200px;
	background-color: #48d1cc;
}

div.plan_wrapper {
	width: 1300px;
	margin: 100px auto;
}

div.plan_table_wrapper {
	display: table;
	border-collapse: separate;
	border-spacing: 50px 0;
	margin: 50px auto 100px;
}

div.plan_box {
	text-align: center;
	width: 600px;
	padding: 10px;
	display: table-cell;
	border: solid 1px;
	padding: 0;
}

div.btn_table {
	display: table-cell;
}

div.plan_detail {
	padding:10px;
	text-align: left;
}

.btn_cancel {
    background-color: gray;
    padding: 0.5em 3em;
    border-radius: 6px;
    color: #FFF;
    font-size: 18px;
}

.btn_cancel:hover {
	background-color: #00bcd4;
	color: white;
}

div.plan_box > p {
	font-size: 30px;
	background-color: #b5b5b5;
	padding: 30px 0;
	color: white;
}

div.plan_detail > div.row {
	font-size: 20px;
}

div.plan_green > p {
	background-color: #00bcd4;
}

div.plan_box > ul > li {
	text-align: left;
	margin-bottom: 10px;
	font-size: 17px;
}

.align_center {
	text-align: center;
}

.align_left {
	text-align: left;
}

.align_right {
	text-align: right;
}

.border_bottom {
    border-bottom: solid 0px #3aa3a3;
}

h2.plan_change {
	margin-bottom: 50px;
}

div.plan_table_box {
	width: 400px;
	padding: 20px;
	display: table-cell;
}

div.back_gray {
	background-color: rgb(222, 221, 221);
}

div.back_yellow {
	background-color: #f0e68c;
}

div.cancel_box {
	background-color: rgb(222, 221, 221);
	padding: 30px;
	margin-bottom: 50px;
}


div#business_payment_outer {
	display: none;
}



/* register_confirm End */
