.wrap {
    width: 100%;
    height: 100%;
}

.floatleft {
    float:left;
    width: 100%;
    background-color: #ff0000;
    height: 100%;
}

.floatright {
float: right;
    background-color: #00ff00;
    height: 400px;
    width: 80%;
}