{% load static %}
{% load i18n %}
<div class="modal-setting-content">
    <a id="modal-close" class="button-link"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
    <div class="modal-title-global">
        <span>{% trans "Setting Details" %}</span>
    </div>
    <div class="modal-popup-content">
        <div class="modal-subtitle">
            <b>{% trans "Project Name" %}</b>：
            <span class = "editme" contenteditable="false" onblur="blurFoo.call(this)" value="{{project.id}}">{{ project.name }}</span>
            <button  type="button" class="editprojname" id="editpname">
                <i class="fas fa-edit" style="background: transparent;"></i>
            </button>

        </div>
        <br>
        <form action="" method="POST" id="setting">
            {% csrf_token %}
            <b>{% trans "Schedule" %}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="alert alert-success" role="alert">{% trans "Current Scheduling" %}:
            {% with project.sched_params as sched_params %}
                {% if sched_params.sched_type == '0' %}
                    {% trans "None"  %}
                {% elif sched_params.sched_type == '1' %}
                {% blocktrans with next_dt=sched_params.next_dt|date:"h:i A e" every=sched_params.every sched_params=sched_params.every|pluralize %}At {{ next_dt }}, every {{ every }} day {{sched_params}}{% endblocktrans %}
                {% elif sched_params.sched_type == '2' %}
                    {% blocktrans with next_dt=sched_params.next_dt|date:"h:i A e" l=sched_params.next_dt|date:"l" %}At {{ next_dt }}, only on {{ l }}{% endblocktrans %}
                {% elif sched_params.sched_type == '3' %}
                    {% blocktrans with next_dt=sched_params.next_dt|date:"h:i A e" js=sched_params.next_dt|date:"jS" %}At {{ next_dt }}, on {{ js }} day of the month{% endblocktrans %}
                {% endif %}
            {% endwith %}
            </span><br><br>
            <div class="btn-group btn-group-vertical" data-toggle="radiobuttons">
                <input type="hidden" name="pid" value="{{ project.id }}">
                <span>
                    <label style="margin-bottom: 0;">
                        <input type="radio" name='scheduleType' value="1" {% for schedule in project.schedule %}{% if schedule.schedule_type == 1 %}checked{% endif %}{% endfor %}>&nbsp;<span>
                        {% blocktrans %}
                            Run project after every <span class="day"></span> day </span>
                            <input type="time" id="day-appt" name="appt" min="00:00" max="24:00" value="10:00">
                        {% endblocktrans %} ({{ cur_tz }})
                    </label>
                </span><br>
                <label style="margin-bottom: 0;">
                    <input type="radio" name='scheduleType' value="2" style="" {% for schedule in project.schedule %}{% if schedule.schedule_type == 2 %}checked{% endif %}{% endfor %}>&nbsp;<span>
                    {% blocktrans %}
                        Run project weekly on <span class="day-name"></span> at </span>
                        <input type="time" id="weekly-appt" name="appt" min="00:00" max="24:00" value="10:00">
                    {% endblocktrans %} ({{ cur_tz }})
                </label><br>
                <label style="margin-bottom: 0;">
                    <input type="radio" name='scheduleType' value="3" {% for schedule in project.schedule %}{% if schedule.schedule_type == 3 %}checked{% endif %}{% endfor %}>&nbsp;<span>
                    {% blocktrans %}
                        Run project monthly on <span class="month"></span> at </span>
                        <input type="time" id="month-appt" name="appt" min="00:00" max="24:00" value="10:00">
                    {% endblocktrans %} ({{ cur_tz }})
                </label><br>
                <label style="margin-bottom: 0;">
                    <input type="radio" name='scheduleType' value="0" {% for schedule in project.schedule %}{% if schedule.schedule_type == 0 or not schedule %}checked{% endif %}{% endfor %}>&nbsp;<span>{% trans "No scheduling" %}</span>
                </label>
                <!--<input type="submit" value="Save" class="btn btn-info">-->
            </div><br><br>
            <input type="hidden" id="pid" name="pid" value="{{ project.id }}">
            <div><b>{% trans "Notifications" %}</b></div>
            <div >
                <label class="btn">
                    <input type="checkbox" name="notification" value="1" {% if project.mail_alert %}checked{% endif %}><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i><span>{% trans " Send an email when project execution finished." %}</span>
                </label>
            </div>
            <div >
                <label class="btn">
                    <input type="checkbox" name="notification" value="2" {% if project.data_alert %}checked{% endif %}><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i><span>{% trans " Send an email when last two project extraction data has difference." %}</span>
                </label>
            </div>
            <!--<div >-->
                <!-- <label class="btn"> -->
                    <!--<input type="checkbox" name="notification" value="3" checked="checked"><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i>
                        <span>{% trans " Send an email data extraction result includes keyword" %}</span>-->
                <!--</label>-->
            <!--</div>-->
            <div>
                <label class="btn">
                    <input type="checkbox" name="notification" value="3" {% if project.keyword_alert %}checked{% endif %}>
                    <span>{% trans "Send an email if data extraction result includes keyword" %}</span>&nbsp;&nbsp;&nbsp;
                </label>
                <span class="editme1" contenteditable="false" onblur="keywordChangeAjax.call(this)" value="{{ project.id }}">{{ project.keyword }}</span>
                <button type="button" class="editkwname">
                    <i class="fas fa-edit" style="background: transparent;"></i>
                </button>
            </div>

            <div style="float: right;">
                <input type="submit" value="{% trans "Save" %}" class="btn btn-info">
            </div>
        </form>
    </div>
</div>
<div class="modal-download-content">
    <a id="modal-close" class="button-link"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
    <div class="modal-title-global">
        <span>{% trans "Download Option" %}</span>
    </div>
    <div class="modal-popup-content">
        <div class="modal-subtitle">
            <b>{% trans "Project Name" %}</b>：{{ project.name }}
        </div>
        <!--
        <div class="modal-subtitle">
            <b>{% trans "Select Format" %}</b><br>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="btn-group btn-group-vertical" data-toggle="buttons">
                    <label class="btn">
                        <input type="radio" name='radio2' checked><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i><span>{% trans "Newest Data" %}</span>
                    </label>
                    <label class="btn">
                        <input type="radio" name='radio2'><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i><span>{% trans "Difference in Last Two days" %}</span>
                    </label>
                    <label class="btn">
                        <input type="radio" name='radio2' checked> <i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i><span>{% trans "Specific Date Data" %}</span>
                    </label>
                </div>
            </form>
        </div>
        -->
        <div class="modal-subtitle">
            <b>{% trans "Select data acquisition" %}</b>
            <ul style="width: 700px; padding: 10px 0 0 10px;">
                <li class="modal-calendar">
                    <div id="date_{{ project.id }}" class="datepicker"></div>
                    <input type="hidden" class="dateList_{{ project.id }}" value="{% for execution in project.executions %}{{ execution.date_executed|date:"Y/m/d" }}{% endfor %}">
                </li>
                <li class="modal-calendar" style="width: 315px;">
                    <div>
                        <table class="table table-hover" id="project_table">
                            <thead>
                            <th>{% trans "Date" %}</th>
                            <th>{% trans "Status" %}</th>
                            <th>{% trans "Data" %}</th>
                            <th></th>
                            <th></th>
                            </thead>
                            <tbody>
                            {% for execution in project.executions %}
                            {% if forloop.first %}
                            <tr class="date_val_{{ project.id }}" value="{{ execution.date_created|date:"Y/m/d" }}">
                            {% else %}
                            <tr class="date_val_{{ project.id }} display-none" value="{{ execution.date_created|date:"Y/m/d" }}">
                            {% endif %}
                            <td width='110'>{{ execution.date_executed|date:"Y/m/d" }}</td>
                            {% if execution.status == 1 %}
                            <td  width="100"><img src="{% static 'assets/img/tick.png' %}" style="width:30px;"></td>
                            <td>
                                <div class="dropdown">
                                  <button id="data-download" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" style="font-size: 0.8rem;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                   {% trans "Download Data" %}
                                  </button>

                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a href="{% url 'global_dashboard:product_type' uid=user.id pid=project.id eid=execution.task_id ft=1 %}" class="dropdown-item" >XLS</a>
                                    <a href="{% url 'global_dashboard:product_type' uid=user.id pid=project.id eid=execution.task_id ft=2 %}" class="dropdown-item" >CSV</a>
                                    <a href="{% url 'global_dashboard:product_type' uid=user.id pid=project.id eid=execution.task_id ft=3 %}" class="dropdown-item" >TEXT</a>
                                  </div>
                                </div>
                            </td>
                            {% elif execution.error == 1 %}
                            <td width="60"><img src="{% static 'assets/img/cross.png' %}" alt="Error" style="width:50px;"></td>
                            <td>{% trans "Error" %}</td>
                            {% else %}
                            <td width="60" value="{{project.id}}"><img src="{% static 'assets/img/wait.gif' %}" alt="Running" class="running" value="{{execution.id}}" style="width:50px;"></td>
                            <td>{% trans "Running" %}</td>
                            {% endif %}
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="modal-history-content">
    <a id="modal-close" class="button-link"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
    <div class="modal-title-global">
        <span>{% trans "Execution History"%}</span>
    </div>
    <div class="modal-popup-content">
        <div class="modal-subtitle">
            <b>{% trans "Project Name" %}</b>：{{ project.name }}
            <button class="btn btn-primary btn-fill btn-info" type='button' onclick="location.href='{% url 'dashboard:run' project.id %}';"> {% trans "Run Now" %}</button>

        </div>
        <input type="hidden" name="history" value="">
        <div class="table-responsive">
            <table class="table table-hover" id="project_table">
                <thead>
                <th>{% trans "Date" %}</th>
                <th>{% trans "Status" %}</th>
                <th>{% trans "Data" %}</th>
                </thead>
                <tbody>
                {% for execution in project.executions %}
                <tr>
                    <td width='110'>{{ execution.date_executed|date:"Y/m/d" }}</td>
                    {% if execution.status == 1 %}
                    <td width="60"><img src="{% static 'assets/img/tick.png' %}"></td>
                    <td>{% trans "Done" %}</td>
                    {% elif execution.error == 1 %}
                    <td width="60"><img src="{% static 'assets/img/cross.png' %}" alt="Error"/></td>
                    <td>{% trans "Error" %}</td>
                    {% else %}
                    <td width="60"><img src="{% static 'assets/img/wait.gif' %}" alt="Running"/></td>
                    <td>{% trans "Running" %}</td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal-category-content">
    <a id="modal-close" class="button-link"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
    <div class="modal-title-global">
        <span>{% trans "Category Setting"%}</span>
    </div>
    <div class="modal-popup-content">
        <div class="modal-subtitle">
            <b>{% trans "Rename Project Category" %}</b>
        </div>
        <input class="check-click" type="checkbox">
        <input id="lefile" type="file" style="display:none">
        <div class="input-group">
            <form action="" method="POST">
                {% csrf_token %}
                <input type="hidden" name="category-rename-origin" value="">
                <input type="text" id="photoCover" class="form-control" name="category-rename-target" placeholder="New Category Name...">
                <input type="submit" value="{% trans "Save"%}" class="btn btn-info">
            </form>
        </div>
    </div>
</div>
