{% autoescape off %}
<hr>
<h4>PigData　支払い失敗通知</h4>
<hr>
平素はPigDataサービスをご利用頂き、誠にありがとうございます。
<br/>
お客様によって登録されたクレジットカードより、
<br/>
PigDataサービスへの支払いが正常に行われませんでした。
<br/>
大変お手数お掛け致しますが、登録頂いたクレジットカード情報をご確認頂き、
各クレジットカード会社へお問い合わせ下さい。
<br/>
ご不明な点がございましたら、お気軽にご連絡ください。
<br/>
今後とも宜しくお願い申し上げます。
<br/>
※データオーダーサービスへのご相談はこちらから
　support@sms-datatech.zendesk.com
<hr>
発行元：株式会社SMSデータテック
<br/>
&lt;support@sms-datatech.zendesk.com&gt;
<br/>
〒104-0043　東京都中央区湊3-5-10 VORT新富町3F 
{% endautoescape %}