{% autoescape off %}
<hr>
<h4>PigData　パスワード情報 変更通知</h4>
<hr>
お客様のPigDataアカウントに登録されているログインパスワードに
変更がありました。
<br>
下記のURLより内容を確認してください。
<br>
{{ profile_link }}
<br>
(クリックできない場合はブラウザーのアドレス欄にコピーしてください)
<br>
【 ご 注 意 】
<br>
※このメールにお心当たりのない場合、大変お手数ですが、
　support@sms-datatech.zendesk.com までご連絡をお願い申し上げます。
<br>
<hr>
発行元：株式会社SMSデータテック
<br>
&lt;support@sms-datatech.zendesk.com&gt;
<br>
〒104-0043　東京都中央区湊<br>3-5-10 VORT新富町3F
{% endautoescape %}