{% autoescape off %}
<hr>
<h4>PigData　本登録のご案内</h4>
<hr>
PigDataのアカウント登録をいただきましてありがとうございます。

<br/>
(クリックできない場合はブラウザーのアドレス欄にコピーしてください)
<br/>
【 ご 注 意 】
<br/>
※このメールにお心当たりのない場合、大変お手数ですが、本メールの破棄を
　お願いいたします。
<hr>
発行元：株式会社SMSデータテック
<br/>
&lt;support@sms-datatech.zendesk.com&gt;
<br/>
〒104-0043　東京都中央区湊3-5-10 VORT新富町3F
{% endautoescape %}