{% autoescape off %}
<hr>
<h4>PigData　プロジェクト　実行失敗通知</h4>
<hr>
お客様の作成したプロジェクトの実行に、何らかの原因によるエラーが発生しました。
<br/>
プロジェクト名　　　: {{ project.name }}
<br/>
カテゴリ名　　　　　: {{ project.category }}
<br/>
Execution start time: {{ execution.start_time }} UTC
<br/>
プロジェクト完了日時: {{ execution.completion_time }} UTC
<br/>
Execution elapsed time: {{ execution.elapsed_time }} secs
<br/>
以下のURLより、内容をご確認ください。
(クリックできない場合はブラウザーのアドレス欄にコピーしてください)
<br/>
再度プロジェクトを作成しても実行がうまくいかない場合は、
データ取得の依頼ができるデータオーダーサービスへ
ご相談ください。
<br/>
※データオーダーサービスへのご相談はこちらから
　support@sms-datatech.zendesk.com
<hr>
発行元：株式会社SMSデータテック
<br/>
&lt;support@sms-datatech.zendesk.com&gt;
<br/>
〒104-0043　東京都中央区湊3-5-10 VORT新富町3F
{% endautoescape %}
