{% extends "base-global.html" %}
{% load static %}
{% load i18n %}
{% block title %}PD-Analyze Data{% endblock %}
{% block meta %}

{% endblock %}
{% block content%}
<!-- Content Row -->

<div class="row">
<div class="card"  >

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile">
    <button type="submit">Upload</button>
  </form>
  {% if error %}
    <p>{{error}}</p>
  {% endif %}

  {% if uploaded_file_url and not error %}
    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
  {% endif %}

</div>
<br><br>
<!--<div class="card my-custom-scrollbar">-->
  <!--{{ df | safe }}-->
<!--</div>-->

</div>
<div class="row">
  <div class="col-lg-6 table-responsive">
<!--<table class="table table-bordered table-wrapper-scroll-x table-wrapper-scroll-y my-custom-scrollbar text-left ">-->
    <!--&lt;!&ndash;<thead>&ndash;&gt;-->
        <!--&lt;!&ndash;{% for key, values in object.items %}&ndash;&gt;-->
        <!--&lt;!&ndash;<tr>&ndash;&gt;-->
           <!--&lt;!&ndash;<th>{{key}}</th>&ndash;&gt;-->
        <!--&lt;!&ndash;</tr>&ndash;&gt;-->
        <!--&lt;!&ndash;{% endfor %}&ndash;&gt;-->

    <!--&lt;!&ndash;</thead>&ndash;&gt;-->
    <!--<tbody>-->
       <!--{% for key, values in object.items %}-->
        <!--<tr>-->
            <!--<th scope="col">{{key}}</th>-->
             <!--{% for row, cell in values.items %}-->
            <!--<td>{{cell}}</td>-->
            <!--{% endfor %}-->
        <!--</tr>-->
        <!--{% endfor %}-->
    <!--</tbody>-->
<!--</table>-->
  </div>
  <div class="col-lg-6">
    <form method="post" action="">
    <div class="alert alert-info" role="alert">
      Please add columns after selecting from the dropdown list: <a href="#" class="button" id="add" >Add</a>
      <br>
      columns:
      <select id="col">
      {% for i in cols %}
        <option value="{{ i }}">{{ i }}</option>
      {% endfor %}
      </select>

    <table class="gridView" id="selected_units">
            <thead>
    <tr class="gridViewHeader">
      <th>Columns</th>

    </tr>
    </thead>

      <tbody>
        <tr class="<%= cycle('gridViewclickableRowDialog', 'gridViewAltclickableRowDialog') %>">

        </tr>
      </tbody>
      </table>

       <!-- Dropdown -->
        <br><br>
        <h6>Dropdown button</h6>
        <div class="dropdown">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
            Select Columns
          </button>
          <div class="dropdown-menu">
            {% for i in cols %}
                <input type="checkbox" name={{i}} value={{i}}>{{i}}<br>
            {% endfor %}
          </div>
        </div>
      <!--column y:-->
      <!--<select id="col2">-->
      <!--{% for i in cols %}-->
        <!--<option value="{{ i }}">{{ i }}</option>-->
      <!--{% endfor %}-->
      <!--</select>-->

      <input class="btn btn-info" type="submit" value="submit"/>
    </div>

    </form>
    <div class="row">

    </div>
  </div>
</div>

<!--<div id="specifics">-->
    <!--<div class="dropdown" id="year-dropdown">-->
      <!--<button class="btn btn-default dropdown-toggle" type="button"-->
      <!--id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
        <!--Year-->
    <!--<span class="caret"></span>-->
  <!--</button>-->
  <!--<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">-->
    <!--{% for row in rows %}-->
          <!--{% for cell in row %}-->
            <!--<li><a href="#">{{ cell }}</a></li>-->
          <!--{% endfor %}-->
    <!--{% endfor %}-->
  <!--</ul>-->
<!--</div>-->
<!--</div>-->

<!--{% for key, values in object.items %}-->
    <!--<li>{{key}} :-->
    <!--<ul>-->
    <!--{% for row, cell in values.items %}-->
        <!--<li>{{cell}}</li>-->
    <!--{% endfor %}-->
    <!--</ul>-->
<!--</li>-->
<!--{% endfor %}-->
<!-- /.container-fluid -->


{% endblock%}

{% block js %}
<script type="text/javascript">
$('#add').click(function() {
    var question = $('#col').val();
    console.log(question)
    var newrow = '<tr><td>' + question + '</td></tr>';

    $('#selected_units tr:last').after(newrow);
});
</script>
{% endblock%}
