{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

<!DOCTYPE html>
<html style="height: 100%;">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block meta %}{% endblock %}
    <title>{% block title %}Dashboard{% endblock %}</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'global/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'global/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">

    {% block css  %}{% endblock %}

    <!-- Custom styles for this template-->
    <link href="{% static 'global/css/sb-admin-2.css' %}" rel="stylesheet">

    <style>
        #accordionSidebar {
            height: 100%;
            position: fixed;
            z-index: 2;
            max-width: 6.2rem;
        }

        #accordionSidebar li:last-child {
            /*background: #ff0000;*/
            position: absolute; 
            bottom: 0;
        }
        #accordionSidebar li:last-child a{
            /*background: #ff0000;*/
            position: absolute; 
            bottom: 0;
        }

        #content-wrapper {
            margin-left: 6.2rem;
        }
        
        #content-wrapper #content {
            position: relative;
        }

        #content-wrapper #content nav{
            /*overflow: hidden;*/
            position: fixed;
            z-index: 1;
            width: 100%;
            top: 0;
            right: 0;
            height: 4rem;
        }

        #content-wrapper #content div.container-fluid{
            margin-top: 4em;
        }

        #content-wrapper footer{
            padding: 1em 0;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

        #collapseHelp{
            background-color: #2c3e50;
            z-index: 50001;
            position: relative;
            left: 5.5rem;
        }

        #chat_div{
            width: 300px;
            padding: 5px 26px;
            background: #fff;
            box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);

            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid #e3e6f0;
            /*border-radius: .35rem;*/
        }


    </style>
</head>

<body id="page-top">
<div id="load_bar" style="display:none;">
 </div>
	<!-- Page Wrapper -->
	<div id="wrapper" style="height: 100%;">

		<!-- Sidebar -->
		<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark toggled accordion" id="accordionSidebar">

			<!-- Sidebar - Brand -->
			<a class="sidebar-brand d-flex align-items-center justify-content-center"  href="{% url 'global_dashboard:index' %}">
				<div class="sidebar-brand-icon">
					<img class="img-fluid mx-auto" src="{% static 'global/img/logo_transparent.png' %}" alt="PIGDATA" width="100px">
				</div>
				<div class="sidebar-brand-text mx-3">PigData</div>
			</a>

			<hr class="sidebar-divider my-0">
			<li class="nav-item {% if activate == 'download_data' %} active {% endif %}">
				<a class="nav-link" href="{% url 'global_dashboard:all_projects' %}">
					<i class="fas fa-fw fa-tachometer-alt"></i>
					<span>{% trans "Dashboard" %}</span></a>
			</li>

			<hr class="sidebar-divider my-0">
			<li class="nav-item {% if activate == 'new_project' %} active {% endif %}">
				<a class="nav-link" href="{% url 'global_dashboard:new_project' %}">
					<i class="fas fa-fw fa-plus"></i>
					<span>{% trans "New Project" %}</span></a>
			</li>

			<!--<hr class="sidebar-divider my-0">-->
			<!--<li class="nav-item {% if activate == 'analyze_data' %} active {% endif %}">-->
				<!--<a class="nav-link" href="{% url 'global_dashboard:analyze' %}">-->
					<!--<i class="fas fa-fw fa-chart-area"></i>-->
					<!--<span>{% trans "Analyze Data" %}</span></a>-->
			<!--</li>-->

			<hr class="sidebar-divider my-0">
			<li class="nav-item {% if activate == 'data_order' %} active {% endif %}">
				<a class="nav-link" href="{% url 'global_dashboard:data_order' %}">
					<i class="fas fa-fw fa-chart-area"></i>
					<span>{% trans "Data Order" %}</span></a>
			</li>
			<!-- Divider -->
			<hr class="sidebar-divider my-0">

			<!-- Nav Item - Pages Collapse Menu -->
			<li class="nav-item {% if activate == 'settings' %} active {% endif %}">
				<a class="nav-link collapsed"  href="{% url 'global_dashboard:setting' %}" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" id="settingCollapse">
					<i class="fas fa-fw fa-cog"></i>
					<span>{% trans "Settings" %}</span>
				</a>
				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<h6 class="collapse-header">{% trans "Custom Settings:" %}</h6>
						<a class="collapse-item text-white"  href="{% url 'global_dashboard:setting' %}" >{% trans "Profile" %}</a>
						<a class="collapse-item text-white"  href="{% url 'global_dashboard:password_change' %}" >{% trans "Change Password" %}</a>
						<a class="collapse-item text-white"  href="{% url 'global_dashboard:cancel' %}" >{% trans "Delete Account" %}</a>
					</div>
				</div>
			</li>
			<!-- Divider -->
			<hr class="sidebar-divider my-0">

			<li class="nav-item {% if activate == 'help' %} active {% endif %}">
				<a class="nav-link collapsed"  href="#" data-toggle="collapse" data-target="#collapseHelp" aria-expanded="false" aria-controls="collapseHelp" id="helpCollapse">
					<i class="fas fa-fw fa-question-circle"></i>
					<span>{% trans "Help" %}</span>
				</a>
				<!-- Stuti -->
				<div id="collapseHelp" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
					<div class="chat_container" id="chat_div">
						<p>
							{% trans "Please write us if you are not able to use our service or if you face any problem. Our team will contact you soon." %}
						</p>
						<div class="chat_entry">
								<form class="chat_form has-validation-callback" id="chat_form">
										<p>
												<input type="hidden" name="url_start" id="url_start">
												<input type="hidden" name="web" id="web">
										</p>
										<p><textarea name="messag_send" class="form-control" rows="5" id="messag_send" placeholder="{% trans " Enter Your Message" %}" required></textarea></p>
										<p style="text-align:left;"><input type="submit" name="chat_submit" id="chat_submit" value="{% trans " Send" %}"></p>
								</form>
						</div>
					</div>
				</div>
			</li>
			<!-- <hr class="sidebar-divider d-none d-md-block"> -->

		</ul>
		<!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->

				<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

				<!-- Topbar Navbar -->
					<ul class="navbar-nav ml-auto">


					{% if request.user.is_authenticated %}
						<div class="topbar-divider d-none d-sm-block"></div>

						<!-- Nav Item - User Information -->
						<li class="nav-item dropdown no-arrow">
							<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="mr-2 d-none d-lg-inline text-white-600 small">{{ user }}</span>
								<img class="img-profile rounded-circle" src="{% static 'global/img/pig_user.png' %}">
							</a>
							<!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
								<form id="language-changer" action="{% url 'set_language' %}" method="post" style="display: none;">
										{% csrf_token %}
										<input name="next" type="hidden" value="{{ redirect_to }}" />
										<input name="language" type="hidden" value="" />
								</form>
								<!-- {% for language in languages %}
										{% if language.code != LANGUAGE_CODE %}
												<a class="dropdown-item" href="#" onclick="postLanguageChanger('{{ language.code }}'); return false;"><i class="fas fa-bell fa-fw mr-2 text-gray-400" ></i>
														{{ language.name_local }}
												</a>
										{% endif %}
								{% endfor %} -->

								<!--<a class="dropdown-item" href="{% url 'global_dashboard:activity' %}">-->
									<!--<i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>-->
									<!--{% trans "Activity Log" %}-->
								<!--</a>-->


									<a class="dropdown-item" href="{% url 'global_dashboard:setting' %}">
										<i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
										{% trans "Profile" %}
										</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
										<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
										{% trans "Logout" %}
									</a>

							</div>
						</li>
						{% else %}
									<a class="" href="{% url 'accounts:global_login' %}">
										<i class=""></i>
										{% trans "Login" %}
									</a>
					{% endif %}
					</ul>
				</nav>

				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid">
					<!-- Page Heading -->
					{% block content %} {% endblock %}
				<!-- /.container-fluid -->
				</div>
			</div>
			<!-- End of Main Content -->

			 <!--Footer -->
			<!--<footer class="sticky-footer bg-transparent">-->
				<!--<div class="container my-auto">-->
					<!--<div class="copyright text-center my-auto">-->
						<!--<span class="text-white">Copyright © SMS DATATECH CO. JP 2019</span>-->
					<!--</div>-->
				<!--</div>-->
			<!--</footer>-->
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{% trans "Ready to Leave?" %}</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">{% trans 'Select "Logout" below if you are ready to end your current session.' %}</div>
                <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">{% trans "Cancel" %}</button>
                    <a class="btn btn-primary" href="{% url 'accounts:logout' %}">{% trans "Logout" %}</a>
                </div>
            </div>
        </div>
    </div>

<!-- Bootstrap core JavaScript-->
    <script src="{% static 'global/js/common.js' %}"></script>
    <script src="{% static 'global/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'global/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'global/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'global/js/sb-admin-2.min.js' %}"></script>

    {% block js  %}{% endblock %}
    <script>
        $(document).click(function (e) {
            var controller = document.getElementById("helpCollapse");
            var container = $("#collapseHelp"); 
            if(container.has(e.target).length == '0'){
                if(controller.getAttribute("aria-expanded") == 'true'){
                    controller.click();    
                }
            }

            var controller1 = document.getElementById("settingCollapse");
            var container1 = $("#collapseTwo"); 
            if(container1.has(e.target).length == '0'){
                if(controller1.getAttribute("aria-expanded") == 'true'){
                    controller1.click();    
                }
            }
        });
    </script>
</body>
</html>
