{% extends "base-global.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Activity Log" %}{% endblock %}

{% block css %}
    <link href="{% static 'global/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'global/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'global/css/sb-admin-2.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content%}
<body id="page-top">
    <div id="wrapper">
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-8 col-lg-7" style="margin: 0 auto;">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">{% trans "Cancellation" %}</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area" style="height: 100%;">
  		                                  <div class="profile_change_wrapper">
	                                          <div class="plan_wrapper">
	                                              <div class="plan_wrapper">
	                                                  <div class="plan_form_wrapper">
                                                        <p style="font-size: 20px; text-align: center;">{% blocktrans %}Cancellation was completed. <br> Thank you very much for using it.{% endblocktrans %}</p>
	                                                  </div>
	                                                  <div class="plan_form_wrapper">
                                                        <p class="text-right" style="margin-top: 100px;"><a href="https://services.sms-datatech.co.jp/pig-data/">{% trans "Return to product top page" %}</a></p>
	                                                  </div>
	                                              </div>
	                                          </div>
  		                                  </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock%}

{% block js %}
{% endblock %}
