{% extends "base-global.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Activity Log" %}{% endblock %}

{% block css %}
    <link href="{% static 'global/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'global/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'global/css/sb-admin-2.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content%}
<body id="page-top">
    <div id="wrapper">
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-8 col-lg-7" style="margin: 0 auto;">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">{% trans "Delete Account" %}</h6>

                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area" style="height: 100%;">
  		                                  <div class="profile_change_wrapper">
	                                          <div class="plan_wrapper">
                                                <h2 class="plan_change">{% trans "Cancel Confirm" %}</h2>
	                                              <div class="plan_form_wrapper" style="width:500px; margin: auto;">
	                                                  <p>{% trans "Please be aware of the following points regarding cancellation." %}</p>
	                                                  <div class="cancel_box">
	                                                      <ul>
	                                                          <li style="margin-bottom: 20px;">{% trans "If you cancel, you can not restore your account" %}</li>
	                                                          <li>{% trans "You can not download previously collected data after cancellation" %}</li>
	                                                      </ul>
	                                                  </div>
	                                              </div>
	                                              <div class="plan_table_wrapper">
	                                                  <div class="btn_table">
                                                        <div class="text-center">
                                                            <!--<ul style="padding-left: 0px;">-->
                                                                <!--<li class="cancel_choice" style="padding-right: 20px;">-->

                                                                    <!--<a href="{% url 'global_dashboard:setting' %}">-->
                                                                        <!--<input id="submit_url" type="submit" class="btn btn-primary btn-fill btn-info" value="{% trans "No" %}">-->
                                                                    <!--</a>-->
                                                                <!--</li>-->
                                                                <!--<li class="cancel_choice">-->
                                                                    <!--<form method="POST" action=".">-->
                                                                        <!--{% csrf_token %}-->
                                                                        <!--<input id="submit_url" type="submit" class="btn btn-primary btn-fill btn-info" value="{% trans "Yes" %}">-->
                                                                    <!--</form>-->
                                                                <!--</li>-->
                                                            <!--</ul>-->
                                                        </div>

                                                        <div class="text-center">
                                                            <form method="POST" action=".">
                                                                <a href="{% url 'global_dashboard:setting' %}">
                                                                    <input id="submit_url" type="submit" class="btn btn-default btn-fill btn-info" value="{% trans "No" %}">
                                                                </a>
                                                                {% csrf_token %}
                                                                <input id="submit_url" type="submit" class="btn btn-primary btn-fill btn-info" style="margin-left: 20px;" value="{% trans "Yes" %}">
                                                            </form>
                                                        </div>
                                                        <br>
                                                    </div>
	                                              </div>
	                                          </div>
  		                                  </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock%}

{% block js %}
{% endblock %}
