{% extends "base-global.html" %}
{% load static %}
{% load i18n %}

{% block title %}PD-Data Order{% endblock %}

{% block css %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" xmlns="http://www.w3.org/1999/html"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<style>
    html, #wrapper {
        height: 100%;
    }
</style>
{% endblock %}

{% block content %}
    <div class="main-panel">
        <div class="content">
            <div class="container-fluid">
                <div class="card" style="padding: 40px;">
                    <div class="heading">
                        <h5 class="title">{% trans "Data Order Form" %}</h5>
                    </div>
                    <div class="card-content">
                        <div style="margin: 0 20px;">
                            {% trans "If data can not be acquired with PigData, you can order the data you would like to obtain from here (Corporate only). As soon as the acquisition setting is completed, you can download the ordered data from the PigData project." %}
                        </div>
                        <div class="table-responsive table-upgrade">
                            <form method="post" action="{% url 'global_dashboard:data_order_form' %}">
                                {% csrf_token %}
                                <div class="form">
                                    <label class="control-label">{% trans "URL" %}</label>
                                    <input type="text" class="form-control" name="url_list" placeholder="https://" pattern="https?://.+" required>
                                    <button type="submit" class="btn btn-primary btn-fill btn-info" style="margin: 20px 0 0;">{% trans "Next" %}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
