{% extends "base-global.html" %}
{% load static %}
{% load i18n %}

{% block title %}Project{% endblock %}

{% block css %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" xmlns="http://www.w3.org/1999/html"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<style>
    html, #wrapper {
        height: 100%;
    }
</style>
{% endblock %}

{% block content %}
    <div class="main-panel" style="width: 50%;">
        <div class="content">
            <div class="container-fluid">
                <div class="card">
                    <div class="heading">
                        <h4 class="title" style="margin-top: 30px;">{% trans "Data Order Form" %}</h4>
                    </div>
                    <div class="card-content" style="margin: 40px 20px;">
                        <div class="table-responsive table-upgrade">
                            {% trans "Data order has been completed. The representative will contact you by 3 business days" %}<br><br>
                            {{ email }}{% trans "We sent a mail. Please confirm." %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
