{% extends "base-global.html" %}
{% load static %}
{% load i18n %}

{% block title %}Project{% endblock %}

{% block css %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" xmlns="http://www.w3.org/1999/html"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% block content %}
    <div class="main-panel" style="width: 50%;">
        <div class="content">
            <div class="container-fluid" style="padding: 1.5rem 0 5rem;">
                <div class="card">
                    <div class="heading">
                        <h5 class="title" style="margin-top: 30px;">{% trans "Data Order Form" %}</h5>
                    </div>
                    <div class="card-content" style="padding: 15px 40px 35px;">
                        <div class="table-upgrade">
                            <p class="caution" style="float: right;"><sup>*</sup>{% trans "Mandatory fields" %}</p>
                            {% if form.errors %}
                            <div class="alert alert-danger" role="alert">
                                {% for f in form %}
                                    {% if f.errors %}<b>{% trans f.label %}</b>{{ f.errors }}{% endif %}
                                {% endfor %}
                            </div>
                            {% endif %}
                            <form method="post" action="{% url 'global_dashboard:data_order_form' %}" novalidate="novalidate">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-3"><div class="form-group">{% trans "Person in Charge" %}</div></div>
                                    <div class="col-md-4"><div class="form-group">{{ user.profile.last_name}}&nbsp;{{ user.profile.first_name }}&nbsp;様</div></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"><div class="form-group">{% trans "URL" %}<sup>*</sup></div></div>
                                    <div class="col-md-7"><div class="form-group">{{ form.url_list }}</div></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"><div class="form-group">{% trans "Data Details" %}<sup>*</sup></div></div>
                                    <div class="col-md-6"><div class="form-group">{{ form.data_details }}</div></div>
                                </div>
                                <div class="row" style="margin-bottom: 20px;">
                                    <div class="col-md-3"><div class="form-group">{% trans "Due Date" %}<sup>*</sup></div></div>
                                    <div class="col-md-2"><div class="form-group">{{ form.due_date }}</div></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"><div class="form-group">{% trans "Acquisition Purpose" %}<sup>*</sup></div></div>
                                    <div class="col-md-6"><div class="form-group">{{ form.purpose }}</div></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"><div class="form-group">{% trans "Budget" %}<sup>*</sup></div></div>
                                    <div class="col-md-4"><div class="form-group">{{ form.budget }}&nbsp;{% trans "yen" %}</div></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"><div class="form-group">{% trans "Company Name" %}<sup>*</sup></div></div>
                                    <div class="col-md-6"><div class="form-group">{{ form.company }}</div></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"><div class="form-group">{% trans "Department Name" %}<sup>*</sup></div></div>
                                    <div class="col-md-6">
                                        <div class="form-group">{{ form.department }}</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"><div class="form-group">{% trans "Contact Email" %}<sup>*</sup></div></div>
                                    <div class="col-md-6"><div class="form-group">{{ form.email }}</div></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            {% trans "Phone Number" %}<sup>*</sup><br>
                                            <span style="font-size: 11px;">({% trans "without dash" %})</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6"><div class="form-group">{{ form.phone_number }}</div></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"><div class="form-group">{% trans "Automatical Update" %}</div></div>
                                    <div class="col-md-4">
                                        <div class="form-group">{{ form.regular_order }}</div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-fill btn-info" name="form">{% trans "Complete" %}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<!-- Calendar JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
<script>
    $(function() {
        $('#datepicker').datepicker({
            minDate: 0
        });
    });
</script>
{% endblock %}
