{% extends "base-global.html" %}
{% load static %}
{% load i18n %}

{% block title %}Project{% endblock %}

{% block css %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" xmlns="http://www.w3.org/1999/html"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<style>
    html, #wrapper {
        height: 100%;
    }
</style>
{% endblock %}

{% block content %}
    <div class="main-panel" style="width: 50%;">
        <div class="content">
            <div class="container-fluid">
                <div class="card">
                    <div class="heading">
                        <h5 class="title" style="margin-top: 30px;">{% trans "Data Order Form" %}</h5>
                    </div>
                    <div class="card-content" style="padding: 5px 40px 35px;">
                        <div class="table-responsive table-upgrade">
                            <div class="row">
                                <div class="col-md-3"><div class="form-group">{% trans "Person in Charge" %}</div></div>
                                <div class="col-md-4"><div class="form-group">{{ user.profile.last_name}}&nbsp;{{ user.profile.first_name }}&nbsp;様</div></div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"><div class="form-group label-floating">{% trans "URL" %}</div></div>
                                <div class="col-md-7"><div class="form-group label-floating">{{ form.url_list.value }}</div></div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"><div class="form-group label-floating">{% trans "Data Details" %}</div></div>
                                <div class="col-md-7"><div class="form-group label-floating">{{ form.data_details.value }}</div></div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"><div class="form-group label-floating">{% trans "Due Date" %}</div></div>
                                <div class="col-md-7"><div class="form-group label-floating">{{ form.due_date.value }}</div></div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"><div class="form-group label-floating">{% trans "Purpose" %}</div></div>
                                <div class="col-md-7"><div class="form-group label-floating">{{ form.purpose.value }}</div></div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"><div class="form-group label-floating">{% trans "Budget" %}</div></div>
                                <div class="col-md-7"><div class="form-group label-floating">{{ form.budget.value }}{% trans "yen" %}</div></div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"><div class="form-group label-floating">{% trans "Company" %}</div></div>
                                <div class="col-md-7"><div class="form-group label-floating">{{ form.company.value }}</div></div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"><div class="form-group label-floating">{% trans "Department" %}</div></div>
                                <div class="col-md-7"><div class="form-group label-floating">{{ form.department.value }}</div></div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"><div class="form-group label-floating">{% trans "Phone Number" %}</div></div>
                                <div class="col-md-7"><div class="form-group label-floating">{{ form.phone_number.value }}</div></div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"><div class="form-group label-floating">{% trans "Contact Email" %}</div></div>
                                <div class="col-md-7"><div class="form-group label-floating">{{ form.email.value }}</div></div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"><div class="form-group label-floating">{% trans "Automatical Update" %}</div></div>
                                <div class="col-md-7">
                                    <div class="form-group label-floating">
                                        {% if form.regular_order.value == "1" %}
                                            {% trans "Yes" %}
                                        {% else %}
                                            {% trans "No" %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <br>
                            <form method="post" action="{% url 'global_dashboard:data_order_confirm' %}">
                                {% csrf_token %}
                                {% for field in form %}
                                    {{ field.as_hidden }}
                                {% endfor %}
                                <button type="submit" class="btn btn-primary btn-fill btn-info" name="back">{% trans "Re-enter" %}</button>
                                <button type="submit" class="btn btn-primary btn-fill btn-info" name="done">{% trans "Send Order" %}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
