{% extends "base-global.html" %}
{% load static %}
{% load i18n %}

{% block title %}Project{% endblock %}

{% block css %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" xmlns="http://www.w3.org/1999/html"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% block content %}
    <div class="row">
     <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-3">{% trans "Project Name" %}</div>
                <div class="col-lg-3">{% trans "Created Date" %}</div>
                <div class="col-lg-5">{% trans "Start URL" %}</div>
                <div class="col-lg-1">{% trans "Project Size" %}</div>
            </div>
        </div>
    </div>
        <div class="col-lg-12">
            {% for project in projects.values %}

            <!-- Collapsable Card Example -->
            <div class="card shadow mb-4">
                <!-- Card Header - Accordion -->
                <a href="#{{ project.id }}" onclick="$('#{{ project.id }}').toggle();" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="{{ project.id }}">
                    <!--<h6 class="m-0 font-weight-bold text-primary">{{ project.name }}</h6>-->
                    <div class="row">
                        <div class="col-lg-3">
                            <td class="text-center"> {{ project.name }}</td>
                        </div>
                        <div class="col-lg-3">
                            <td class="text-center"> {{ project.date_created }}</td>
                        </div>
                        <div class="col-lg-5">
                            <td class="text-center"> {{ project.start_url }}</td>
                        </div>
                        <div class="col-lg-1">
                            <td class="text-center"> {{ project.project_size }}</td>
                        </div>
                    </div>
                </a>

                <!-- Card Content - Collapse -->
                <div class="collapse hide" id="{{ project.id }}">
                    <div class="row">
                         <div class="col-lg-4">
                            <div class="card">
                                <h5 class="card-header text-white" style="background-color: #00AA9E;">{% trans "Email Notification Settings" %}</h5>
                                <div class="card-body">
                                <form action="" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" id="pid" name="pid" value="{{ project.id }}">
                                    <div >
                                        <label class="btn">
                                            <input type="checkbox" name="notification" value="1" {% if project.mail_alert %}checked{% endif %}><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i><span>{% trans " Send an email when project execution finished." %}</span>
                                        </label>
                                    </div>
                                    <div >
                                        <label class="btn">
                                            <input type="checkbox" name="notification" value="2" {% if project.data_alert %}checked{% endif %}><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i><span>{% trans " Send an email when last two project extraction data has difference." %}</span>
                                        </label>
                                    </div>
                                    <!--<div >-->
                                        <!-- <label class="btn"> -->
                                            <!--<input type="checkbox" name="notification" value="3" checked="checked"><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i>
                                                <span>{% trans " Send an email data extraction result includes keyword" %}</span>-->
                                        <!--</label>-->
                                    <!--</div>-->
                                    <div>
                                        <label class="btn">
                                            <input type="checkbox" name="notification" value="3" {% if project.keyword_alert %}checked{% endif %}>
                                            <span>{% trans "Send an email if data extraction result includes keyword" %}</span>&nbsp;&nbsp;&nbsp;
                                        </label>
                                        <span class="editme1" contenteditable="false" onblur="keywordChangeAjax.call(this)" value="{{ project.id }}">{{ project.keyword }}</span>
                                        <button type="button" class="editkwname">
                                            <i class="fas fa-edit" style="background: transparent;"></i>
                                        </button>
                                    </div>

                                    <div style="float: right;"><br>
                                        <input type="submit" value="{% trans "Save" %}" class="btn btn-info">
                                    </div>
                                </form>
                                </div>
                            </div>
                         </div>
                        <div class="col-lg-5">
                            <div class="card">
                                <h5 class="card-header text-white" style="background-color: #00AA9E;">{% trans "Scheduling Settings" %}</h5>
                                <div class="card-body">
                                    <form action="" method="POST" id="setting">
                                        {% csrf_token %}
                                         <div class="row">
                                        <div class="col-lg-12">
                                            <div class="btn-group btn-group-vertical" data-toggle="radiobuttons">
                                                {% trans "Current Scheduling" %}: {% if project.schedule %}
                                                   {% for schedule in project.schedule %}
                                                       {% if schedule.schedule_type == 1 %}
                                                       {% if schedule.custom == 1 %}{% trans "Every day" %}{% else %}{% trans "Every " %}{{ schedule.custom }}{% trans " days" %}{% endif %}
                                                       {% elif schedule.schedule_type == 2 %}
                                                       {% trans "Every week" %}&nbsp;{{ schedule.next_date|date:'l' }}
                                                       {% elif schedule.schedule_type == 3 %}
                                                       {% trans "Every month" %}&nbsp;{{ schedule.custom }}{% trans "th" %}
                                                       {% endif %}
                                                   {% endfor %}
                                               {% endif %}
                                                <input type="hidden" name="pid" value="{{ project.id }}">
                                                <span>
                                                    <label style="font-size: 1.2rem;">
                                                        <input type="radio" name='scheduleType' value="1" {% for schedule in project.schedule %}{% if schedule.schedule_type == 1 %}checked{% endif %}{% endfor %}>&nbsp;<span>{% blocktrans %}Run project in every <span class="day"></span> day at </span>
                                                        <input type="time" id="appt" name="appt" min="00:00" max="24:00" value="10:00">{% endblocktrans %}
                                                    </label>
                                                </span><br>
                                                <label style="font-size: 1.2rem;">
                                                    <input type="radio" name='scheduleType' value="2" style="" {% for schedule in project.schedule %}{% if schedule.schedule_type == 2 %}checked{% endif %}{% endfor %}>&nbsp;<span>{% blocktrans %}Run project weekly on <span class="day-name"></span> at </span>
                                                    <input type="time" id="appt" name="appt" min="00:00" max="24:00" value="10:00">{% endblocktrans %}
                                                </label><br>
                                                <label style="font-size: 1.2rem;">
                                                    <input type="radio" name='scheduleType' value="3" {% for schedule in project.schedule %}{% if schedule.schedule_type == 3 %}checked{% endif %}{% endfor %}>&nbsp;<span>{% blocktrans %}Run project monthly on <span class="month"></span> at </span>
                                                    <input type="time" id="appt" name="appt" min="00:00" max="24:00" value="10:00">{% endblocktrans %}
                                                </label><br>
                                                <label style="font-size: 1.2rem;">
                                                    <input type="radio" name='scheduleType' value="0" {% for schedule in project.schedule %}{% if schedule.schedule_type == 1 or not schedule %}checked{% endif %}{% endfor %}>&nbsp;<span>{% trans "No scheduling" %}</span>
                                                </label>
                                                <!--<input type="submit" value="Save" class="btn btn-info">-->
                                            </div>
                                            <br>
                                            <div style="float: right;">
                                                <input type="submit" value="{% trans "Save" %}" class="btn btn-info">
                                            </div>
                                        </div>
                                    </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="card">
                                <h5 class="card-header text-white" style="background-color: #00AA9E;">{% trans "Download Data" %}</h5>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover" id="project_table">
                                            <thead>
                                            <th>{% trans "Date" %}</th>
                                            <th>{% trans "Status" %}</th>
                                            <th>{% trans "Data" %}</th>

                                            </thead>
                                            <tbody>
                                            {% for execution in project.executions %}
                                            {% if forloop.first %}
                                            <tr class="date_val_{{ project.id }}" value="{{ execution.date_created|date:"Y/m/d" }}">
                                            {% else %}
                                            <tr class="date_val_{{ project.id }} display-none" value="{{ execution.date_created|date:"Y/m/d" }}">
                                            {% endif %}
                                            <td>{{ execution.date_executed|date:"Y/m/d" }}</td>
                                            {% if execution.status == 1 %}
                                            <td><img src="{% static 'assets/img/tick.png' %}" style="height:10px; width:10px;"></td>
                                            <td>
                                                <!--<form name="searchForm" id="searchForm" method="post" action="{% url 'dashboard:product_type' %}">-->
                                                    <!--<input id="ftype" name="filetype" type="hidden">-->
                                                    <!--<div class="dropdown">-->
                                                        <!--<button class="btn btn-info dropdown-toggle dbtn" data-toggle="dropdown" value= "#{{user.id}}#{{project.id}}#{{execution.id}}">-->
                                                            <!--Download-->
                                                        <!--</button>-->
                                                        <!--<ul class="dropdown-menu" value="0">-->
                                                        <!--</ul>-->
                                                    <!--</div>-->
                                                    <div class="dropdown">
                                                      <button id="data-download" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                       {% trans "Download Data" %}
                                                      </button>

                                                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                        <a href="{% url 'global_dashboard:product_type' uid=user.id pid=project.id eid=execution.id ft=1 %}" class="dropdown-item" >XLS</a>
                                                        <a href="{% url 'global_dashboard:product_type' uid=user.id pid=project.id eid=execution.id ft=2 %}" class="dropdown-item" >CSV</a>
                                                        <a href="{% url 'global_dashboard:product_type' uid=user.id pid=project.id eid=execution.id ft=3 %}" class="dropdown-item" >TEXT</a>
                                                      </div>
                                                    </div>
                                                <!--</form>-->
                                            </td>
                                            {% elif execution.error == 1 %}
                                            <td width="10"><img src="{% static 'assets/img/cross.png' %}" style="height:10px; width:10px;" alt="Error"/></td>
                                            <td>{% trans "Error" %}</td>
                                            {% else %}
                                            <td width="10" value="{{project.id}}"><img src="{% static 'assets/img/wait.gif' %}" style="height:10px; width:10px;" alt="Running" class="running" value="{{execution.id}}"/></td>
                                            <td>{% trans "Running" %}</td>
                                            {% endif %}
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                            <div class="col-lg-6"> </br>
                                <button class="btn btn-primary btn-fill btn-info btn-block" type='button' onclick="location.href='{% url 'global_dashboard:run_now' project.id %}';"> {% trans "Run Now" %}</button>
                            </div>
                            <div class="col-lg-6"> </br>
                                <button class="btn btn-primary btn-fill btn-danger btn-block" type='button' onclick="location.href='{% url 'global_dashboard:global_delete_project' project.id %}';"> {% trans "Delete " %}</button>
                            </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            {% endfor %}
    </div>
{% endblock %}

{% block js %}
<!-- Calendar JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
<script type="text/javascript">
    document.getElementById("appt").value = Date().toString();
</script>
<script type="text/javascript">
    //Auto Refresh
    autoRefresh();
    var no_update_count = 0;
    var eids = [];
    $(".running").each(function() {
        eids.push($(this).attr("value"));
    });
    function autoRefresh() {
        timer = setTimeout(function(){
            $.ajax({
                type: "GET",
                url: "{% url 'dashboard:auto_refresh' %}",
                data: {'eids': eids},
                cache: false,
                dataType: "json",
                success: function (data) {
                    if (data['id']) {
                        for (var i=0; i<Object.keys(data['id']).length; i++) {
                            $("img[class='running'][value='"+data['id'][i]+"']").each(function() {
                                eid = $(this).attr("value");
                                pid = $(this).parent().attr("value");
                                if(data['status'][i] == 1){
                                    $(this).attr('src', "{% static 'assets/img/tick.png' %}");
                                    $(this).parent().next().css('display','none');
                                    $(this).parent().parent().append(`
                                    <td>
                                        <form name="searchForm" id="searchForm" method="post" action="{% url 'dashboard:product_type' %}">
                                            <input id="ftype" name="filetype" type="hidden">
                                            <div class="dropdown">
                                                <button class="btn btn-primary dropdown-toggle dbtn" data-toggle="dropdown" value="#{{user.id}}#`+pid+`#`+eid+`">Download
                                                    <span class="caret"></span></button>
                                                <ul class="dropdown-menu" value="0">
                                                </ul>
                                            </div>
                                        </form>
                                    </td>`);
                                }else if(data['error'][i] == 1){
                                    $(this).attr('src', "{% static 'assets/img/cross.png' %}");
                                    $(this).parent().next().text("{% trans 'Error' %}");
                                }
                                var idx = eids.indexOf(eid);
                                if(idx >= 0){
                                    eids.splice(idx, 1);
                                }
                            });
                            console.log("-- Auto Refreshed --");
                        }
                    }else{
                        if(no_update_count >= 10){
                            clearTimeout(timer);
                        }
                        no_update_count++;
                        console.log("--- Auto Refresh No update Count "+no_update_count+" ---");
                    }
                },
                error: function (){
                    console.log("--- Auto Refresh Fail ---");
                }
            });
            autoRefresh();
        }, 30*1000);
    }


    //popup date
    $(function(){
        var today = new Date();
        var mm = today.getMonth() + 1;
        var dd = today.getDate();
        {% for language in languages %}
            {% if language.code != LANGUAGE_CODE %}
                var dayNames = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'];
            {% else %}
                var dayNames = ['月', '火', '水', '木', '金', '土', '日'];
            {% endif %}
        {% endfor %}

        $Month = "<select name='month' class='month'>";
        for(var i=1; i<=31; i++){
            if(i == dd){
                $Month +="<option value=\""+ i +"\" selected >"+ i +"</option>";
            }else{
                $Month +="<option value=\""+ i +"\" >"+ i +"</option>";
            }
        }
        $Month += "</select>";
        $('.month').html($Month);

        $Day = "<select name='day' class='day'>";
        console.log(today);
        for(var i=1; i<=6; i++ ){
            if(i == 1){
                $Day +="<option value=\""+ i +"\" selected >"+ i +"</option>";
            }else{
                $Day +="<option value=\""+ i +"\" >"+ i +"</option>";
            }
        }
        $Day += "</select>";
        $('.day').html($Day);

        $dayName = "<select name='day-name' class='day-name'>";
        for(var i=0; i<=6; i++ ){
            if(i == 0){
                $dayName +="<option value=\""+ dayNames[i] +"\" selected >"+ dayNames[i] +"</option>";
            }else{
                $dayName +="<option value=\""+ dayNames[i] +"\">"+ dayNames[i] +"</option>";
            }
        }
        $dayName += "</select>";
        $('.day-name').html($dayName);
	  });
    // post only selected value
    $('form[id="setting"]').bind('submit', function () {
        scheduleType = $("input[name='scheduleType']:checked").val();
        $(this).find("select").prop('disabled', true);
        if(scheduleType == 1) {
            $(this).find("select[name='day']").prop('disabled', false);
        }else if(scheduleType == 2) {
            $(this).find("select[name='day-name']").prop('disabled', false);
        }else if(scheduleType == 3) {
            $(this).find("select[name='month']").prop('disabled', false);
        }
    });
	  $('#setting').click(function(){
        $("#select_input").prop('disabled', true);
	  });


    //show and hide project
    var currentMode = $("#all_project").attr("value");
    //if(currentMode == "categoryMode"){
    //    $('.card-content table:not(:first)').hide();
    //}
    $('.modal-open + span').hide();
	  $('.card-header').click(function(){
        $($(this).parent().find('.card-content table')).toggle();
        $($(this).find('.modal-open, .modal-open + span')).toggle();
	  });

    //modal screen
    $(".modal-popup-content > .input-group").hide();
	  $(".check-click").click(function(){
        $(".input-group").toggle();
    });

    //refine search
    $(function(){
        searchWord = function(){
            var searchText = $(this).val();
            var targetText;
            $('.card-content > #project_table > tbody > tr > td:first-child').each(function() {
                targetText = $(this).text();
                if (targetText.indexOf(searchText) != -1) {
                    $(this).parent().removeClass('hidden');
                } else {
                    $(this).parent().addClass('hidden');
                }
            });
        };
        $('.search-box').on('input', searchWord);
    });

    //button popup
	  $('.modal-setting, .modal-history, .modal-project, .modal-category').click(function(){
        var button_name = $(this).attr("class");
        var index = $("."+ button_name).index(this);
        var class_name = "."+ button_name + "-content:nth("+ index +")";

        modal(class_name);
    });
    //override
	  $('.modal-setting, .modal-category').click(function(){
        var pid = $(this).attr("value");
        //setting-popup: move category
        $("input[name='projectId']").attr("value", pid);
        //setting-popup: show and hide category_type
        $('.create-category').show();
        $('.move-category').hide();
	      $("input[name='categoryType']").click(function(){
            var category_type = $(this).attr("value");
            if (category_type == "create") {
                $('.create-category').show();
                $('.move-category').hide();
            } else if (category_type == "move") {
                $('.create-category').hide();
                $('.move-category').show();
            }
        });
        //category-popup: rename category
        $("input[name='category-rename-origin']").attr("value", pid);
    });

    //display category's name when we select a location where to move category
    $(function(){
        $('.dropdown-menu .dropdown-item').click(function(){
            var visibleItem = $('.dropdown-toggle', $(this).closest('.dropdown'));
            visibleItem.text($(this).attr('value'));
        });
    });

    //test tool
    //$(function() {
    //    modal(".modal-setting-content");
    //});

    //connection with client
		function myFunction() {
	      var backend;
	      new QWebChannel(qt.webChannelTransport, function (channel) {
	          backend = channel.objects.backend;
	          column_type();
	      });
	      function column_type(){
	          backend.project_start(1);
	      }
		}

    //show Calendar
	  $(".modal-download").click(function(){
        var pid;
        var button_name = $(this).attr("class");
        var index = $("."+ button_name).index(this);
        var class_name = "."+ button_name + "-content:nth("+ index +")";
        pid = $(this).attr("value");
        //project Date Range
        var proj_date = $(this).parents("td").prevAll().find('.proj_date').text();
        var min_year = proj_date.slice(0, 4); //"2018"
        var min_month = proj_date.slice(5, 7); //"08"
        //execution Date
        var exec_date = $(this).parents("td").prevAll().find('.exec_date').text();
        $("#date_"+pid).datepicker({
            dateFormat: 'yy/mm/dd',
            minDate: new Date(parseInt(min_year), parseInt(min_month)-1, 1),
            maxDate: '+0d',
            onSelect: function(dateText, inst) {
                $("tr.date_val_"+pid).css("display", "none");
                $("tr.date_val_"+pid+">td:nth-child(1):contains('"+dateText+"')").parent().css("display", "table-row");
            },
            beforeShowDay: function(date) {
                var dateStr = createDateStr(date);
                if ($(".dateList_"+pid).val().indexOf(dateStr) != -1) {
                    return [true,"ui-datepicker-date-exist"];
                }
                else {
                    return [false];
                }
            }
        });
        $("#date_"+pid).datepicker("setDate", exec_date);
        modal(class_name);
    });
    function createDateStr(date) {
        var year = date.getYear();
        var month = date.getMonth() + 1;
        var day = date.getDate();
        if (year < 2000) { year += 1900 };
        if (month < 10)  { month = "0" + month };
        if (day < 10)    { day = "0" + day };
        var dateStr = year + "/" + month + "/" + day;
        return dateStr;
    }
	  $(".ui-datepicker-date-exist").click(function(){
        $(".ui-datepicker-date-exist").show();
    });

    //popup
    function modal(className){
        $(function(){
            //open
            $(this).blur();
           	if($("#modal-overlay")[0]) return false ;
           	$("body").append('<div id="modal-overlay"></div>');
           	$("#modal-overlay").fadeIn("slow");
           	centeringModalSyncer(className);
           	$(className).animate({
                opacity: '1',
                right: '+=' + ($(className).outerWidth() + 50) + 'px'
            }, 600);
            //close
            $("#modal-overlay, #modal-close").unbind().click(function() {
                modalClose(className);
            });
            //Esc close
            $(window).keyup(function(e){
                if(e.keyCode == 27){
                   	modalClose(className);
                }
            });
        });
    }
    function modalClose(className){
        $(className).animate({
            opacity: '0',
            right: '-=' + ($(className).outerWidth() + 50) + 'px'
        }, 600);
        $(className).fadeOut(100, function(){
            $('#modal-overlay').remove();
            $(className).css('display', 'inline-block');
        });
    }
    //modal centering function
    $(window).resize(centeringModalSyncer);
    function centeringModalSyncer(className) {
        var w = $( window ).width();
        var h = $( window ).height();

        var cw = $(className).outerWidth();
        var ch = $(className).outerHeight();

        $(className).css({
            "right": -cw + "px",
            "top": ((h - ch) / 2) + "px"
        });
   	}

    //edit project name
    $(".editprojname").click(function(){
        var el = $(this).siblings('.editme');
        var pid = el.attr("value");
        var input = $('<input class = "editme" onblur="blurFoo.call(this)" value='+pid+'>').val(el.text());
        el.replaceWith( input );
        input.focus();
    });
    function blurFoo(){
        var el = $(this);
        var text = $(this).val();
        var  pid = $(this).attr("value");

        $.ajax({
            url: "{% url 'dashboard:edit_project' %}",
            data: { 'pid': pid, 'pname': text},
            cache: false,
            dataType: "json",
            success: function (data){
                if (data.changed == 1){
                    var input = $('<span class = "editme" contenteditable="false" value='+pid+'>'+text+'</span>')
                    el.replaceWith(input);
               }
            },
            error: function(){
                console.log("blurFoo fail");
            }
        });
    }

    // edit keywords
    // visible or not
    $(".editkwname").css('display', 'none');
    $("input[name='notification']").click(function(){
        keyword_check($(this));
    });
    $(function(){
        $($("input[name='notification'][value='3']")).each(function() {
            keyword_check($(this));
        })
    });
    function keyword_check(hana){
        if (hana.attr("value") == 3 && hana.prop('checked')){
            hana.parent().nextAll("button").css('display', 'inline-block');
        }else{
            hana.parent().nextAll("button").css('display', 'none');
        }
    }
    // ajax
    $(".editkwname").click(function(){
        var el = $(this).siblings('.editme1');
        var pid = el.attr("value");
        var input = $('<input class = "editme1" onblur="keywordChangeAjax.call(this)" value='+pid+'>').val(el.text());
        el.replaceWith(input);
        input.focus();
    });
    function keywordChangeAjax(){
        var el = $(this);
        var text = $(this).val();
        var pid = $(this).attr("value");

        $.ajax({
            url: "{% url 'dashboard:edit_keyword' %}",
            data: { 'pid': pid, 'kwname': text},
            cache: false,
            dataType: "json",
            success: function (data){
                if (data.changed == 1){
                    var input = $('<span class = "editme1" contenteditable="false" value='+pid+'>'+text+'</span>')
                    el.replaceWith(input);
               }
            },
            error: function(){
                console.log("keywordChangeAjax fail");
            }
        });
    }
</script>
{% endblock %}
