{% extends "base-global.html" %}
{% load static %}
{% load i18n %}
{% block meta %}
{% endblock %}
{% block title %}Home{% endblock %}
{% block content%}
<!--<div class="row">-->

            <!-- Earnings (Monthly) Card Example -->
            <!--<div class="col-xl-3 col-md-6 mb-4">-->
              <!--<div class="card border-left-primary shadow h-100 py-2">-->
                <!--<div class="card-body">-->
                  <!--<div class="row no-gutters align-items-center">-->
                    <!--<div class="col mr-2">-->
                      <!--<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Earnings (Monthly)</div>-->
                      <!--<div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>-->
                    <!--</div>-->
                    <!--<div class="col-auto">-->
                      <!--<i class="fas fa-calendar fa-2x text-gray-300"></i>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->

            <!--&lt;!&ndash; Earnings (Monthly) Card Example &ndash;&gt;-->
            <!--<div class="col-xl-3 col-md-6 mb-4">-->
              <!--<div class="card border-left-success shadow h-100 py-2">-->
                <!--<div class="card-body">-->
                  <!--<div class="row no-gutters align-items-center">-->
                    <!--<div class="col mr-2">-->
                      <!--<div class="text-xs font-weight-bold text-success text-uppercase mb-1">Earnings (Annual)</div>-->
                      <!--<div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>-->
                    <!--</div>-->
                    <!--<div class="col-auto">-->
                      <!--<i class="fas fa-dollar-sign fa-2x text-gray-300"></i>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->

            <!--&lt;!&ndash; Earnings (Monthly) Card Example &ndash;&gt;-->
            <!--<div class="col-xl-3 col-md-6 mb-4">-->
              <!--<div class="card border-left-info shadow h-100 py-2">-->
                <!--<div class="card-body">-->
                  <!--<div class="row no-gutters align-items-center">-->
                    <!--<div class="col mr-2">-->
                      <!--<div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tasks</div>-->
                      <!--<div class="row no-gutters align-items-center">-->
                        <!--<div class="col-auto">-->
                          <!--<div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>-->
                        <!--</div>-->
                        <!--<div class="col">-->
                          <!--<div class="progress progress-sm mr-2">-->
                            <!--<div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>-->
                          <!--</div>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-auto">-->
                      <!--<i class="fas fa-clipboard-list fa-2x text-gray-300"></i>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->

            <!--&lt;!&ndash; Pending Requests Card Example &ndash;&gt;-->
            <!--<div class="col-xl-3 col-md-6 mb-4">-->
              <!--<div class="card border-left-warning shadow h-100 py-2">-->
                <!--<div class="card-body">-->
                  <!--<div class="row no-gutters align-items-center">-->
                    <!--<div class="col mr-2">-->
                      <!--<div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Pending Requests</div>-->
                      <!--<div class="h5 mb-0 font-weight-bold text-gray-800">18</div>-->
                    <!--</div>-->
                    <!--<div class="col-auto">-->
                      <!--<i class="fas fa-comments fa-2x text-gray-300"></i>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->

<div class="row">
        <div class="col-lg-2">
            <div class="card-body"></div>
        </div>
        <div class="col-lg-7" align="center">
            <h2>Rapid Solutions for Data Scraping</h2>
            </br></br>
            <img src="{% static 'global/img/title_pig.png' %}" width="200px"; height="200px";/>
            <h1 align="center">PIGDATA</h1>
            </br></br>
            <div class="row">
                <div class="col-lg-6">
                    <a href="{% url 'global_dashboard:new_project' %}"><img style="width:100%" src="{% static 'global/img/dashboard_scraping.png' %}"></a>
                </div>
                <div class="col-lg-6">
                    <a href="{% url 'global_dashboard:data_order' %}"><img style="width:100%" src="{% static 'global/img/dashboard_dataorder.png' %}"></a>
                </div>
            </div>
        </div>
    </div>

<div class="row">



            <!--<div class="col-lg-4">-->
              <!--&lt;!&ndash; Basic Card Example &ndash;&gt;-->
              <!--<div class="card shadow mb-4" style="height: 90%;">-->
                <!--<div class="card-header py-3">-->
                    <!--<h6 class="m-0 font-weight-bold text-primary">{% trans "BLOGS" %}</h6>-->
                <!--</div>-->
                <!--<div class="card-body">-->
                  <!--<table class="table table-hover" id="project_table">-->
                                <!--<thead>-->
                                    <!--<th>{% trans "Date" %}</th>-->
                                    <!--<th>{% trans "Blog" %}</th>-->
                                <!--</thead>-->
                                <!--<tbody>-->
                                    <!--{% for blog in blog_info %}-->
                                    <!--<tr>-->
                                        <!--<td>{{ blog.2 }}</td>-->
                                        <!--<td><a href="{{ blog.1 }}">{{ blog.0|truncatechars:20 }}</a></td>-->
                                    <!--</tr>-->
                                    <!--{% endfor %}-->
                                <!--</tbody>-->
                            <!--</table>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-lg-6">-->
              <!--&lt;!&ndash; Basic Card Example &ndash;&gt;-->
              <!--<div class="card shadow mb-4" style="height: 90%;">-->
                <!--<div class="card-header py-3">-->
                    <!--<h6 class="m-0 font-weight-bold text-primary">{% trans "BLOGS" %}</h6>-->
                <!--</div>-->
                <!--<div class="card-body">-->
                  <!--<table class="table table-hover" id="project_table">-->
                                <!--<thead>-->
                                    <!--<th>{% trans "Date" %}</th>-->
                                    <!--<th>{% trans "Blog" %}</th>-->
                                <!--</thead>-->
                                <!--<tbody>-->
                                    <!--{% for blog in blog_info %}-->
                                    <!--<tr>-->
                                        <!--<td>{{ blog.2 }}</td>-->
                                        <!--<td><a href="{{ blog.1 }}">{{ blog.0|truncatechars:20 }}</a></td>-->
                                    <!--</tr>-->
                                    <!--{% endfor %}-->
                                <!--</tbody>-->
                            <!--</table>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-lg-6">-->
              <!--&lt;!&ndash; Basic Card Example &ndash;&gt;-->
              <!--<div class="card shadow mb-4" style="height: 90%;">-->
                <!--<div class="card-header py-3">-->
                  <!--<h6 class="m-0 font-weight-bold text-primary">{% trans "PROJECT HISTORY" %}</h6>-->
                <!--</div>-->
                <!--<div class="card-body">-->
                    <!--<div class="table-responsive text-left">-->
                        <!--<table class="table table-hover" id="project_table">-->
                            <!--<thead class="thead-dark" >-->
                                <!--<th>{% trans "Date" %}</th>-->
                                <!--<th>{% trans "Project" %}</th>-->
                            <!--</thead>-->
                            <!--<tbody>-->
                                <!--{% for project in projects.values %}-->
                                <!--<tr>-->
                                    <!--<td>{{ project.date_created|date:"Y/m/d" }}</td>-->
                                    <!--<td>{{ project.name|truncatechars:21 }}</td>-->
                                <!--</tr>-->
                                <!--{% endfor %}-->
                            <!--</tbody>-->
                        <!--</table>-->
                      <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="col-lg-4">-->
              <!--&lt;!&ndash; Basic Card Example &ndash;&gt;-->
              <!--<div class="card shadow mb-4" style="height: 90%;">-->
                <!--<div class="card-header py-3">-->
                    <!--<h6 class="m-0 font-weight-bold text-primary">{% trans "USAGE STATUS OF THIS MONTH" %}</h6>-->
                <!--</div>-->
                <!--<div class="card-body">-->
                <!--<div class="graph-content">-->
                    <!--<div style="text-align: left; margin: 3px 0;">-->
                        <!--<span>{% trans "Amount of Data" %}</span>：{{ show_size }}{{ unit }}-->
                    <!--</div>-->
                    <!--<div id="db_progress_bar"></div>-->
                    <!--<div style="text-align: left; margin: 3px 0;">-->
                        <!--<span>{% trans "Amount of Projects" %}</span>：{{ totalprojects }}-->
                        <!--<div class="boxWrap">-->
                            <!--{% for i in box_num %}-->
                            <!--{% if i <= storage_ratio %}-->
                            <!--<div class="box"></div>-->
                            <!--{% else %}-->
                            <!--<div class="box" style="background: #fff;"></div>-->
                            <!--{% endif %}-->
                            <!--{% endfor %}-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

</div>

<!-- /.container-fluid -->

{% endblock%}
