{% extends "base-global.html" %}
{% load static %}
{% load i18n %}
{% block title %}PD-New Project{% endblock %}
{% block meta %}
<link href="{% static 'css/saas.css' %}" rel="stylesheet" />
<style>
    .dtHorizontalVerticalExampleWrapper {
    max-width: 600px;
    margin: 0 auto;
    }
    #dtHorizontalVerticalExample th, td {
    white-space: nowrap;
    }
    table.dataTable thead .sorting:after,
    table.dataTable thead .sorting:before,
    table.dataTable thead .sorting_asc:after,
    table.dataTable thead .sorting_asc:before,
    table.dataTable thead .sorting_asc_disabled:after,
    table.dataTable thead .sorting_asc_disabled:before,
    table.dataTable thead .sorting_desc:after,
    table.dataTable thead .sorting_desc:before,
    table.dataTable thead .sorting_desc_disabled:after,
    table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;
    }
    #mydiv {
    position: absolute;
    width:60%;
    z-index: 9;
    background-color: #f1f1f1;
    text-align: center;
    border: 1px solid #d3d3d3;
    }
    #mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    }
    body {font-family: Arial, Helvetica, sans-serif;}
    * {box-sizing: border-box;}
    /* Button used to open the chat form - fixed at the bottom of the page */
    .open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    <!--position: fixed;-->
    <!--bottom: 23px;-->
    <!--right: 28px;-->
    width: 280px;
    }

    #head_div{
        width: 70%;
        float: left;
        margin: auto;
        text-align: left;
        margin-top: 0.2rem;
        padding-left: 0.6rem;
    }
    #back_div{
        width: 30%;
        float: left;
        margin-top: -0.3rem;
    }
    /*#forward_div{
        width: 28%;
        float: left;
    }*/

    /* The popup chat - hidden by default */
    .chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    }
    /* Add styles to the form container */
    .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
    }
    /* Full-width textarea */
    .form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
    }
    /* When the textarea gets focus, do something */
    .form-container textarea:focus {
    background-color: #ddd;
    outline: none;
    }
    /* Set a style for the submit/send button */
    .form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
    }
    /* Add a red background color to the cancel button */
    .form-container .cancel {
    background-color: red;
    }
    /* Add some hover effects to buttons */
    .form-container .btn:hover, .open-button:hover {
    opacity: 1;
    }
    .child {
    background: red;
    }
    <!-- preview table style-->
    #widnow{
    width:400px;
    border:solid 1px;
    }
    #title_bar{
    background: #FEFEFE;
    height: 25px;
    width: 100%;
    }
    #buttn{
    border:solid 1px;
    width: 25px;
    height: 23px;
    float:right;
    cursor:pointer;
    }
    #box{
    height: 250px;
    background: #DFDFDF;
    }
    #load_bar{
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    background:url("https://www.creditmutuel.fr/cmne/fr/banques/webservices/nswr/images/loading.gif") no-repeat center center rgba(0,0,0,0.25)
    }

    .nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
    </style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://rawgit.com/abdennour/bootstrap-waitingfor/master/build/bootstrap-waitingfor.js"></script>
<script type="text/javascript" src="{% static 'js/base_saas.js' %}"></script>
{% endblock %}
{% block content%}







<!--<div class="container-fluid">-->
    <div class="row mb-4">
        <div class="col-lg-3">

            <!-- Default Card Example -->
            <!-- <div class="card mb-4" > -->
            <div class="alert" role="alert">
                <button class="btn btn-secondary" id="back_button" disabled><i class="fa fa-arrow-circle-left"></i> {% trans "Back" %}</button>
                <!-- <button id="forward_button" type="button" class="fas fa-arrow-alt-circle-right" disabled>Forward</button> -->
            </div>
            <div class="card card-header0">
                <div class="card-body first-card">
                    <!-- Divider -->
                    <!--<hr class="sidebar-divider my-0"> </br>-->

                    <div id="start_div1" style="margin: auto;">
                        <div class="card-header1"><span>{% trans "URL Setting" %}</span></div>
                        <div>{% trans "Please open a new tab and go to the data extration url then copy paste the url below here." %}</div>
                    </div>
                    <div id="start_div1_login" style="margin: auto; display: none">
                        <div class="card-header1"><span>{% trans "Confirm Login" %}</span></div>
                        <div>{% trans "Do you want to proceed with login?" %}</div>
                    </div>
                    <div id="start_div1_login2" style="margin: auto; display: none">
                        <div class="card-header1"><span>{% trans "Login URL" %}</span></div>
                        <div>{% trans "Please provide the login URL." %}</div>
                    </div>
                    <!-- login0 -->
                    <div class="loginStep">
                        <div class="card-header1"><span>{% trans "Login ID・Password Setting" %}</span></div>
                        <div>{% trans "Choose ID box" %}</div>
                    </div>
                    <!-- login1 -->
                    <div class="loginStep">
                        <div class="card-header1"><span>{% trans "Login ID・Password Setting" %}</span></div>
                        <div>{% trans "Fill-in login id and Click next to Passowrd" %}</div>
                    </div>
                    <!-- login2 -->
                    <div class="loginStep">
                        <div class="card-header1"><span>{% trans "Login ID・Password Setting" %}</span></div>
                        <div>{% trans "Choose password box" %}</div>
                    </div>
                    <!-- login3 -->
                    <div class="loginStep">
                        <div class="card-header1"><span>{% trans "Login ID・Password Setting" %}</span></div>
                        <div>{% trans "Fill-in password and Click next to Button Click" %}</div>
                    </div>
                    <!-- login4 -->
                    <div class="loginStep">
                        <div class="card-header1"><span>{% trans "Login ID・Password Setting" %}</span></div>
                        <div>{% trans "Click the button to Login-in to Main page" %}</div>
                    </div>
                    <!-- login5 -->
                    <div class="loginStep">
                        <div class="card-header1"><span>{% trans "Login ID・Password Setting" %}</span></div>
                        <div>{% trans "Please select button to go to second password page" %}</div>
                    </div>
                    <!-- login6 -->
                    <div class="loginStep">
                        <div class="card-header1"><span>{% trans "Login ID・Password Setting" %}</span></div>
                        <div>{% trans "Please confirm password input box" %}</div>
                    </div>
                    <!-- Head0: Page0 -->
                    <div class="headStep">
                        <span>
                            <div class="card-header1"><span>{% trans "Data Extraction" %}<i class="far fa-question-circle" id="help-data"></i></div>
                            <div>
                                {% blocktrans %}Select one of them</br>Extraction after fill and click{% endblocktrans %}
                            </div>
                        </span>
                    </div>
                    <!-- Head1: Page1 -->
                    <div class="headStep">
                        <div class="card-header1"><span>{% trans "Fill and Click" %}</span></div>
                    </div>
                    <!-- Head2: Page2 -->
                    <div class="headStep">
                        <div class="card-header1">
                            <span>
                                {% trans "Select Type" %}
                                <i class="far fa-question-circle" id="help-type"></i>
                            </span>
                        </div>
                        <div>{% trans "Please select data type." %}</div>
                    </div>
                    <!-- Head3: Page3 -->
                    <div class="headStep">
                        <div>{% trans "Please select a fill button to enter a value." %}</div><br>
                    </div>
                    <!-- Head4: Page4 -->
                    <div class="headStep">
                        <div class="card-header1"><span>{% trans "Select Data" %}</span></div>
                        <div>{% trans "Please click the page you want to move from the specified website." %}</div>
                    </div>
                    <!-- Head5: Page5 -->
                    <div class="headStep">
                        <div class="card-header1"><span>{% trans "Select Data" %}</span></div>
                        <div>{% trans "Please select the text data you want to retrieve on the specified web page. When selected, the selected part is displayed in red frame." %}</div>
                    </div>
                    <!-- Head6: Page6 -->
                    <div class="headStep">
                        <div class="card-header1"><span>{% trans "Select Similar Data" %}</span></div>
                        <div>{% trans "If you want to get similar data, please select yes." %}</div>
                    </div>
                    <!-- Head7: Page7 -->
                    <div class="headStep">
                        <div class="card-header1"><span>{% trans "Select Similar Data" %}</span></div>
                        <div>{% trans "Please select one data in the same row as the data (green) set in the previous step. " %}<br>
                        {% trans "If you are satisfied with the data displayed in red dotted line, please select Next button. " %}</div>
                    </div>
                    <!-- Head8: Page8 -->
                    <div class="headStep">
                        <div class="card-header1"><span>{% trans "Set Data Name" %}</span></div>
                        <div>{% trans "Please name the column." %}</div>
                    </div>
                    <!-- Head9: Page9 -->
                    <div class="headStep">
                        <div class="card-header1"><span>{% trans "Set Another Rule" %}</span></div>
                        <div>{% trans "If you want to add a new column to this table, please select Set additional data button. " %}</div>
                    </div>
                    <!-- Head10: Page10 -->
                    <div class="headStep">
                        <div class="card-header1"><span>{% trans "Pagination Setting" %}</span></div>
                        <div>{% trans "Please confirm pagination" %}</div>
                    </div>
                    <!-- Head11: Page11 -->
                    <div class="headStep">
                        <div class="card-header1"><span>{% trans "Save as" %}</span></div>
                        <div>{% trans "Please Input project name" %}</div>
                    </div>
                    <!-- Head12: Page12 -->
                    <div class="headStep">
                        <div class="card-header1"><span>{% trans "Keyword" %}</span></div>
                        <div>{% trans "Please Input Fill text" %}</div>
                    </div>
                    <!-- Head13: Page13 -->
                    <div class="headStep">
                        <div class="card-header1"><span>{% trans "Keyword" %}</span></div>
                        <div>{% trans "Please select a table" %}</div>
                    </div>
                    <!-- Head14: Page14 -->
                    <div class="headStep">
                        <div class="card-header1"><span>{% trans "Keyword" %}</span></div>
                        <h3>{% trans "Table type" %}:<br>
                            {% trans "Please select a table below" %}
                        </h3>
                    </div>
                    <!-- Head15: Page15 -->
                    <div class="headStep">
                        <div class="card-header1"><span>{% trans "Keyword" %}</span></div>
                        <h3>{% trans "Column selection" %}<br>
                            {% trans "Please select a column below" %}
                        </h3>
                    </div>
                    <!-- Head16: Page16 -->
                    <div class="headStep">
                        <div class="card-header1"><span>{% trans "Keyword" %}</span></div>
                        <h3>{% trans "File Download selection" %}<br>
                            {% trans "Please select a file" %}
                        </h3>
                    </div>
                    <!-- Head17: Page17 -->
                    <div class="headStep">
                        <div class="card-header1"><span>{% trans "Keyword" %}</span></div>
                        <h3>{% trans "Did you want similar files?" %}<br>
                            {% trans "Yes? or No?" %}
                        </h3>
                    </div>
                    <!-- Head18: Page18 -->
                    <div class="headStep">
                        <div class="card-header1"><span>{% trans "Keyword" %}</span></div>
                        <h3>{% trans "File similar confirmation" %}<br>
                            {% trans "Do you want to cancel?" %}
                        </h3>
                    </div>
                    <!-- Head19: Page19 -->
                    <div class="headStep">
                        {% trans "Number of Pagination pages" %}
                    </div>

                </div>
                <!--<div class="card-header"><h4 class="text-center text-uppercase text-secondary mb-0">{% trans "Actions" %}</h4>-->
                <!--</div>-->
                <div class="card-body second-card">
                    <div id="start_div2" style="margin: 0 auto;">
                        <div style="margin: 0 auto; text-align: left">
                            <div>{% trans "Enter URL" %}
                                <input class="form-control" id="start_url" type="text" name="start_url" onkeyup="startCheck()" required placeholder="https://" style="width: 80%;"></br>
                            </div>
                            <input id="submit_url" type="button" class="btn btn-primary btn-fill btn-info" value="{% trans " Next" %}" disabled>
                        </div>
                    </div>
                    <div id="start_div2_login" style="margin: 0 auto; display: none">
                        <div style="width: 80%; margin: 0 auto; text-align: left">
                            <div class="text-center">
                                <button id="login_yes" class="btn btn-primary btn-fill btn-info">{% trans "Yes" %}</button>
                                <button id="login_no" class="btn btn-secondary btn-fill">{% trans "No " %}</button>
                            </div>
                        </div>
                    </div>
                    <div id="start_div2_login2" style="margin: 0 auto; display: none">
                        <div style="width: 80%; margin: 0 auto; text-align: left">
                            <div>{% trans "Enter Login URL" %}
                                <input class="form-control" id="login_url" type="text" name="login_url" onkeyup="start2Check()"required></br>
                            </div>
                            <input id="submit2_url" type="button" class="btn btn-primary btn-fill btn-info" value="{% trans " Next" %}" disabled>
                        </div>
                    </div>
                    <!--<div class="row my-side-div">-->
                    <!-- Login0: Login confirm -->
                    <div class="loginConfig">
                        <!-- <div><button id="action_login_confirm" type="button" class="btn btn-primary btn-fill btn-info" disabled>ok</button></div> -->
                        <div><input class="form-control" id="action_login_text" type="text" placeholder="{% trans " Login ID" %}" onkeyup="usernameCheck()" style="display:block" disabled></div><br>
                        <div><button id="action_login_next" type="button" class="btn btn-primary btn-fill btn-info" disabled>{% trans "Next to Password" %}</button></div>
                    </div>
                    <!-- Login1: Login fill -->
                    <div class="loginConfig">
                        <!-- <div><input class="form-control" id="action_login_text" type="text" placeholder="{% trans "Login ID" %}" onkeyup="usernameCheck()" style="display:block"></div>
                            <div><button id="action_login_next" type="button" class="btn btn-primary btn-fill btn-info" disabled>{% trans "Next to Password" %}</button></div> -->
                    </div>
                    <!-- Login2: Password confirm -->
                    <div class="loginConfig">
                        <!-- <div><button id="action_password_confirm" type="button" class="btn btn-primary btn-fill btn-info" disabled>{% trans "ok" %}</button></div> -->
                        <div><input class="form-control" id="action_password_text" type="password" placeholder="{% trans " Password" %}" onkeyup="passwordCheck()" style="display:block" disabled></div><br>
                        <button id="action_password_next" type="button" class="btn btn-primary btn-fill btn-info" disabled>{% trans "Next to Button Click" %}</button><br><br>
                        <div><button id="action_nextpage_password" type="button" class="btn btn-primary btn-fill btn-info">{% trans "Password Next Page" %}</button></div>
                    </div>
                    <!-- Login3: Password fill -->
                    <div class="loginConfig">
                        <!-- <div><input class="form-control" id="action_password_text" type="password" placeholder="{% trans "Password" %}" onkeyup="passwordCheck2()" style="display:block"></div><br>
                            <button id="action_password_next" type="button" class="btn btn-primary btn-fill btn-info" disabled>{% trans "Next to Button Click" %}</button> -->
                    </div>
                    <!-- Login4: Finish Login -->
                    <div class="loginConfig">
                        <button id="finish_login" type="button" class="btn btn-primary btn-fill btn-info" disabled>{% trans "Login-in to Main Page" %}</button><br>
                    </div>
                    <!-- Login5: Login Simple Password, Click confirm for Next page-->
                    <div class="loginConfig">
                        <div><button id="password_click_confirm" type="button" class="btn btn-primary btn-fill btn-info" disabled>{% trans "OK" %}</button></div>
                    </div>
                    <!-- Login6: Login Simple Password confirm-->
                    <div class="loginConfig">
                        <!-- <div><button id="action_simple_password" type="button" class="btn btn-primary btn-fill btn-info" disabled>{% trans "OK" %}</button></div> -->
                        <div><input class="form-control" id="action_password_text2" type="password" placeholder="{% trans " Password" %}" onkeyup="passwordCheck2()" style="display:block" disabled></div><br>
                        <button id="action_password_next2" type="button" class="btn btn-primary btn-fill btn-info" disabled>{% trans "Next" %}</button>
                    </div>
                    <!-- Link Login6 to Login3 -->
                    <!-- Page0: Data Extraction and Fill&Click -->
                    <div class="projectStep" style="width:80%; margin: 0 auto;">
                        <button id="action_extract" type="button" class="btn btn-primary btn-fill btn-info btn-block" disabled>{% trans "Data extraction" %}</button><br>
                        <button id="action_fc" type="button" class="btn btn-primary btn-fill btn-info btn-block" disabled>{% trans "Extraction after fill and click" %}</button>
                    </div>
                    <!-- Page1: Fill and Click -->
                    <div class="projectStep" style="width:80%; margin: 0 auto;">
                        <button id="action_fill" type="button" class="btn btn-primary btn-fill btn-info btn-block">{% trans "Fill text field" %}</button>
                        <button id="action_click" type="button" class="btn btn-primary btn-fill btn-info btn-block">{% trans "Click/Filter" %}</button>
                    </div>
                    <!-- Page2: Data Extraction -->
                    <div class="projectStep" style="width:80%; margin: 0 auto;">
                        <button id="action_text" type="button" class="btn btn-primary btn-fill btn-info btn-block">{% trans "Extract Text" %}</button>
                        <button id="action_url" type="button" class="btn btn-primary btn-fill btn-info btn-block">{% trans "Extract URL" %}</button>
                        <!-- <button id="action_img" type="button" class="btn btn-primary btn-fill btn-info">image</button> </br> -->
                        <!-- <button id="action_img_url" type="button" class="btn btn-primary btn-fill btn-info">image url</button> -->
                        <button id="action_table" type="button" class="btn btn-primary btn-fill btn-info btn-block">{% trans "Extract Table" %}</button>
                        <!-- <button id="action_file" type="button" class="btn btn-primary btn-fill btn-info">file</button> -->
                    </div>
                    <!-- Page3: Fill button -->
                    <div class="projectStep">
                        <div><button id="fill_confirm" type="button" class="btn btn-primary btn-fill btn-info" disabled>{% trans "OK" %}</button></div>
                    </div>
                    <!-- Page4: Click button -->
                    <div class="projectStep">
                        <div><button id="click_confirm" type="button" class="btn btn-primary btn-fill btn-info" disabled>{% trans "OK" %}</button></div>
                    </div>
                    <!-- Page5: Text button -->
                    <div class="projectStep">
                        <div><button id="simple_confirm" type="button" class="btn btn-primary btn-fill btn-info" disabled>{% trans "OK" %}</button></div>
                    </div>
                    <!-- Page6: Similar condition -->
                    <div class="projectStep">
                        <div class="text-center">
                            <button id="similar_yes" class="btn btn-primary btn-fill btn-info" disabled>{% trans "Yes" %}</button>
                            <button id="similar_no" class="btn btn-secondary btn-fill">{% trans "No " %}</button>
                        </div>
                    </div>
                    <!-- Page7: Similar confirm -->
                    <div class="projectStep">
                        <div><button id="similar_confirm" class="btn btn-primary btn-fill btn-info" type="button" disabled>{% trans "OK" %}</button></div>
                    </div>
                    <!-- Page8: Column Name Input -->
                    <div class="projectStep" style="width:80%; margin:  auto;">
                        <div class="form-group"><input class="form-control" id="column_text" type="text" placeholder="{% trans " Column name" %}" onkeyup="colCheck()"><br>
                            <button id="column_name" type="button" class="btn btn-primary btn-fill" disabled>{% trans "next" %}</button></div>
                    </div>
                    <!-- Page9: (Return Action/ End) decision -->
                    <div class="projectStep" style="margin:0 auto;">
                        <div class="text-center">
                            <button id="continue_action" type="button" class="btn btn-primary btn-fill btn-info">{% trans "Set additional data" %}</button>
                            <button id="next_to_pagination" type="button" class="btn btn-secondary btn-fill">{% trans "Skip" %}</button>
                        </div>
                    </div>
                    <!-- Page10: (Pagination Action/ Skip) decision -->
                    <div class="projectStep text-center" style="width:80%; margin:0 auto;">
                        <button id="pagination_confirm" class="btn btn-primary btn-fill btn-info" disabled>{% trans "Next" %}</button>
                        <button id="pagination_skip" class="btn btn-secondary btn-fill">{% trans "Skip" %}</button>
                    </div>
                    <!-- Page11: Project Name and Finish -->
                    <div class="projectStep">
                        <input class="form-control" id="project_name" type="text" placeholder="{% trans " Project name" %}" onkeyup="pnameCheck()" style="width:80%;"><br>
                        <button id="finish" type="button" class="btn btn-primary btn-fill btn-info" disabled>{% trans "Project Done" %}</button>
                        <div style="font-size: 14px; margin-top: 20px;">
                            ※{% trans "You can't change project details after finishing this project." %}
                        </div>
                    </div>
                    <!-- Page12: Fill Step and Next button-->
                    <div class="projectStep" style="width:80%; margin:0 auto;">
                        <div><input class="form-control" id="action_fill_text" type="text" onkeyup="fillCheck()" disabled></div>
                        <br>
                        <div><button id="action_fill_next" type="button" class="btn btn-primary btn-fill btn-info" disabled>{% trans "Next to Click" %}</button></div>
                    </div>
                    <!-- Page13: Table confirm -->
                    <div class="projectStep" style="width:80%; margin:0 auto;">
                        <div><button id="action_table_confirm" type="button" class="btn btn-primary btn-fill btn-info" disabled>{% trans "ok" %}</button></div>
                    </div>
                    <!-- Page14: Table decision -->
                    <div class="projectStep" style="width:80%; margin:0 auto;">
                        <div><button id="action_col_confirm" type="button" class="btn btn-primary btn-fill btn-info btn-block">{% trans "Column Table" %}</button></div>
                        <br>
                        <div><button id="action_full_confirm" type="button" class="btn btn-primary btn-fill btn-info btn-block">{% trans "Full Table" %}</button></div>
                    </div>
                    <!-- Page15: Column Add/ Next button -->
                    <div class="projectStep" style="width:80%; margin:0  auto;">
                        <button id="action_add_col" type="button" class="btn btn-primary btn-fill btn-info" disabled>{% trans "Add column" %}</button>
                        <button id="action_col_next" type="button" class="btn btn-secondary btn-fill" disabled>{% trans "Next" %}</button>
                    </div>
                    <!-- Page16: File download confirm -->
                    <div class="projectStep" style="width:80%; margin: 0 auto;">
                        <button id="action_file_confirm" type="button" class="btn btn-primary btn-fill btn-info" disabled>{% trans "ok" %}</button>
                    </div>
                    <!-- Page17: File similar condition -->
                    <div class="projectStep" style="width:80%; margin: 0 auto;">
                        <button id="file_yes" class="btn btn-primary btn-fill btn-info">{% trans "Yes" %}</button>
                        <button id="file_no" class="btn btn-primary btn-fill btn-info">{% trans "No" %}</button>
                    </div>
                    <!-- Page18: File similar cancel-->
                    <div class="projectStep" style="width:80%; margin: 0 auto;">
                        <button id="file_next" class="btn btn-primary btn-fill btn-info">{% trans "Next" %}</button>
                        <button id="file_cancel" class="btn btn-primary btn-fill btn-info">{% trans "File cancel" %}</button>
                    </div>
                    <!-- Page19: Pagination Number -->
                    <div class="projectStep" style="width:80%; margin: 0 auto;">
                        <input class="form-control" id="pag_num" type="text" value="2" onkeyup="paginationCheck()" style="display:block"><br>
                        <button id="pagination_next" class="btn btn-primary btn-fill btn-info">{% trans "Next" %}</button>
                    </div>
                </div>
                  <div class="card">
                <div class="card-header">
                    <h4 class="text-center text-uppercase text-secondary mb-0">{% blocktrans %}S&nbsp;T&nbsp;E&nbsp;P{% endblocktrans %}</h4>
                </div>
                <div class="card-body" style="padding: 1.25rem 30px 1.25rem 0;">&nbsp;
                    <div>
                        <ul class="progressbar">
                            <li class="statusStep active">{% blocktrans %}Page <br>Setting{% endblocktrans %}</li>
                            <li class="statusStep">{% blocktrans %}Rule <br>Setting{% endblocktrans %}</li>
                            <li class="statusStep">{% blocktrans %}Continuous <br>Setting{% endblocktrans %}</li>
                            <li class="statusStep">{% blocktrans %}Finish{% endblocktrans %}</li>
                        </ul>
                    </div>
                </div>
            </div>
            </div>
            <!-- Divider -->
            <br>
            <!--<div class="card">-->
                <!--<div class="card-header">-->
                    <!--<h4 class="text-center text-uppercase text-secondary mb-0">{% blocktrans %}S&nbsp;T&nbsp;E&nbsp;P{% endblocktrans %}</h4>-->
                <!--</div>-->
                <!--<div class="card-body" style="padding: 1.25rem 30px 1.25rem 0;">&nbsp;-->
                    <!--<div>-->
                        <!--<ul class="progressbar">-->
                            <!--<li class="statusStep active">{% blocktrans %}Page <br>Setting{% endblocktrans %}</li>-->
                            <!--<li class="statusStep">{% blocktrans %}Rule <br>Setting{% endblocktrans %}</li>-->
                            <!--<li class="statusStep">{% blocktrans %}Continuous <br>Setting{% endblocktrans %}</li>-->
                            <!--<li class="statusStep">{% blocktrans %}Finish{% endblocktrans %}</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>

        <div class="col-lg-9 nopadding">
            <!-- Collapsable Card Example -->
            <div class="card shadow mb-4 nopadding">
                <div>
                    <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                        <h6 class="m-0 font-weight-bold text-primary" style="text-align: center;">{% trans "Preview Data" %}</h6>
                    </a>
                </div>
                <div class="collapse show" id="collapseCardExample" style="">
                    <div class="table-responsive">
                        <table class="table nopadding table-bordered table-wrapper-scroll-x table-wrapper-scroll-y my-custom-scrollbar text-left" style="overflow-x:auto;" id="htCore">
                            <thead style="line-height:8px; background-color:#f3f3f3;">
                                <th></th>
                                <th>{% trans "A" %}</th>
                                <th>{% trans "B" %}</th>
                                <th>{% trans "C" %}</th>
                                <th>{% trans "D" %}</th>
                                <th>{% trans "E" %}</th>
                                <th>{% trans "F" %}</th>
                                <th>{% trans "G" %}</th>
                                <th>{% trans "H" %}</th>
                                <th>{% trans "I" %}</th>
                                <th>{% trans "J" %}</th>
                                <th>{% trans "K" %}</th>
                                <th>{% trans "L" %}</th>
                                <th>{% trans "M" %}</th>
                                <th>{% trans "N" %}</th>
                                <th>{% trans "O" %}</th>
                                <th>{% trans "P" %}</th>
                                <th>{% trans "Q" %}</th>
                                <th>{% trans "R" %}</th>
                                <th>{% trans "S" %}</th>
                                <th>{% trans "T" %}</th>
                                <th>{% trans "U" %}</th>
                                <th>{% trans "V" %}</th>
                                <th>{% trans "W" %}</th>
                                <th>{% trans "X" %}</th>
                                <th>{% trans "Y" %}</th>
                                <th>{% trans "Z" %}</th>
                                <th>{% trans "AA" %}</th>
                                <th>{% trans "AB" %}</th>
                                <th>{% trans "AC" %}</th>
                                <th>{% trans "AD" %}</th>
                                <th>{% trans "AE" %}</th>
                                <th>{% trans "AF" %}</th>
                                <th>{% trans "AG" %}</th>
                                <th>{% trans "AH" %}</th>
                                <th>{% trans "AI" %}</th>
                                <th>{% trans "AJ" %}</th>
                                <th>{% trans "AK" %}</th>
                                <th>{% trans "AL" %}</th>
                                <th>{% trans "AM" %}</th>
                                <th>{% trans "AN" %}</th>
                                <th>{% trans "AO" %}</th>
                                <th>{% trans "AP" %}</th>
                                <th>{% trans "AQ" %}</th>
                                <th>{% trans "AR" %}</th>
                                <th>{% trans "AS" %}</th>
                            </thead>
                            <tbody>
                                {% for i in 1|rjust:500 %}
                                <tr style="line-height:8px;">
                                    <td style="background-color:#f3f3f3;">{{ forloop.counter }}</td>
                                    <td style="max-width:1000px; min-width:100px;"></td>
                                    <td style="max-width:1000px; min-width:100px;"></td>
                                    <td style="max-width:1000px; min-width:100px;"></td>
                                    <td style="max-width:1000px; min-width:100px;"></td>
                                    <td style="max-width:1000px; min-width:100px;"></td>
                                    <td style="max-width:1000px; min-width:100px;"></td>
                                    <td style="max-width:1000px; min-width:100px;"></td>
                                    <td style="max-width:1000px; min-width:100px;"></td>
                                    <td style="max-width:1000px; min-width:100px;"></td>
                                    <td style="max-width:1000px; min-width:100px;"></td>
                                    <td style="max-width:1000px; min-width:100px;"></td>
                                    <td style="max-width:1000px; min-width:100px;"></td>
                                    <td style="max-width:1000px; min-width:100px;"></td>
                                    <td style="max-width:1000px; min-width:100px;"></td>
                                    <td style="max-width:1000px; min-width:100px;"></td>
                                    <td style="max-width:1000px; min-width:100px;"></td>
                                    <td style="max-width:1000px; min-width:100px;"></td>
                                    <td style="max-width:1000px; min-width:100px;"></td>
                                    <td style="max-width:1000px; min-width:100px;"></td>
                                    <td style="max-width:1000px; min-width:100px;"></td>
                                    <td style="max-width:1000px; min-width:100px;"></td>
                                    <td style="max-width:1000px; min-width:100px;"></td>
                                    <td style="max-width:1000px; min-width:100px;"></td>
                                    <td style="max-width:1000px; min-width:100px;"></td>
                                    <td style="max-width:1000px; min-width:100px;"></td>
                                    <td style="max-width:1000px; min-width:100px;"></td>
                                    <td style="max-width:1000px; min-width:100px;"></td>
                                    <td style="max-width:1000px; min-width:100px;"></td>
                                    <td style="max-width:1000px; min-width:100px;"></td>
                                    <td style="max-width:1000px; min-width:100px;"></td>
                                    <td style="max-width:1000px; min-width:100px;"></td>
                                    <td style="max-width:1000px; min-width:100px;"></td>
                                    <td style="max-width:1000px; min-width:100px;"></td>
                                    <td style="max-width:1000px; min-width:100px;"></td>
                                    <td style="max-width:1000px; min-width:100px;"></td>
                                    <td style="max-width:1000px; min-width:100px;"></td>
                                    <td style="max-width:1000px; min-width:100px;"></td>
                                    <td style="max-width:1000px; min-width:100px;"></td>
                                    <td style="max-width:1000px; min-width:100px;"></td>
                                    <td style="max-width:1000px; min-width:100px;"></td>
                                    <td style="max-width:1000px; min-width:100px;"></td>
                                    <td style="max-width:1000px; min-width:100px;"></td>
                                    <td style="max-width:1000px; min-width:100px;"></td>
                                    <td style="max-width:1000px; min-width:100px;"></td>
                                    <td style="max-width:1000px; min-width:100px;"></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                       <button class="btn btn-default btn-sm btn-block" onclick="tableToggle()" id="ShowMore" style="text-align: center;">Show more</button>

                    </div>
                </div>
            </div>

            <!-- Dropdown Card Example -->
            <div class="card shadow mb-4 nopadding">
                    <div class="embed-responsive embed-responsive-16by9" style="padding: 0px 0px 0px 0px;">
                        <iframe id="iframe" class="embed-responsive-item" allowfullscreen></iframe>
                    </div>
                <!--</div>-->
            </div>
        </div>
        </div>
    <!--</div>-->
<!--</div>-->
{% endblock %}
{% block js %}
<script type="text/javascript">
var el = document.getElementById('iframe');
el.src = "{% url 'global_dashboard:instructions' %}";
</script>
<script type="text/javascript">
// feedback ajax
var frm = $('#chat_form');
frm.submit(function() {
    $.ajax({
        type: "post",
        url: "/global/feedback/",
        data: frm.serialize(),
        success: function(data) {
            document.getElementById("chat_div").style.display = 'none';
            $("#chat_success").html("<span class='chat_end'>{% trans 'Thank You. You have submitted your request successfully. Our team will contact you soon.' %} <a href='#' class='chat_more'>{% trans 'more' %}</a></span>");
            $(".c_h").addClass("noclick");
        },
        error: function(data) {
            $("#chat_failure").html("Something went wrong! Sorry, Please try again.");
        }
    });
    return false;
});
// feedback open/close
$(document).on("click", ".c_h, .chat_more", function() {
    // activate, inactivate click
    if ($(this).hasClass("chat_more")) {
        $(".chat_end").css("display", "none");
        $(".c_h").removeClass("noclick");
        $("textarea#messag_send").val("");
    } else if ($(this).hasClass("noclick")) {
        return false;
    }
    // append + / -
    if ($(".chat_container").is(":visible")) {
        $(".c_h .right_c .mini").text("+");
    } else {
        $(".c_h .right_c .mini").text("-");
    }
    $(".chat_container").slideToggle("slow");
});

// Focus URL's text if user clicks url text box.
$(function() {
    $('#start_url').focus(function(){
        $(this).select();
    });
});

</script>

<script src="https://unpkg.com/popper.js@1"></script>
<script src="https://unpkg.com/tippy.js@4"></script>
<script type="text/javascript">
    // show popup for `help`
    tippy('#help-data', {
        content: `<div class="text-left">{% blocktrans %}Get data on page: The data you want to get is on this page<br>Get data of search results: The data you want to get is in the search results of this page.{% endblocktrans %}</div>`,
        animateFill: false,
        animation: 'scale',
        theme: 'google',
    })
    tippy('#help-type', {
        content: `<div class="text-left">{% trans "Table Example" %}<br><img src="{% static 'assets/images/table-help.png' %}" width='95%'/><br>
        ※ {% trans "If you select an image or illustration, you get the URL." %}</div>`,
        animateFill: false,
        animation: 'scale',
        theme: 'google',
    })
</script>

<script type="text/javascript">
var x = "User-agent header sent: " + navigator.userAgent;
document.getElementById("web").value = x;
$("#submit_url").click(function() {
    // document.getElementById("chat").style.display = 'block';
    document.getElementById("url_start").value = document.getElementById("start_url").value;
});

function openForm() {
    document.getElementById("myForm").style.display = "block";
}

function closeForm() {
    document.getElementById("myForm").style.display = "none";
}
// $(function() {
//     var checkbox = $("#is_login");
//     var hidden_fields = document.getElementById("hidden_fields");
//     checkbox.change(function() {
//         if (checkbox.is(':checked')) {
//             hidden_fields.hidden = false;
//         } else {
//             hidden_fields.hidden = true;
//             startCheck();
//         }
//     });
// });

$("#buttn").click(function() {
    if ($(this).html() == "-") {
        $(this).html("+");
    } else {
        $(this).html("-");
    }
    $("#box").toggle();
});
<!--//Make the DIV element draggagle:-->
<!--dragElement(document.getElementById("mydiv"));-->
<!--function dragElement(elmnt) {-->
<!--var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;-->
<!--if (document.getElementById(elmnt.id + "header")) {-->
<!--/* if present, the header is where you move the DIV from:*/-->
<!--document.getElementById(elmnt.id + "header").onmousedown = dragMouseDown;-->
<!--} else {-->
<!--/* otherwise, move the DIV from anywhere inside the DIV:*/-->
<!--elmnt.onmousedown = dragMouseDown;-->
<!--}-->
<!--function dragMouseDown(e) {-->
<!--e = e || window.event;-->
<!--e.preventDefault();-->
<!--// get the mouse cursor position at startup:-->
<!--pos3 = e.clientX;-->
<!--pos4 = e.clientY;-->
<!--document.onmouseup = closeDragElement;-->
<!--// call a function whenever the cursor moves:-->
<!--document.onmousemove = elementDrag;-->
<!--}-->
<!--function elementDrag(e) {-->
<!--e = e || window.event;-->
<!--e.preventDefault();-->
<!--// calculate the new cursor position:-->
<!--pos1 = pos3 - e.clientX;-->
<!--pos2 = pos4 - e.clientY;-->
<!--pos3 = e.clientX;-->
<!--pos4 = e.clientY;-->
<!--// set the element's new position:-->
<!--elmnt.style.top = (elmnt.offsetTop - pos2) + "px";-->
<!--elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";-->
<!--}-->
<!--function closeDragElement() {-->
<!--/* stop moving when mouse button is released:*/-->
<!--document.onmouseup = null;-->
<!--document.onmousemove = null;-->
<!--}-->
<!--}-->
</script>
<script type="text/javascript">
function validateUrl(value) {
    return /^(?:(?:(?:https?|ftp):)?\/\/)(?:\S+(?::\S*)?@)?(?:(?!(?:10|127)(?:\.\d{1,3}){3})(?!(?:169\.254|192\.168)(?:\.\d{1,3}){2})(?!172\.(?:1[6-9]|2\d|3[0-1])(?:\.\d{1,3}){2})(?:[1-9]\d?|1\d\d|2[01]\d|22[0-3])(?:\.(?:1?\d{1,2}|2[0-4]\d|25[0-5])){2}(?:\.(?:[1-9]\d?|1\d\d|2[0-4]\d|25[0-4]))|(?:(?:[a-z\u00a1-\uffff0-9]-*)*[a-z\u00a1-\uffff0-9]+)(?:\.(?:[a-z\u00a1-\uffff0-9]-*)*[a-z\u00a1-\uffff0-9]+)*(?:\.(?:[a-z\u00a1-\uffff]{2,})))(?::\d{2,5})?(?:[/?#]\S*)?$/i.test(value);
}

function startCheck() {
    let start_url = document.getElementById('start_url').value;
    if (validateUrl(start_url)) {
        // let login_check_box = document.getElementById('is_login').checked;
        // if (login_check_box) {
        //     let login_url = document.getElementById('login_url').value;
        //     if (validateUrl(login_url)) {
        //         document.getElementById('submit_url').disabled = false;
        //     } else {
        //         document.getElementById('submit_url').disabled = true;
        //     }
        // } else {
        //     document.getElementById('submit_url').disabled = false;
        // }
        document.getElementById('submit_url').disabled = false;
    } else {
        document.getElementById('submit_url').disabled = true;
    }
}
function start2Check() {
    let login_url = document.getElementById('login_url').value;
    if (validateUrl(login_url)) {
        document.getElementById('submit2_url').disabled = false;
    } else {
        document.getElementById('submit2_url').disabled = true;
    }
}

// function loginBox() {
//     let login_check_box = document.getElementById('is_login').checked;
//     let login_url = document.getElementById('login_url').value;
//     if (login_check_box && login_url === '') {
//         document.getElementById('submit_url').disabled = true;
//     }
// }

function colCheck() {
    let col_input = document.getElementById('column_text').value;
    if (col_input === "") {
        document.getElementById('column_name').disabled = true;
    } else {
        document.getElementById('column_name').disabled = false;
    }
}

function usernameCheck() {
    let login_text = document.getElementById('action_login_text').value;
    if (login_text === "") {
        document.getElementById('action_login_next').disabled = true;
    } else {
        document.getElementById('action_login_next').disabled = false;
    }
}

function passwordCheck() {
    let password_text = document.getElementById('action_password_text').value;
    if (password_text === "") {
        document.getElementById('action_password_next').disabled = true;
    } else {
        document.getElementById('action_password_next').disabled = false;
    }
}

function passwordCheck2() {
    let password_text2 = document.getElementById('action_password_text2').value;
    if (password_text2 === "") {
        document.getElementById('action_password_next2').disabled = true;
    } else {
        document.getElementById('action_password_next2').disabled = false;
    }
}

function fillCheck() {
    let action_fill_text = document.getElementById('action_fill_text').value;
    if (action_fill_text === "") {
        document.getElementById('action_fill_next').disabled = true;
    } else {
        document.getElementById('action_fill_next').disabled = false;
    }
}

function paginationCheck() {
    let pag_num = document.getElementById('pag_num').value;
    if (pag_num !== "" && Number.isInteger(Number(pag_num)) && Number(pag_num) > 0) {
        document.getElementById('pagination_next').disabled = false;
    } else {
        document.getElementById('pagination_next').disabled = true;
    }
}

function pnameCheck() {
    let project_name = document.getElementById('project_name').value;
    if (project_name === "") {
        document.getElementById('finish').disabled = true;
    } else {
        document.getElementById('finish').disabled = false;
    }
}

function tableToggle(){
    let ele = document.getElementById('htCore');
    if (ele.style.height == ""){
        let he = window.innerHeight - 350;
        ele.style.height = he + "px";
        let more = document.getElementById('ShowMore');
        more.innerHTML = "Show Less";
    } else{
        ele.style.height = "";
        let more = document.getElementById('ShowMore');
        more.innerHTML = "Show More";
    }
}

</script>
{% endblock%}
