{% extends "base-global.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Activity Log" %}{% endblock %}

{% block css %}
    <link href="{% static 'global/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'global/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'global/css/sb-admin-2.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content%}
<body id="page-top">
                    <div class="row">
                        <div class="col-xl-8 col-lg-7" style="margin: 0 auto;">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">{% trans "Password Change" %}</h6>

                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area" style="height: 100%;">
  		                                  <div class="profile_change_wrapper">
	                                          <div class="plan_wrapper">
                                                <br>
		                                            <div class="profile_change_wrapper">
                                                    <!--<p class="forget_pass">※パスワードを忘れた場合は<a href="#">こちら</a></p>-->
                                                    {% if form.errors %}
                                                        <div class="alert alert-danger" role="alert">
                                                            {{ form.errors }}
                                                        </div>
                                                    {% endif %}
                                                    <form action="" method="POST">
                                                        {% csrf_token %}
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    {% trans "Old Password" %}<sup>*</sup><br>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="form-group">{{ form.old_password }}</div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    {% trans "New Password" %}<sup>*</sup><br>
                                                                    <span style="font-size: 12px;">&nbsp;({% trans "Enter using more than eight letters" %})</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="form-group">{{ form.new_password1 }}</div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    {% trans "New Password (Confirm)" %}<sup>*</sup><br>
                                                                    <span style="font-size: 12px;">&nbsp;({% trans "Enter using more than eight letters" %})</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="form-group">{{ form.new_password2 }}</div>
                                                            </div>
                                                        </div>
                                                        <div class="text-right">
                                                            <input id="submit_url" type="submit" class="btn btn-primary btn-fill btn-info" value="{% trans "Password Update" %}">
                                                        </div>
                                                        <br>
                                                    </form>
                                                </div>
	                                          </div>
  		                                  </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
</body>
{% endblock%}

{% block js %}
{% endblock %}
