{% extends "base-global.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Activity Log" %}{% endblock %}

{% block css %}
    <link href="{% static 'global/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'global/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'global/css/sb-admin-2.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content%}
<body id="page-top">
    <div id="wrapper">
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-8 col-lg-7" style="margin: 0 auto;">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">{% trans "Password Change Success" %}</h6>

                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area" style="height: 100%;">
  		                                  <div class="profile_change_wrapper">
	                                          <div class="plan_wrapper">
	                                              <div class="row setting_main">
	                                                  <div class="change_finish" style="margin: 0 auto;">
                                                        <h3 class="align_center" style="margin: 50px 0;">{% trans "A new password has been updated." %}</h3>
	                                                      <p>
                                                            {% blocktrans %}After 10 seconds, it will automatically move to setting page.{% endblocktrans %}
                                                        </p>
	                                                  </div>
	                                              </div>
	                                          </div>
  		                                  </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock%}

{% block js %}
<script type="text/javascript">
    setTimeout(function(){
        window.location.href = "{% url 'global_dashboard:setting' %}";
    }, 10*1000);
</script>
{% endblock %}
