{% extends "base-global.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Activity Log" %}{% endblock %}

{% block css %}
    <link href="{% static 'global/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'global/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'global/css/sb-admin-2.min.css' %}" rel="stylesheet">
    <style>
        #content-wrapper #content div.container-fluid {
            margin-top: 3.5em !important;
        }
    </style>
{% endblock %}

{% block content%}
<body id="page-top">
    <div id="wrapper">
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-10 col-lg-10" style="margin: 0 auto;">
                            <div class="card shadow mb-6">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">{% trans "Profile" %}</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area" style="height: 100%;">
  		                                  <div class="profile_change_wrapper">
                                            <!--<p class="caution text-right"><sup>*</sup><b>{% trans "Mandatory fields" %}</b></p>-->
                                            {% if messages %}
                                                <div class="alert alert-info" role="alert" style="width: 800px; text-align: center; font-size: 18px;">
                                                    {% trans "You changed the member information successfully." %}
                                                </div>
                                            {% endif %}
                                            {% if profile_form.errors %}
                                                <div class="alert alert-danger" role="alert">
                                                    {{ profile_form.errors }}
                                                </div>
                                            {% endif %}
                                            <form method="post" id="submit_form" action="{% url 'global_dashboard:setting' %}">
                                                {% csrf_token %}
                                                <div class="row">
  	                                                <div class="col-md-4"><div class="form-group"><b>{% trans "User ID" %}</b></div></div>
  	                                                <div class="col-md-6"><div class="form-group">{{ user.username }}</div></div>
  	                                            </div>
                                                <div class="row">
                                                    <div class="col-md-4"><div class="form-group"><b>{% trans "Your Name" %}</b></div></div>
                                                    <div class="col-md-1"><div class="form-group">{% trans "Last Name" %}</div></div>
                                                    <div class="col-md-2"><div class="form-group">{{ profile_form.last_name }}</div></div>
                                                    <div class="col-md-1"><div class="form-group">{% trans "First Name" %}</div></div>
                                                    <div class="col-md-2"><div class="form-group">{{ profile_form.first_name }}</div></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4"><div class="form-group"><b>{% trans "Your Name (kana)" %}</b></div></div>
                                                    <div class="col-md-1"><div class="form-group">{% trans "Last Name (kana)" %}</div></div>
                                                    <div class="col-md-2"><div class="form-group">{{ profile_form.last_name_kana }}</div></div>
                                                    <div class="col-md-1"><div class="form-group">{% trans "First Name (kana)" %}</div></div>
                                                    <div class="col-md-2">
                                                        <div class="form-group">{{ profile_form.first_name_kana }}</div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4"><div class="form-group"><b>{% trans "Company Name" %}</b></div></div>
                                                    <div class="col-md-6"><div class="form-group">{{ profile_form.company_name }}</div></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4"><div class="form-group"><b>{% trans "Company (kana)" %}</b></div></div>
                                                    <div class="col-md-6"><div class="form-group">{{ profile_form.company_name_kana }}</div></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4"><div class="form-group"><b>{% trans "Department" %}</b></div></div>
                                                    <div class="col-md-6"><div class="form-group">{{ profile_form.department }}</div></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4"><div class="form-group"><b>{% trans "Position" %}</b></div></div>
                                                    <div class="col-md-6"><div class="form-group">{{ profile_form.job_title }}</div></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4"><b><div class="form-group">{% trans "Phone Number" %}<br><span style="font-size: 11px;">({% trans "without dash" %})</span></div></b></div>
                                                    <div class="col-md-2"><div class="form-group">{{ profile_form.tel_number }}</div></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4"><b><div class="form-group">{% trans "Postal Code" %}<br><span style="font-size: 11px;">({% trans "without dash" %})</span></div></b></div>
                                                    <div class="col-md-2"><div class="form-group">{{ profile_form.post_code }}</div></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4"><div class="form-group"><b>{% trans "Address" %}</b></div></div>
                                                    <div class="col-md-6"><div class="form-group">{{ profile_form.address }}</div></div>
                                                </div>
                                                <div class="pay_change_btn text-right">
                                                    <input id="submit_url" type="submit" class="btn btn-primary btn-fill btn-info" value="{% trans "Profile Update" %}">
                                                </div>
                                            </form>
                                            <br>
                                            <hr>
                                            <br>

                                            <!-- Email changing form -->
                                            <form id="change_email_form">
                                                {% csrf_token %}
                                                <div class="row">
                                                    <div class="col-md-4"><div class="form-group"><b>{% trans "Current Email" %}</b></div></div>
                                                    <div class="col-md-6">{{ user.username }}</div>
                                                </div>
                                                <div class="row" style="margin-top: 10px;">
                                                    <div class="col-md-4"><div class="form-group"><b>{% trans "New email address" %}</b></div></div>
                                                    <div class="col-md-6"><input type="email" name="email" id='new_email' class="form-control"></div>
                                                </div>
                                                <div class="row" style="margin-top: 10px;">
                                                    <div class="col-md-4"><div class="form-group"><b>{% trans "Re-enter new email address" %}</b></div></div>
                                                    <div class="col-md-6"><input type="email" name="confirm_email" id='confirm_email' class="form-control"></div>
                                                </div>
                                                <br>
                                                <div class="text-right"><input id="submit_url" type="submit" class="btn btn-primary btn-fill btn-info" value="{% trans "Email Update" %}"></div>
                                            </form>
                                            <br>
                                            <br>
  		                                  </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock%}

{% block js %}
<script type="text/javascript">
    $(document).ready(function(){
        $("#change_email_btn").click(function(){
            $("#change_email_form").toggle();
        });
    });

    $("#change_email_form").on("submit", function(){
        if($("#new_email").val() != $("#confirm_email").val()) {
            alert("Emails doesn't match!");
            return;
        }

        formData = {};
        $('#change_email_form').find("input[name]").each(function (index, node) {
            formData[node.name] = node.value;
        });

        //check user.id
        formData['uid'] = {{ user.id }};
        message = ''
        $.ajax({
            url : "{% url 'global_dashboard:email_change' %}",
            type : "POST",
            data : formData,

            // handle a successful response
            success : function(json) {
                message = 'Activation email sent to your new email-address. Please follow those instructions to complete your email verification.';
            },
            // handle a non-successful response
            error : function(xhr, errmsg, err) {
                message = errmsg;
            }
        });
        $("#change_email_form").toggle();
    });
</script>
{% endblock %}
