{% extends "pg-base.html" %}
{% load static %}
{% load i18n %}
{% block title %}Pigdata-SaaS{% endblock %}
{% block meta %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="{% static 'css/saas.css' %}" rel="stylesheet" />
<script src="{% static 'js/base_saas.js' %}"></script>
<script>
	var qwerty = "{{ start_url }}";
	var login_url = "{{ login_url }}";
</script>
<style>
div.my-side-div {
margin: auto;
border: 3px solid #73AD21;
background-color: #83caca;
height:100%;
}

div.my-web-div {
margin: 0px;
border: 3px solid black;
min-height: calc(100vh - 70px - 60px);
}

div.my-preview-div {
margin: 0px;
padding: 0px;
border: 3px solid black;
background-color: white;
}

.child {
  background: red;
}
<!-- preview table style-->
#widnow{
    width:400px;
    border:solid 1px;
}

#title_bar{
    background: #FEFEFE;
    height: 25px;
    width: 100%;
}
.pre-size{
    width: 25px;
    height: 25px;
    float: right;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    margin-right: 20px;
}
#max{
    display: none;
}
.pre-size:hover{
    background: #DFDFDF;
}
#box{
    height: 250px;
    background: #DFDFDF;
}
.panel-content{
    min-height: 500px;
}
.preview{
    position: absolute;
    width: 100%;
    bottom: 0px;
}
</style>

{% endblock %}

{% block content %}
<div>
	<input id="login_url" type="hidden" value="{{ login_url }}">
</div>
<div class="container-fluid" style="width:100%;">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 mh-100" style="min-height: calc(100vh - 70px - 60px); background:#83caca;">
               <!-- side panel -->
                <div class="row three">
                    <button class="btn" id="start_again"><i class="fa fa-home">Home</i></button>
                    <button class="btn"><i class="fa fa-close"></i> Close</button>
                    <button class="btn"><i class="fa fa-trash"></i> Trash</button>
                    <button class="btn" id="back_one_action"><i class="fa fa-arrow-circle-left"></i> Back</button>
                </div>

                <div class="row one" >

                    <b>Instructions</b>

                    <!-- login0: Page0 -->
                    <div class="loginStep">
                        Choose ID box<br>
                    </div>
                    <!-- login1: Page1 -->
                    <div class="loginStep">
                        Fill-in login id and Click next to Passowrd<br>
                    </div>
                    <!-- login2: Page2 -->
                    <div class="loginStep">
                        Choose password box<br>
                    </div>
                    <!-- login3: Page3 -->
                    <div class="loginStep">
                        Fill-in password and Click next to Button Click<br>
                    </div>
                    <!-- login3: Page3 -->
                    <div class="loginStep">
                        Click the button to Login-in to Main page<br>
                    </div>

                    <!-- Head0: Page0 -->
                    <div class="headStep">
                        Select one of them</br>
                        Data extraction</br>
                        Extraction after fill and click</br></br></br></br></br></br>
                    </div>
                    <!-- Head1: Page1 -->
                    <div class="headStep">
                        Fill and Click<br>
                    </div>
                    <!-- Head2: Page2 -->
                    <div class="headStep">
                        <br>
                    </div>
                    <!-- Head3: Page3 -->
                    <div class="headStep">
                        Please select a fill button to enter a value.<br>
                    </div>
                    <!-- Head4: Page4 -->
                    <div class="headStep">
                        Move Page <br>
                        Please click the page you want to move from the specified website.
                    </div>
                    <!-- Head5: Page5 -->
                    <div class="headStep">
                        Get text <br>
                        Please select the text data you want to retrieve on the specified web page. <br>
                        When selected, the selected part is displayed in red frame. <br>
                        To confirm, select "Next

                    </div>
                    <!-- Head6: Page6 -->
                    <div class="headStep">
                        Similar Choose<br>
                        Please choose Yes or No!!
                    </div>
                    <!-- Head7: Page7 -->
                    <div class="headStep">
                        Setting same row data <br>
                        Please select one data in the same row as the data (green) set in the previous step. <br>
                        If you are satisfied with the data displayed in red dotted line, please select "Next" button. <br>
                        Please click the page you want to move from the specified website.
                    </div>
                    <!-- Head8: Page8 -->
                    <div class="headStep">
                        Colummn name<br>
                        Please name the column!!<br>

                    </div>
                    <!-- Head9: Page9 -->
                    <div class="headStep">
                        Confirm Acquired Data <br>
                        To add a new column to this table, please select "Set additional data" button. <br>
                        If you do not need it any more, please select the "Next" button.
                    </div>
                    <!-- Head10: Page10 -->
                    <div class="headStep">
                        Pagination<br>
                        Please confirm pagination!!<br>
                    </div>
                    <!-- Head11: Page11 -->
                    <div class="headStep">
                        <h3>Project Name<br>
                            Please Input project name!!<br>
                        </h3>
                    </div>
                    <!-- Head12: Page12 -->
                    <div class="headStep">
                        <h3>Fill Text<br>
                            Please Input Fill text!!<br>
                        </h3>
                    </div>
                    <!-- Head13: Page13 -->
                    <div class="headStep">
                        <h3>Please select a table<br></h3>
                    </div>
                    <!-- Head14: Page14 -->
                    <div class="headStep">
                        <h3>Table type:<br>
                            Please select a table below!!<br>
                        </h3>
                    </div>
                    <!-- Head15: Page15 -->
                    <div class="headStep">
                        <h3>Column selection<br>
                            Please select a column below!!<br>
                        </h3>
                    </div>
                </div>

                <div class="row two">

                    <!-- Login0: Login confirm -->
                    <div class="loginConfig">
                        <button type="button" class="btn btn-primary btn-fill btn-info" id="action_login_confirm" disabled>ok</button></br></br>
                    </div>
                    <!-- Login1: Login fill -->
                    <div class="loginConfig">
                        <div><input type="text" id="action_login_text" placeholder="Login ID" style="display:block"></div>
                        <div><button type="button" class="btn btn-primary btn-fill btn-info" id="action_login_next">Next to Password</button></div>
                    </div>
                    <!-- Login2: Password confirm -->
                    <div class="loginConfig">
                        <button type="button" class="btn btn-primary btn-fill btn-info" id="action_password_confirm" disabled>ok</button></br></br>
                    </div>
                    <!-- Login3: Password fill -->
                    <div class="loginConfig">
                        <div><input type="password" id="action_password_text" placeholder="Password" style="display:block"></div>
                        <button type="button" class="btn btn-primary btn-fill btn-info" id="action_password_next">Next to Button Click</button>
                    </div>
                    <!-- Login2: Finish Login -->
                    <div class="loginConfig">
                        <button type="button" class="btn btn-primary btn-fill btn-info" id="finish_login" disabled>Login-in to Main Page</button></br></br>
                    </div>

                    <div class="projectStep">
                        No Filter: <button type="button" class="btn btn-primary btn-fill btn-info" id="action_extract" disabled>Data extraction</button></br></br>
                        Req Filter: <button type="button" class="btn btn-primary btn-fill btn-info" id="action_fc" disabled>Extraction after fill and click</button>
                    </div>
                    <!-- Page1: Fill and Click -->
                    <div class="projectStep">
                        <div><button type="button" class="btn btn-primary btn-fill btn-info" id="action_fill">Fill text field</button></div>
                        <div><button type="button" class="btn btn-primary btn-fill btn-info" id="action_click">Click/Filter</button></div>
                    </div>
                    <!-- Page2: Data Extraction -->
                    <div class="projectStep">
                        <button type="button" class="btn btn-primary btn-fill btn-info" id="action_text">text</button>
                        <button type="button" class="btn btn-primary btn-fill btn-info" id="action_url">url</button>
                        <button type="button" class="btn btn-primary btn-fill btn-info" id="action_img">image</button> </br>
                        <button type="button" class="btn btn-primary btn-fill btn-info" id="action_img_url">image url</button>
                        <button type="button" class="btn btn-primary btn-fill btn-info" id="action_table">table</button>
                        <button type="button" class="btn btn-primary btn-fill btn-info" id="action_file">file</button>
                    </div>
                    <!-- Page3: Fill button -->
                    <div class="projectStep">
                        <div><button type="button" class="btn btn-primary btn-fill btn-info" id="fill_confirm" disabled>OK</button></div>
                    </div>
                    <!-- Page4: Click button -->
                    <div class="projectStep">
                        <div><button  type="button" class="btn btn-primary btn-fill btn-info" id="click_confirm" disabled>OK</button></div>
                    </div>

                    <!-- Page5: Text button -->
                    <div class="projectStep">
                        <div><button id="simple_confirm" type="button" class="btn btn-primary btn-fill btn-info" disabled>OK</button></div>
                    </div>
                    <!-- Page6: Similar condition -->
                    <div class="projectStep">
                        <div><button id="similar_yes" class="btn btn-primary btn-fill btn-info">Yes</button></div>
                        <div><button id="similar_no" class="btn btn-primary btn-fill btn-info">No</button></div>
                    </div>
                    <!-- Page7: Similar confirm -->
                    <div class="projectStep">
                        <div><button id="similar_confirm" class="btn btn-primary btn-fill btn-info" type="button" disabled>OK</button></div>
                    </div>
                    <!-- Page8: Column Name Input -->
                    <div class="projectStep">
                        <div><input type="text" placeholder="Column name" style="display:block" id="column_text" ></div>
                        <div><button  type="button" class="btn btn-primary btn-fill btn-info" id="column_name">next</button></div>
                    </div>
                    <!-- Page9: (Return Action/ End) decision -->
                    <div class="projectStep">
                        <div><button type="button" class="btn btn-primary btn-fill btn-info"  id="continue_action">Set additional data</button></div>
                        <div><button  type="button" class="btn btn-primary btn-fill btn-info" id="next_to_pagination">next</button></div>
                    </div>
                    <!-- Page10: (Pagination Action/ Skip) decision -->
                    <div class="projectStep">
                        <div><input type="text" placeholder="Pagination number" value="2" style="display:block" id="pag_num" required></div>
                        <div><button id="pagination_confirm" class="btn btn-primary btn-fill btn-info" disabled>Next</button></div>
                        <div><button id="pagination_skip" class="btn btn-primary btn-fill btn-info">Skip</button></div>
                    </div>
                    <!-- Page11: Project Name and Finish -->
                    <div class="projectStep">
                        <div><input type="text" placeholder="Project name" style="display:block" id="project_name"></div>
                        <div><button  type="button" class="btn btn-primary btn-fill btn-info" id="finish">Project Done</button></div>
                    </div>

                    <!-- Page12: Fill Step and Next button-->
                    <div class="projectStep">
                        <div><input type="text" id="action_fill_text" style="display:block"></div>
                        <div><button type="button" class="btn btn-primary btn-fill btn-info" id="action_fill_next">Next to Click</button></div>
                    </div>

                    <!-- Page13: Table confirm -->
                    <div class="projectStep">
                        <div><button type="button" class="btn btn-primary btn-fill btn-info" id="action_table_confirm" disabled>ok</button></div>
                    </div>
                    <!-- Page14: Table decision -->
                    <div class="projectStep">
                        <div><button type="button" class="btn btn-primary btn-fill btn-info" id="action_col_confirm">Column Table</button></div>
                        <div><button type="button" class="btn btn-primary btn-fill btn-info" id="action_full_confirm">Full Table</button></div>
                    </div>
                    <!-- Page15: Column Add/ Next button -->
                    <div class="projectStep">
                        <div><button type="button" class="btn btn-primary btn-fill btn-info" id="action_add_col" disabled>Add column</button></div>
                        <div><button type="button" class="btn btn-primary btn-fill btn-info" id="action_col_next" disabled>Next</button></div>
                    </div>

                </div>
                <div class="row four">
                    <ul class="progressbar">
                        <li class="active">Extract</li>
                        <li id="p-pagination">Pagination</li>
                        <li id="p-finish">Finish</li>
                    </ul>
                </div>
        </div>

        <!--web panel-->
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 my-web-div mh-100 col-xs-4 panel" style="position: relative;">
            <div class="row panel-content">
                <div id="tdcontent">
                    <iframe src="" class="resp-iframe" id="iframe" gesture="media" style="height: 100%; background-color:black; override:hidden;" allow="encrypted-media" ></iframe>
                </div>
            </div>


            <!--preview panel-->
            <div class="row preview">
                <div id="widnow">
                    <div id="title_bar">
                        preview data
                        <div class="pre-size">
                            <i class="fa fa-window-minimize" id="min" aria-hidden="true"></i>
                            <i class="fa fa-window-maximize" id="max" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div id="box">
                        <!--<table id="dataTable" border="0" cellpadding="0" cellspacing="0" width="100%" class="scrollTable"></table>-->
                        <table id="dataTable" border="1" bgcolor="yellow"></table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    preview_height = $(".my-web-div").height()-$(".preview").height()
    $('#iframe').css('height', preview_height);
    $("#max, #min").click(function(){
        if($(this).attr("id") == "min"){
            $('.panel-content, #iframe').css('min-height', '700px');
            $('#min').css('display', 'none');
            $('#max').css('display', 'inline-block');
            $('#iframe').css('height', '100%');
        }
        else if($(this).attr("id") == "max"){
            $('.panel-content, #iframe').css('min-height', '500px');
            $('#max').css('display', 'none');
            $('#min').css('display', 'inline-block');
            $('#iframe').css('height', preview_height);
        }
        $("#box").toggle();
    });
</script>
{% endblock %}
